/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// IbanAPIService IbanAPI service
type IbanAPIService service

type ApiV1FinanceIbanBatchPostRequest struct {
	ctx context.Context
	ApiService *IbanAPIService
	v1FinanceIbanBatchPostRequest *V1FinanceIbanBatchPostRequest
}

func (r ApiV1FinanceIbanBatchPostRequest) V1FinanceIbanBatchPostRequest(v1FinanceIbanBatchPostRequest V1FinanceIbanBatchPostRequest) ApiV1FinanceIbanBatchPostRequest {
	r.v1FinanceIbanBatchPostRequest = &v1FinanceIbanBatchPostRequest
	return r
}

func (r ApiV1FinanceIbanBatchPostRequest) Execute() (*V1FinanceIbanBatchPost200Response, *http.Response, error) {
	return r.ApiService.V1FinanceIbanBatchPostExecute(r)
}

/*
V1FinanceIbanBatchPost Batch Validate IBANs

Validates up to 50 iban numbers in a single request. Results are returned in the same order as the input.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1FinanceIbanBatchPostRequest
*/
func (a *IbanAPIService) V1FinanceIbanBatchPost(ctx context.Context) ApiV1FinanceIbanBatchPostRequest {
	return ApiV1FinanceIbanBatchPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1FinanceIbanBatchPost200Response
func (a *IbanAPIService) V1FinanceIbanBatchPostExecute(r ApiV1FinanceIbanBatchPostRequest) (*V1FinanceIbanBatchPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1FinanceIbanBatchPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IbanAPIService.V1FinanceIbanBatchPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/iban/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.v1FinanceIbanBatchPostRequest == nil {
		return localVarReturnValue, nil, reportError("v1FinanceIbanBatchPostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.v1FinanceIbanBatchPostRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1FinanceIbanIbanGetRequest struct {
	ctx context.Context
	ApiService *IbanAPIService
	iban string
}

func (r ApiV1FinanceIbanIbanGetRequest) Execute() (*V1FinanceIbanIbanGet200Response, *http.Response, error) {
	return r.ApiService.V1FinanceIbanIbanGetExecute(r)
}

/*
V1FinanceIbanIbanGet Validate IBAN

Validates an IBAN and returns the country, bank code, and account number. Spaces in the input are stripped automatically. Always returns HTTP 200 — check the valid field to determine whether the IBAN is valid.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param iban The IBAN to validate. Spaces are stripped. Case-insensitive.
 @return ApiV1FinanceIbanIbanGetRequest
*/
func (a *IbanAPIService) V1FinanceIbanIbanGet(ctx context.Context, iban string) ApiV1FinanceIbanIbanGetRequest {
	return ApiV1FinanceIbanIbanGetRequest{
		ApiService: a,
		ctx: ctx,
		iban: iban,
	}
}

// Execute executes the request
//  @return V1FinanceIbanIbanGet200Response
func (a *IbanAPIService) V1FinanceIbanIbanGetExecute(r ApiV1FinanceIbanIbanGetRequest) (*V1FinanceIbanIbanGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1FinanceIbanIbanGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IbanAPIService.V1FinanceIbanIbanGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/iban/{iban}"
	localVarPath = strings.Replace(localVarPath, "{"+"iban"+"}", url.PathEscape(parameterValueToString(r.iban, "iban")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
