/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// LoremIpsumAPIService LoremIpsumAPI service
type LoremIpsumAPIService service

type ApiV1TextLoremGetRequest struct {
	ctx context.Context
	ApiService *LoremIpsumAPIService
	paragraphs *int32
	sentences *int32
}

// Number of paragraphs to generate (1-20)
func (r ApiV1TextLoremGetRequest) Paragraphs(paragraphs int32) ApiV1TextLoremGetRequest {
	r.paragraphs = &paragraphs
	return r
}

// Number of sentences per paragraph (1-20)
func (r ApiV1TextLoremGetRequest) Sentences(sentences int32) ApiV1TextLoremGetRequest {
	r.sentences = &sentences
	return r
}

func (r ApiV1TextLoremGetRequest) Execute() (*V1TextLoremGet200Response, *http.Response, error) {
	return r.ApiService.V1TextLoremGetExecute(r)
}

/*
V1TextLoremGet Generate Lorem Ipsum

Generate Lorem Ipsum placeholder text with customizable length and format

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1TextLoremGetRequest
*/
func (a *LoremIpsumAPIService) V1TextLoremGet(ctx context.Context) ApiV1TextLoremGetRequest {
	return ApiV1TextLoremGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1TextLoremGet200Response
func (a *LoremIpsumAPIService) V1TextLoremGetExecute(r ApiV1TextLoremGetRequest) (*V1TextLoremGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1TextLoremGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LoremIpsumAPIService.V1TextLoremGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/text/lorem"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paragraphs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paragraphs", r.paragraphs, "form", "")
	}
	if r.sentences != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sentences", r.sentences, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
