/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// MortgageAPIService MortgageAPI service
type MortgageAPIService service

type ApiV1FinanceMortgageGetRequest struct {
	ctx context.Context
	ApiService *MortgageAPIService
	principal *float32
	rate *float32
	years *int32
}

// Loan amount in your chosen currency (e.g. 300000 for $300,000)
func (r ApiV1FinanceMortgageGetRequest) Principal(principal float32) ApiV1FinanceMortgageGetRequest {
	r.principal = &principal
	return r
}

// Annual interest rate as a percentage (e.g. 6.5 for 6.5%). Must be greater than 0.
func (r ApiV1FinanceMortgageGetRequest) Rate(rate float32) ApiV1FinanceMortgageGetRequest {
	r.rate = &rate
	return r
}

// Loan term in years (1–50)
func (r ApiV1FinanceMortgageGetRequest) Years(years int32) ApiV1FinanceMortgageGetRequest {
	r.years = &years
	return r
}

func (r ApiV1FinanceMortgageGetRequest) Execute() (*V1FinanceMortgageGet200Response, *http.Response, error) {
	return r.ApiService.V1FinanceMortgageGetExecute(r)
}

/*
V1FinanceMortgageGet Calculate Mortgage

Returns the monthly payment, total cost, and full amortization schedule for a fixed-rate mortgage.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1FinanceMortgageGetRequest
*/
func (a *MortgageAPIService) V1FinanceMortgageGet(ctx context.Context) ApiV1FinanceMortgageGetRequest {
	return ApiV1FinanceMortgageGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1FinanceMortgageGet200Response
func (a *MortgageAPIService) V1FinanceMortgageGetExecute(r ApiV1FinanceMortgageGetRequest) (*V1FinanceMortgageGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1FinanceMortgageGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MortgageAPIService.V1FinanceMortgageGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/mortgage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.principal == nil {
		return localVarReturnValue, nil, reportError("principal is required and must be specified")
	}
	if r.rate == nil {
		return localVarReturnValue, nil, reportError("rate is required and must be specified")
	}
	if r.years == nil {
		return localVarReturnValue, nil, reportError("years is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "principal", r.principal, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "rate", r.rate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "years", r.years, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
