/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// QrCodeAPIService QrCodeAPI service
type QrCodeAPIService service

type ApiV1TechnologyQrBase64GetRequest struct {
	ctx context.Context
	ApiService *QrCodeAPIService
	data *string
	size *int32
	recovery *string
}

// The text or URL to encode in the QR code
func (r ApiV1TechnologyQrBase64GetRequest) Data(data string) ApiV1TechnologyQrBase64GetRequest {
	r.data = &data
	return r
}

// Image size in pixels (default: 256, min: 50, max: 1000)
func (r ApiV1TechnologyQrBase64GetRequest) Size(size int32) ApiV1TechnologyQrBase64GetRequest {
	r.size = &size
	return r
}

// Error-correction level: low (7%), medium (15%), high (25%), highest (30%). Default: medium
func (r ApiV1TechnologyQrBase64GetRequest) Recovery(recovery string) ApiV1TechnologyQrBase64GetRequest {
	r.recovery = &recovery
	return r
}

func (r ApiV1TechnologyQrBase64GetRequest) Execute() (*V1TechnologyQrBase64Get200Response, *http.Response, error) {
	return r.ApiService.V1TechnologyQrBase64GetExecute(r)
}

/*
V1TechnologyQrBase64Get Generate QR Code (Base64 JSON)

Returns a JSON envelope containing the QR code as a base64-encoded PNG string, along with its dimensions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1TechnologyQrBase64GetRequest
*/
func (a *QrCodeAPIService) V1TechnologyQrBase64Get(ctx context.Context) ApiV1TechnologyQrBase64GetRequest {
	return ApiV1TechnologyQrBase64GetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1TechnologyQrBase64Get200Response
func (a *QrCodeAPIService) V1TechnologyQrBase64GetExecute(r ApiV1TechnologyQrBase64GetRequest) (*V1TechnologyQrBase64Get200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1TechnologyQrBase64Get200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QrCodeAPIService.V1TechnologyQrBase64Get")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/technology/qr/base64"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "data", r.data, "form", "")
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.recovery != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recovery", r.recovery, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1TechnologyQrGetRequest struct {
	ctx context.Context
	ApiService *QrCodeAPIService
	data *string
	size *int32
	recovery *string
}

// The text or URL to encode in the QR code
func (r ApiV1TechnologyQrGetRequest) Data(data string) ApiV1TechnologyQrGetRequest {
	r.data = &data
	return r
}

// Image size in pixels (default: 256, min: 50, max: 1000)
func (r ApiV1TechnologyQrGetRequest) Size(size int32) ApiV1TechnologyQrGetRequest {
	r.size = &size
	return r
}

// Error-correction level: low (7%), medium (15%), high (25%), highest (30%). Higher levels are more robust to physical damage but produce larger images. Default: medium
func (r ApiV1TechnologyQrGetRequest) Recovery(recovery string) ApiV1TechnologyQrGetRequest {
	r.recovery = &recovery
	return r
}

func (r ApiV1TechnologyQrGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V1TechnologyQrGetExecute(r)
}

/*
V1TechnologyQrGet Generate QR Code (PNG)

Returns a raw PNG image of the QR code. Ideal for direct embedding or file download.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1TechnologyQrGetRequest
*/
func (a *QrCodeAPIService) V1TechnologyQrGet(ctx context.Context) ApiV1TechnologyQrGetRequest {
	return ApiV1TechnologyQrGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *QrCodeAPIService) V1TechnologyQrGetExecute(r ApiV1TechnologyQrGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QrCodeAPIService.V1TechnologyQrGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/technology/qr"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return nil, reportError("data is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "data", r.data, "form", "")
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.recovery != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "recovery", r.recovery, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
