/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CommoditiesAPIService CommoditiesAPI service
type CommoditiesAPIService service

type ApiV1FinanceCommoditiesCommodityGetRequest struct {
	ctx context.Context
	ApiService *CommoditiesAPIService
	commodity string
}

func (r ApiV1FinanceCommoditiesCommodityGetRequest) Execute() (*V1FinanceCommoditiesCommodityGet200Response, *http.Response, error) {
	return r.ApiService.V1FinanceCommoditiesCommodityGetExecute(r)
}

/*
V1FinanceCommoditiesCommodityGet Get Commodity Price

Returns the latest annual average price and up to 10 years of historical data for the requested commodity slug.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param commodity Commodity slug (e.g. gold, silver, oil). See supported slugs below.
 @return ApiV1FinanceCommoditiesCommodityGetRequest
*/
func (a *CommoditiesAPIService) V1FinanceCommoditiesCommodityGet(ctx context.Context, commodity string) ApiV1FinanceCommoditiesCommodityGetRequest {
	return ApiV1FinanceCommoditiesCommodityGetRequest{
		ApiService: a,
		ctx: ctx,
		commodity: commodity,
	}
}

// Execute executes the request
//  @return V1FinanceCommoditiesCommodityGet200Response
func (a *CommoditiesAPIService) V1FinanceCommoditiesCommodityGetExecute(r ApiV1FinanceCommoditiesCommodityGetRequest) (*V1FinanceCommoditiesCommodityGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1FinanceCommoditiesCommodityGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommoditiesAPIService.V1FinanceCommoditiesCommodityGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/commodities/{commodity}"
	localVarPath = strings.Replace(localVarPath, "{"+"commodity"+"}", url.PathEscape(parameterValueToString(r.commodity, "commodity")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
