/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// DataFormatConversionAPIService DataFormatConversionAPI service
type DataFormatConversionAPIService service

type ApiV1TechnologyFormatPostRequest struct {
	ctx context.Context
	ApiService *DataFormatConversionAPIService
	v1TechnologyFormatPostRequest *V1TechnologyFormatPostRequest
}

func (r ApiV1TechnologyFormatPostRequest) V1TechnologyFormatPostRequest(v1TechnologyFormatPostRequest V1TechnologyFormatPostRequest) ApiV1TechnologyFormatPostRequest {
	r.v1TechnologyFormatPostRequest = &v1TechnologyFormatPostRequest
	return r
}

func (r ApiV1TechnologyFormatPostRequest) Execute() (*V1TechnologyFormatPost200Response, *http.Response, error) {
	return r.ApiService.V1TechnologyFormatPostExecute(r)
}

/*
V1TechnologyFormatPost Convert Format

Convert content from one structured data format to another. Supported formats: json, yaml, csv, xml, toml.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1TechnologyFormatPostRequest
*/
func (a *DataFormatConversionAPIService) V1TechnologyFormatPost(ctx context.Context) ApiV1TechnologyFormatPostRequest {
	return ApiV1TechnologyFormatPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1TechnologyFormatPost200Response
func (a *DataFormatConversionAPIService) V1TechnologyFormatPostExecute(r ApiV1TechnologyFormatPostRequest) (*V1TechnologyFormatPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1TechnologyFormatPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataFormatConversionAPIService.V1TechnologyFormatPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/technology/format"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.v1TechnologyFormatPostRequest == nil {
		return localVarReturnValue, nil, reportError("v1TechnologyFormatPostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.v1TechnologyFormatPostRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
