/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PasswordGeneratorAPIService PasswordGeneratorAPI service
type PasswordGeneratorAPIService service

type ApiV1TechnologyPasswordGetRequest struct {
	ctx context.Context
	ApiService *PasswordGeneratorAPIService
	length *int32
	uppercase *bool
	numbers *bool
	symbols *bool
}

// Password length (8-128 characters)
func (r ApiV1TechnologyPasswordGetRequest) Length(length int32) ApiV1TechnologyPasswordGetRequest {
	r.length = &length
	return r
}

// Include uppercase letters (A-Z)
func (r ApiV1TechnologyPasswordGetRequest) Uppercase(uppercase bool) ApiV1TechnologyPasswordGetRequest {
	r.uppercase = &uppercase
	return r
}

// Include numbers (0-9)
func (r ApiV1TechnologyPasswordGetRequest) Numbers(numbers bool) ApiV1TechnologyPasswordGetRequest {
	r.numbers = &numbers
	return r
}

// Include special characters (!@#$%^&amp;*()-_&#x3D;+[]{}|;:,.&lt;&gt;?)
func (r ApiV1TechnologyPasswordGetRequest) Symbols(symbols bool) ApiV1TechnologyPasswordGetRequest {
	r.symbols = &symbols
	return r
}

func (r ApiV1TechnologyPasswordGetRequest) Execute() (*V1TechnologyPasswordGet200Response, *http.Response, error) {
	return r.ApiService.V1TechnologyPasswordGetExecute(r)
}

/*
V1TechnologyPasswordGet Generate Password

Generate a cryptographically secure random password with customizable character sets and length

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1TechnologyPasswordGetRequest
*/
func (a *PasswordGeneratorAPIService) V1TechnologyPasswordGet(ctx context.Context) ApiV1TechnologyPasswordGetRequest {
	return ApiV1TechnologyPasswordGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1TechnologyPasswordGet200Response
func (a *PasswordGeneratorAPIService) V1TechnologyPasswordGetExecute(r ApiV1TechnologyPasswordGetRequest) (*V1TechnologyPasswordGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1TechnologyPasswordGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PasswordGeneratorAPIService.V1TechnologyPasswordGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/technology/password"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.length != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "length", r.length, "form", "")
	}
	if r.uppercase != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uppercase", r.uppercase, "form", "")
	}
	if r.numbers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "numbers", r.numbers, "form", "")
	}
	if r.symbols != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "symbols", r.symbols, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
