/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SpellCheckAPIService SpellCheckAPI service
type SpellCheckAPIService service

type ApiV1TextSpellcheckPostRequest struct {
	ctx context.Context
	ApiService *SpellCheckAPIService
	v1TextSpellcheckPostRequest *V1TextSpellcheckPostRequest
}

func (r ApiV1TextSpellcheckPostRequest) V1TextSpellcheckPostRequest(v1TextSpellcheckPostRequest V1TextSpellcheckPostRequest) ApiV1TextSpellcheckPostRequest {
	r.v1TextSpellcheckPostRequest = &v1TextSpellcheckPostRequest
	return r
}

func (r ApiV1TextSpellcheckPostRequest) Execute() (*V1TextSpellcheckPost200Response, *http.Response, error) {
	return r.ApiService.V1TextSpellcheckPostExecute(r)
}

/*
V1TextSpellcheckPost Check Spelling

Checks the input text for spelling mistakes and returns a corrected version along with per-word corrections.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1TextSpellcheckPostRequest
*/
func (a *SpellCheckAPIService) V1TextSpellcheckPost(ctx context.Context) ApiV1TextSpellcheckPostRequest {
	return ApiV1TextSpellcheckPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1TextSpellcheckPost200Response
func (a *SpellCheckAPIService) V1TextSpellcheckPostExecute(r ApiV1TextSpellcheckPostRequest) (*V1TextSpellcheckPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1TextSpellcheckPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpellCheckAPIService.V1TextSpellcheckPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/text/spellcheck"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.v1TextSpellcheckPostRequest == nil {
		return localVarReturnValue, nil, reportError("v1TextSpellcheckPostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.v1TextSpellcheckPostRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
