/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// WorkingDaysAPIService WorkingDaysAPI service
type WorkingDaysAPIService service

type ApiV1PlacesWorkingDaysGetRequest struct {
	ctx context.Context
	ApiService *WorkingDaysAPIService
	from *string
	to *string
	country *string
	subdivision *string
}

// Start date in YYYY-MM-DD format (ISO 8601)
func (r ApiV1PlacesWorkingDaysGetRequest) From(from string) ApiV1PlacesWorkingDaysGetRequest {
	r.from = &from
	return r
}

// End date in YYYY-MM-DD format (ISO 8601). Must be &gt;&#x3D; from date.
func (r ApiV1PlacesWorkingDaysGetRequest) To(to string) ApiV1PlacesWorkingDaysGetRequest {
	r.to = &to
	return r
}

// ISO 3166-1 alpha-2 country code (e.g., \&quot;US\&quot;, \&quot;GB\&quot;, \&quot;FR\&quot;). When provided, country-specific holidays are excluded from working days count.
func (r ApiV1PlacesWorkingDaysGetRequest) Country(country string) ApiV1PlacesWorkingDaysGetRequest {
	r.country = &country
	return r
}

// ISO 3166-2 subdivision code for state/region within the country (e.g., \&quot;NY\&quot; for New York, \&quot;CA\&quot; for California). Only used when country is provided.
func (r ApiV1PlacesWorkingDaysGetRequest) Subdivision(subdivision string) ApiV1PlacesWorkingDaysGetRequest {
	r.subdivision = &subdivision
	return r
}

func (r ApiV1PlacesWorkingDaysGetRequest) Execute() (*V1PlacesWorkingDaysGet200Response, *http.Response, error) {
	return r.ApiService.V1PlacesWorkingDaysGetExecute(r)
}

/*
V1PlacesWorkingDaysGet Calculate Working Days

Calculate the number of working days between two dates, optionally accounting for country-specific holidays

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1PlacesWorkingDaysGetRequest
*/
func (a *WorkingDaysAPIService) V1PlacesWorkingDaysGet(ctx context.Context) ApiV1PlacesWorkingDaysGetRequest {
	return ApiV1PlacesWorkingDaysGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1PlacesWorkingDaysGet200Response
func (a *WorkingDaysAPIService) V1PlacesWorkingDaysGetExecute(r ApiV1PlacesWorkingDaysGetRequest) (*V1PlacesWorkingDaysGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1PlacesWorkingDaysGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkingDaysAPIService.V1PlacesWorkingDaysGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/places/working-days"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.subdivision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subdivision", r.subdivision, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
