/*
Requiems API

Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SwiftCodeAPIService SwiftCodeAPI service
type SwiftCodeAPIService service

type ApiV1FinanceSwiftCodeGetRequest struct {
	ctx context.Context
	ApiService *SwiftCodeAPIService
	code string
}

func (r ApiV1FinanceSwiftCodeGetRequest) Execute() (*V1FinanceSwiftCodeGet200Response, *http.Response, error) {
	return r.ApiService.V1FinanceSwiftCodeGetExecute(r)
}

/*
V1FinanceSwiftCodeGet Get SWIFT Code

Look up bank metadata for a SWIFT/BIC code.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param code SWIFT/BIC code (8 or 11 alphanumeric characters)
 @return ApiV1FinanceSwiftCodeGetRequest
*/
func (a *SwiftCodeAPIService) V1FinanceSwiftCodeGet(ctx context.Context, code string) ApiV1FinanceSwiftCodeGetRequest {
	return ApiV1FinanceSwiftCodeGetRequest{
		ApiService: a,
		ctx: ctx,
		code: code,
	}
}

// Execute executes the request
//  @return V1FinanceSwiftCodeGet200Response
func (a *SwiftCodeAPIService) V1FinanceSwiftCodeGetExecute(r ApiV1FinanceSwiftCodeGetRequest) (*V1FinanceSwiftCodeGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1FinanceSwiftCodeGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SwiftCodeAPIService.V1FinanceSwiftCodeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/swift/{code}"
	localVarPath = strings.Replace(localVarPath, "{"+"code"+"}", url.PathEscape(parameterValueToString(r.code, "code")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1FinanceSwiftGetRequest struct {
	ctx context.Context
	ApiService *SwiftCodeAPIService
	countryCode *string
	bankCode *string
	q *string
	limit *int32
	offset *int32
}

// Optional 2-letter country code filter (e.g. DE, US)
func (r ApiV1FinanceSwiftGetRequest) CountryCode(countryCode string) ApiV1FinanceSwiftGetRequest {
	r.countryCode = &countryCode
	return r
}

// Optional 4-letter bank code filter (e.g. DEUT)
func (r ApiV1FinanceSwiftGetRequest) BankCode(bankCode string) ApiV1FinanceSwiftGetRequest {
	r.bankCode = &bankCode
	return r
}

// Optional text search across swift_code, bank_name, and city
func (r ApiV1FinanceSwiftGetRequest) Q(q string) ApiV1FinanceSwiftGetRequest {
	r.q = &q
	return r
}

// Max rows to return (default 50, max 200)
func (r ApiV1FinanceSwiftGetRequest) Limit(limit int32) ApiV1FinanceSwiftGetRequest {
	r.limit = &limit
	return r
}

// Number of rows to skip (default 0)
func (r ApiV1FinanceSwiftGetRequest) Offset(offset int32) ApiV1FinanceSwiftGetRequest {
	r.offset = &offset
	return r
}

func (r ApiV1FinanceSwiftGetRequest) Execute() (*V1HealthExercisesRandomGet200Response, *http.Response, error) {
	return r.ApiService.V1FinanceSwiftGetExecute(r)
}

/*
V1FinanceSwiftGet List SWIFT Codes

List SWIFT records with optional filters and pagination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1FinanceSwiftGetRequest
*/
func (a *SwiftCodeAPIService) V1FinanceSwiftGet(ctx context.Context) ApiV1FinanceSwiftGetRequest {
	return ApiV1FinanceSwiftGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return V1HealthExercisesRandomGet200Response
func (a *SwiftCodeAPIService) V1FinanceSwiftGetExecute(r ApiV1FinanceSwiftGetRequest) (*V1HealthExercisesRandomGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *V1HealthExercisesRandomGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SwiftCodeAPIService.V1FinanceSwiftGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finance/swift"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.countryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country_code", r.countryCode, "form", "")
	}
	if r.bankCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bank_code", r.bankCode, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["requiems-api-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["requiems-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
