{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.",
        "title": "Requiems API",
        "contact": {},
        "version": "1.0.0"
    },
    "host": "api.requiems.xyz",
    "paths": {
        "/v1/entertainment/advice": {
            "get": {
                "description": "Returns a single random piece of advice from the curated collection of wisdom.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "advice"
                ],
                "summary": "Get a random piece of advice",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-advice_Advice"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/advice/batch": {
            "post": {
                "description": "Returns a batch of random pieces of advice from the curated collection.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "advice"
                ],
                "summary": "Get random advice in bulk",
                "parameters": [
                    {
                        "description": "Batch request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/advice.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-advice_Advice"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/chuck-norris": {
            "get": {
                "description": "Returns a randomly selected Chuck Norris fact.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "chuck-norris"
                ],
                "summary": "Get Random Chuck Norris Fact",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-chucknorris_Fact"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/chuck-norris/batch": {
            "post": {
                "description": "Returns up to 50 random Chuck Norris facts.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "chuck-norris"
                ],
                "summary": "Get Random Chuck Norris Facts (Batch)",
                "parameters": [
                    {
                        "description": "Number of facts to return",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/chucknorris.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-chucknorris_Fact"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/emoji/random": {
            "get": {
                "description": "Returns a randomly selected emoji with its full metadata.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "emoji"
                ],
                "summary": "Get Random Emoji",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-emoji_Emoji"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/emoji/search": {
            "get": {
                "description": "Search emojis whose name or category contains the query string (case-insensitive).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "emoji"
                ],
                "summary": "Search Emoji",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Search term",
                        "name": "q",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-emoji_List"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/emoji/{name}": {
            "get": {
                "description": "Returns a specific emoji by its CLDR snake_case name (case-insensitive).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "emoji"
                ],
                "summary": "Get Emoji by Name",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Emoji name (e.g. grinning_face, thumbs_up)",
                        "name": "name",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-emoji_Emoji"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/facts": {
            "get": {
                "description": "Returns a randomly selected fact, optionally filtered by category.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "facts"
                ],
                "summary": "Get Random Fact",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Category filter: science, history, technology, nature, space, food",
                        "name": "category",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-facts_Fact"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/facts/batch": {
            "post": {
                "description": "Returns up to 50 random facts, one per requested category.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "facts"
                ],
                "summary": "Get Random Facts (Batch)",
                "parameters": [
                    {
                        "description": "List of categories to fetch facts for",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/facts.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-facts_BatchItem"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/horoscope/batch": {
            "post": {
                "description": "Returns up to 12 daily horoscopes.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "horoscope"
                ],
                "summary": "Batch Daily Horoscopes",
                "parameters": [
                    {
                        "description": "List of zodiac signs",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/horoscope.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-horoscope_Horoscope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/horoscope/{sign}": {
            "get": {
                "description": "Returns a daily horoscope reading for the specified zodiac sign.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "horoscope"
                ],
                "summary": "Get Daily Horoscope",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Zodiac sign (case-insensitive): aries … pisces",
                        "name": "sign",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-horoscope_Horoscope"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/jokes/dad": {
            "get": {
                "description": "Returns a randomly selected dad joke from the collection.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "dad-jokes"
                ],
                "summary": "Get Random Dad Joke",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-jokes_DadJoke"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/jokes/dad/batch": {
            "post": {
                "description": "Returns up to 50 random dad jokes.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "dad-jokes"
                ],
                "summary": "Get Random Dad Jokes (Batch)",
                "parameters": [
                    {
                        "description": "Number of jokes to return",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/jokes.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-jokes_DadJoke"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/quotes/random": {
            "get": {
                "description": "Returns a random inspirational quote with author attribution.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "quotes"
                ],
                "summary": "Get Random Quote",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-quotes_Quote"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/quotes/random/batch": {
            "post": {
                "description": "Returns up to 50 random quotes; each quote = 1 unit of usage.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "quotes"
                ],
                "summary": "Get Random Quotes (Batch)",
                "parameters": [
                    {
                        "description": "Number of quotes to return",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/quotes.BatchRandomRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-quotes_BatchRandomResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/sudoku": {
            "get": {
                "description": "Returns a randomly generated Sudoku puzzle and its solution. Difficulty defaults to medium.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sudoku"
                ],
                "summary": "Get Sudoku Puzzle",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Puzzle difficulty: easy, medium, hard (default medium)",
                        "name": "difficulty",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-requiems-api_services_entertainment_sudoku_Puzzle"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/sudoku/batch": {
            "post": {
                "description": "Generate up to 20 Sudoku puzzles. Each puzzle = 1 unit of usage.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "sudoku"
                ],
                "summary": "Batch Generate Sudoku Puzzles",
                "parameters": [
                    {
                        "description": "List of puzzle difficulties",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/sudoku.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-requiems-api_services_entertainment_sudoku_Puzzle"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/trivia": {
            "get": {
                "description": "Returns a random trivia question with multiple-choice answers. Optional category and difficulty filters.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "trivia"
                ],
                "summary": "Get Trivia Question",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Category filter: science, history, geography, sports, music, movies, literature, math, technology, nature",
                        "name": "category",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Difficulty filter: easy, medium, hard",
                        "name": "difficulty",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-trivia_Question"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/entertainment/trivia/batch": {
            "post": {
                "description": "Returns up to 50 trivia questions.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "trivia"
                ],
                "summary": "Get Batch Trivia Questions",
                "parameters": [
                    {
                        "description": "List of category/difficulty filters",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/trivia.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-trivia_BatchResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/bin/batch": {
            "post": {
                "description": "Looks up card metadata for up to 50 BIN prefixes.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bin-lookup"
                ],
                "summary": "BIN Lookup (Batch)",
                "parameters": [
                    {
                        "description": "List of BIN prefixes",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bin.BatchBINRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-bin_BatchBINItem"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/bin/{bin}": {
            "get": {
                "description": "Returns card metadata for the given 6–8 digit BIN prefix.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "bin-lookup"
                ],
                "summary": "BIN Lookup",
                "parameters": [
                    {
                        "type": "string",
                        "description": "6–8 digit BIN prefix",
                        "name": "bin",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-bin_LookupResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/commodities/batch": {
            "post": {
                "description": "Returns latest prices for up to 20 commodity slugs.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "commodities"
                ],
                "summary": "Get Commodity Prices (Batch)",
                "parameters": [
                    {
                        "description": "List of commodity slugs",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commodities.BatchSlugsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-commodities_BatchCommodityItem"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/commodities/{commodity}": {
            "get": {
                "description": "Returns latest annual average price and up to 10 years of history for the commodity slug.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "commodities"
                ],
                "summary": "Get Commodity Price",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Commodity slug (e.g. gold, silver, oil)",
                        "name": "commodity",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-commodities_CommodityPrice"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/convert": {
            "get": {
                "description": "Converts an amount from one currency to another and returns the rate alongside the converted value.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "exchange-rate"
                ],
                "summary": "Convert Currency",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ISO 4217 source currency code (e.g. USD)",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ISO 4217 target currency code (e.g. EUR)",
                        "name": "to",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Amount to convert; must be greater than 0",
                        "name": "amount",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-exchange_ConvertResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/crypto/batch": {
            "post": {
                "description": "Returns current prices for up to 20 cryptocurrency symbols.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "crypto"
                ],
                "summary": "Get Crypto Prices (Batch)",
                "parameters": [
                    {
                        "description": "List of cryptocurrency symbols",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/cryptocoin.BatchSymbolsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-cryptocoin_BatchPriceItem"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/crypto/{symbol}": {
            "get": {
                "description": "Returns current price data for the given cryptocurrency symbol.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "crypto"
                ],
                "summary": "Get Crypto Price",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Uppercase ticker (e.g. BTC, ETH, SOL)",
                        "name": "symbol",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-cryptocoin_Price"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/exchange-rate": {
            "get": {
                "description": "Returns the current exchange rate between two currencies.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "exchange-rate"
                ],
                "summary": "Get Exchange Rate",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ISO 4217 source currency code (e.g. USD)",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ISO 4217 target currency code (e.g. EUR)",
                        "name": "to",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-exchange_RateResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/iban/batch": {
            "post": {
                "description": "Validates up to 50 IBANs in a single request; results in input order.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "iban"
                ],
                "summary": "Batch Validate IBANs",
                "parameters": [
                    {
                        "description": "List of IBANs to validate",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/iban.BatchParseRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-iban_ParseResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/iban/{iban}": {
            "get": {
                "description": "Validates an IBAN and returns country, bank code, and account number. Always returns HTTP 200 — check the `valid` field.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "iban"
                ],
                "summary": "Validate IBAN",
                "parameters": [
                    {
                        "type": "string",
                        "description": "IBAN to validate (case-insensitive, spaces stripped)",
                        "name": "iban",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-iban_ParseResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/inflation": {
            "get": {
                "description": "Returns latest annual CPI inflation rate for a country plus previous 10 years.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inflation"
                ],
                "summary": "Get Inflation Rate",
                "parameters": [
                    {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code (case-insensitive)",
                        "name": "country",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-inflation_Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/inflation/batch": {
            "post": {
                "description": "Returns inflation data for up to 50 countries; countries with no data return `found: false`. Billing: 1 credit per country.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "inflation"
                ],
                "summary": "Batch Inflation Rates",
                "parameters": [
                    {
                        "description": "List of ISO country codes",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/inflation.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-inflation_BatchItem"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/mortgage": {
            "get": {
                "description": "Returns monthly payment, total cost, and full amortization schedule.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mortgage"
                ],
                "summary": "Calculate Mortgage",
                "parameters": [
                    {
                        "type": "number",
                        "description": "Loan amount",
                        "name": "principal",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Annual interest rate in percent, greater than 0",
                        "name": "rate",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Loan term in years (1–50)",
                        "name": "years",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-mortgage_Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/mortgage/batch": {
            "post": {
                "description": "Calculates up to 50 mortgages in a single request.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mortgage"
                ],
                "summary": "Batch Calculate Mortgages",
                "parameters": [
                    {
                        "description": "List of mortgage parameters",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mortgage.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-mortgage_Response"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/swift": {
            "get": {
                "description": "Lists SWIFT records with optional filters and pagination.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "swift-code"
                ],
                "summary": "List SWIFT Codes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "2-letter country filter (e.g. DE)",
                        "name": "country_code",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "4-letter bank code filter (e.g. DEUT)",
                        "name": "bank_code",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Text search across swift_code, bank_name, city",
                        "name": "q",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Maximum results (default 50, max 200)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Result offset (default 0)",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-swift_ListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/finance/swift/{code}": {
            "get": {
                "description": "Looks up bank metadata for a SWIFT/BIC code.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "swift-code"
                ],
                "summary": "Get SWIFT Code",
                "parameters": [
                    {
                        "type": "string",
                        "description": "8 or 11 alphanumeric characters",
                        "name": "code",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-swift_LookupResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/health/body-parts": {
            "get": {
                "description": "Returns a sorted list of all distinct body part values.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fitness-exercises"
                ],
                "summary": "List Body Parts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-exercises_StringList"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/health/equipment": {
            "get": {
                "description": "Returns a sorted list of all distinct equipment types.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fitness-exercises"
                ],
                "summary": "List Equipment",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-exercises_StringList"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/health/exercises": {
            "get": {
                "description": "Returns a paginated list of exercises. All filter parameters are optional and combinable.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fitness-exercises"
                ],
                "summary": "List Exercises",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Body part filter (e.g. chest). Valid values via /v1/health/body-parts",
                        "name": "body_part",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Equipment filter (e.g. barbell). Valid values via /v1/health/equipment",
                        "name": "equipment",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Muscle filter (e.g. biceps). Valid values via /v1/health/muscles",
                        "name": "muscle",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full-text search on exercise name",
                        "name": "search",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Results per page, 1–100 (default 20)",
                        "name": "per_page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-exercises_ExerciseList"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/health/exercises/batch": {
            "post": {
                "description": "Fetches up to 50 exercises by numeric IDs. Non-existent IDs are silently skipped.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fitness-exercises"
                ],
                "summary": "Batch Get Exercises",
                "parameters": [
                    {
                        "description": "List of exercise IDs",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/exercises.BatchGetRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-exercises_BatchExerciseResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/health/exercises/random": {
            "get": {
                "description": "Returns a single randomly selected exercise, accepting the same filters as the list endpoint.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fitness-exercises"
                ],
                "summary": "Random Exercise",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Body part filter (e.g. chest)",
                        "name": "body_part",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Equipment filter (e.g. barbell)",
                        "name": "equipment",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Muscle filter (e.g. biceps)",
                        "name": "muscle",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Full-text search on exercise name",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-exercises_Exercise"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/health/exercises/{id}": {
            "get": {
                "description": "Returns a single exercise by its numeric ID.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fitness-exercises"
                ],
                "summary": "Exercise by ID",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Numeric exercise ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-exercises_Exercise"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/health/muscles": {
            "get": {
                "description": "Returns a sorted list of all distinct muscle names.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fitness-exercises"
                ],
                "summary": "List Muscles",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-exercises_StringList"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/disposable/batch": {
            "post": {
                "description": "Validates up to 100 email addresses for disposable domains.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "disposable-email"
                ],
                "summary": "Check Batch Emails",
                "parameters": [
                    {
                        "description": "List of email addresses to check",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/disposable.BatchCheckRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-disposable_CheckEmailResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/disposable/check": {
            "post": {
                "description": "Validates whether an email address uses a disposable domain.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "disposable-email"
                ],
                "summary": "Check Single Email",
                "parameters": [
                    {
                        "description": "Email address to check",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/disposable.CheckEmailRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-disposable_CheckEmailResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/disposable/domain/{domain}": {
            "get": {
                "description": "Checks if a specific domain is in the disposable blocklist.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "disposable-email"
                ],
                "summary": "Check Domain",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Domain to check (e.g. tempmail.com)",
                        "name": "domain",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-disposable_DomainCheckResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/disposable/domains": {
            "get": {
                "description": "Gets a paginated list of all disposable domains in the blocklist.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "disposable-email"
                ],
                "summary": "List Domains (Paginated)",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page number (default 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Results per page (default 100, max 1000)",
                        "name": "per_page",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-disposable_DomainsListResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/disposable/stats": {
            "get": {
                "description": "Gets statistics about the disposable email blocklist.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "disposable-email"
                ],
                "summary": "Get Statistics",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-disposable_StatsResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/domain/batch": {
            "post": {
                "description": "Returns DNS records and availability for up to 10 domains.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "domain-info"
                ],
                "summary": "Get Domain Info (Batch)",
                "parameters": [
                    {
                        "description": "List of domains to look up",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/domain.BatchDomainRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-domain_BatchDomainItem"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/domain/{domain}": {
            "get": {
                "description": "Returns DNS records and availability status for the given domain.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "domain-info"
                ],
                "summary": "Get Domain Info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Domain to look up (e.g. example.com)",
                        "name": "domain",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-domain_InfoResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/ip": {
            "get": {
                "description": "Geolocation for the requesting client's IP.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ip-info"
                ],
                "summary": "Get IP Info (Caller IP)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-info_LookupResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/ip/asn": {
            "get": {
                "description": "Returns ASN, organization, ISP, domain, and network route information for the requesting client's IP.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ip-asn"
                ],
                "summary": "Lookup ASN (Caller IP)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-asn_IPAddressASNResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/ip/asn/batch": {
            "post": {
                "description": "Looks up ASN for up to 50 IPs. Private/reserved IPs return an empty result without error.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ip-asn"
                ],
                "summary": "Batch ASN Lookup",
                "parameters": [
                    {
                        "description": "List of IP addresses",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/asn.BatchASNRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-asn_BatchASNItem"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/ip/asn/{ip}": {
            "get": {
                "description": "Returns ASN, organization, ISP, domain, and network route information for a specific IP.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ip-asn"
                ],
                "summary": "Lookup ASN for IP",
                "parameters": [
                    {
                        "type": "string",
                        "description": "IP address (IPv4 or IPv6)",
                        "name": "ip",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-asn_IPAddressASNResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/ip/info/batch": {
            "post": {
                "description": "Looks up geolocation for up to 50 IPs; per-item errors inline.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ip-info"
                ],
                "summary": "Batch IP Geolocation",
                "parameters": [
                    {
                        "description": "List of IP addresses",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/info.BatchInfoRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-info_BatchIPInfoItem"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/ip/vpn/batch": {
            "post": {
                "description": "Analyzes up to 50 IPs for VPN, proxy, Tor, or hosting provider signals.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "vpn-detection"
                ],
                "summary": "Check IP Addresses (Batch)",
                "parameters": [
                    {
                        "description": "List of IP addresses",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/vpn.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-vpn_IPCheckResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/ip/vpn/{ip}": {
            "get": {
                "description": "Analyzes an IP to determine if it is a VPN, proxy, Tor exit node, or hosting provider.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "vpn-detection"
                ],
                "summary": "Check IP Address",
                "parameters": [
                    {
                        "type": "string",
                        "description": "IP address (IPv4 or IPv6)",
                        "name": "ip",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-vpn_IPCheckResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/ip/{ip}": {
            "get": {
                "description": "Geolocation for a specific IP (IPv4 and IPv6).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ip-info"
                ],
                "summary": "Get IP Info for IP",
                "parameters": [
                    {
                        "type": "string",
                        "description": "IP address (IPv4 or IPv6)",
                        "name": "ip",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-info_LookupResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/mx/batch": {
            "post": {
                "description": "Returns MX records for up to 50 domains.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mx-lookup"
                ],
                "summary": "Batch MX Lookup",
                "parameters": [
                    {
                        "description": "List of domains to look up",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/mx.BatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-mx_BatchLookupItem"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/mx/{domain}": {
            "get": {
                "description": "Retrieves all MX records for a domain, sorted by priority ascending.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "mx-lookup"
                ],
                "summary": "MX Lookup",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Domain to look up (e.g. gmail.com)",
                        "name": "domain",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-mx_LookupResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/whois/batch": {
            "post": {
                "description": "WHOIS for up to 50 domains; domains without data return `found: false`.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "whois"
                ],
                "summary": "Batch WHOIS Lookup",
                "parameters": [
                    {
                        "description": "List of domains to look up",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/whois.BatchLookupRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-whois_BatchLookupItem"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/networking/whois/{domain}": {
            "get": {
                "description": "Returns WHOIS registration information for a domain.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "whois"
                ],
                "summary": "WHOIS Lookup",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Domain to look up (e.g. example.com)",
                        "name": "domain",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-whois_LookupResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/places/cities/batch": {
            "post": {
                "description": "Returns metadata for up to 50 cities by name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "cities"
                ],
                "summary": "Get Cities (Batch)",
                "parameters": [
                    {
                        "description": "List of city names",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/cities.BatchCitiesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-httpx_BatchResponse-cities_BatchCityItem"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/places/cities/{city}": {
            "get": {
                "description": "Returns metadata for a city by name. Case-insensitive.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "cities"
                ],
                "summary": "Get City Info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "City name",
                        "name": "city",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-cities_City"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/places/geocode": {
            "get": {
                "description": "Converts a free-text address into latitude/longitude.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "geocode"
                ],
                "summary": "Geocode Address",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Free-text address",
                        "name": "address",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/httpx.Response-geocode_GeocodeResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/httpx.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/places/geocode/batch": {
            "post": {
                "description": "Converts up to 20 addresses to coordinates. Processed concurrently; per-item errors inline.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "geocode"
                ],
                "summary": "Batch Geocode Addresses",
[...]
