{"openapi":"3.0.3","info":{"title":"Requiems API","version":"1.0.0","description":"Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header."},"servers":[{"url":"https://api.requiems.xyz","description":"Production"}],"components":{"securitySchemes":{"requiems-api-key":{"type":"apiKey","in":"header","name":"requiems-api-key","description":"Your Requiems API key"}}},"security":[{"requiems-api-key":[]}],"tags":[{"name":"advice","description":"Get random pieces of advice and wisdom for inspiration"},{"name":"barcode","description":"Generate barcodes in multiple formats (Code 128, Code 93, Code 39, EAN-8, EAN-13), returned as a PNG image or base64-encoded JSON"},{"name":"base64","description":"Encode strings to Base64 and decode Base64 back to plain text. Supports standard and URL-safe (base64url) variants."},{"name":"bin-lookup","description":"Pass the first 6–8 digits of any payment card and get back the issuing bank, card network, type, and country"},{"name":"chuck-norris","description":"Get a random Chuck Norris fact from a curated built-in database. Every call returns a different fact with a stable unique ID."},{"name":"cities","description":"Look up city metadata including population, timezone, and coordinates"},{"name":"color-conversion","description":"Convert color values between HEX, RGB, HSL, and CMYK. Every response includes all four representations."},{"name":"commodities","description":"Historical and current annual average prices for 16 major commodities — precious metals, energy, and agricultural goods. Sourced from FRED (Federal Reserve Economic Data)."},{"name":"counter","description":"Atomic, namespace-isolated hit counter"},{"name":"crypto","description":"Get live cryptocurrency prices, 24h change, market cap, and trading volume for 20+ major coins including BTC, ETH, SOL, and more."},{"name":"dad-jokes","description":"Get a random dad joke. Classic groan-worthy puns and wholesome humor, served one at a time."},{"name":"data-format-conversion","description":"Convert structured data between JSON, YAML, CSV, XML, and TOML in a single API call."},{"name":"detect-language","description":"Detect the language of any text with confidence scoring"},{"name":"dictionary","description":"Get word definitions, phonetics, usage examples, and synonyms"},{"name":"disposable_email","description":"Detect disposable and temporary email addresses to prevent fraud and improve data quality. Our comprehensive blocklist is continuously updated to catch the latest disposable email providers."},{"name":"domain-info","description":"Look up DNS records and check domain availability. Returns A, AAAA, MX, NS, TXT, and CNAME records alongside a registration availability flag."},{"name":"email-normalize","description":"Normalize email addresses to their canonical form. Lowercased, trimmed, and canonicalized with provider-specific rules including alias-domain resolution. Also available as part of the full Email Validator."},{"name":"email-validate","description":"Full email validation in one call. Syntax check, MX record lookup, disposable domain detection, normalization, and typo suggestions. Includes everything from the Disposable Domain Checker and Email Normalizer in a single request."},{"name":"emoji","description":"Look up emoji by name, search by keyword, or get a random emoji with full Unicode metadata."},{"name":"exchange-rate","description":"Get live currency exchange rates and convert amounts between currencies. Rates are sourced from the ECB and cached for up to one hour."},{"name":"facts","description":"Get random interesting facts from a curated database. Filter by category — science, history, technology, nature, space, or food. Includes source attribution."},{"name":"fitness-exercises","description":"Browse 1,500+ exercises with step-by-step instructions, target muscles, secondary muscles, equipment requirements, and body part filters."},{"name":"geocode","description":"Convert addresses to coordinates and coordinates back to addresses"},{"name":"holidays","description":"Get a list of holidays for a specific country and year"},{"name":"horoscope","description":"Get daily horoscope readings for all 12 zodiac signs"},{"name":"iban","description":"Validate IBAN numbers and extract the bank code and account number. Supports all countries in the official SWIFT IBAN Registry (~80 countries)."},{"name":"inflation","description":"Historical and current CPI inflation rates for 241 countries, sourced from the World Bank. Includes up to 30 years of annual data."},{"name":"ip-asn","description":"Look up Autonomous System Number (ASN), organization, ISP, and network route information for any IP address."},{"name":"ip-info","description":"Get geolocation data for any IP address including country, city, ISP, and VPN detection."},{"name":"lorem-ipsum","description":"Generate placeholder text for design mockups and prototypes"},{"name":"markdown","description":"Convert Markdown to HTML in a single API call. Optionally sanitize the output to strip unsafe tags and prevent XSS."},{"name":"mortgage","description":"Calculate monthly mortgage payments and full amortization schedules. Pass principal, annual interest rate, and loan term in years."},{"name":"mx-lookup","description":"Look up MX (Mail Exchange) records for any domain. Returns all mail server hostnames with their priorities, sorted from highest to lowest priority."},{"name":"number-base-conversion","description":"Convert integers between binary, octal, decimal, and hexadecimal. Accepts optional 0x, 0b, and 0o prefixes."},{"name":"password-generator","description":"Generate cryptographically secure random passwords with customizable length and character sets"},{"name":"phone-validation","description":"Validate phone numbers globally. Detect carrier, country, type, and VOIP or virtual risk using only phone metadata."},{"name":"postal-code","description":"Look up city, state, and coordinates for any postal code worldwide"},{"name":"profanity","description":"Detect and censor profanity in text for content moderation"},{"name":"qr-code","description":"Generate QR codes from any text or URL, returned as a PNG image or base64-encoded JSON"},{"name":"quotes","description":"Access a database of inspirational and famous quotes"},{"name":"random-user","description":"Generate random fake user profiles for testing and prototyping — names, emails, phone numbers, addresses, and avatars"},{"name":"sentiment","description":"Analyze the sentiment of any text and get a positive, negative, or neutral classification with a confidence score and full class breakdown."},{"name":"spell-check","description":"Check spelling and get correction suggestions for misspelled words"},{"name":"sudoku","description":"Generate Sudoku puzzles with solutions across multiple difficulty levels"},{"name":"swift-code","description":"Validate and look up bank information by SWIFT/BIC code, including institution, location, and branch metadata."},{"name":"text-similarity","description":"Compare two texts and get a cosine similarity score between 0 and 1"},{"name":"thesaurus","description":"Find synonyms and antonyms for any word to enhance vocabulary and writing"},{"name":"timezone","description":"Get timezone information for any location by coordinates or city name"},{"name":"trivia","description":"Get random trivia questions with multiple-choice answers. Filter by category (science, history, geography, sports, music, movies, literature, math, technology, nature) and difficulty (easy, medium, hard)."},{"name":"unit-conversion","description":"Convert between units of measurement — length, weight, volume, temperature, area, and speed"},{"name":"useragent","description":"Parse user agent strings to extract browser, OS, device type, and bot detection"},{"name":"vpn-detection","description":"Detect if an IP address belongs to a VPN, proxy, Tor exit node, or hosting provider. Returns threat scores and fraud indicators for fraud prevention and risk assessment."},{"name":"whois","description":"Get domain registration details including registrar, name servers, status, creation and expiry dates, and DNSSEC information."},{"name":"random-word","description":"Get random words with definitions and parts of speech. Perfect for vocabulary builders, educational apps, word games, or content inspiration."},{"name":"working-days","description":"Calculate the number of working days between two dates with optional country-specific holidays"},{"name":"world-time","description":"Get the current time for any IANA timezone by name"}],"paths":{"/v1/text/advice":{"get":{"summary":"Get Random Advice","tags":["advice"],"security":[{"requiems-api-key":[]}],"description":"Returns a random piece of advice","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the advice"},"advice":{"type":"string","description":"A random piece of advice"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"id":42,"advice":"Don't compare yourself to others. Compare yourself to the person you were yesterday."},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}}}}},"/v1/technology/barcode":{"get":{"summary":"Generate Barcode (PNG)","tags":["barcode"],"security":[{"requiems-api-key":[]}],"description":"Returns a raw PNG image of the barcode. Ideal for direct embedding or file download.","parameters":[{"name":"data","in":"query","required":true,"schema":{"type":"string","example":123456789},"description":"The text or numeric string to encode in the barcode"},{"name":"type","in":"query","required":true,"schema":{"type":"string","example":"code128"},"description":"Barcode format: code128, code93, code39, ean8, ean13"}],"responses":{"200":{"description":"Successful response"},"400":{"description":"Missing or invalid parameters (e.g. data not provided, unsupported type)"},"422":{"description":"Data is invalid for the chosen barcode type (e.g. wrong digit count for EAN-8/EAN-13, non-numeric EAN data)"}}}},"/v1/technology/barcode/base64":{"get":{"summary":"Generate Barcode (Base64 JSON)","tags":["barcode"],"security":[{"requiems-api-key":[]}],"description":"Returns a JSON envelope containing the barcode as a base64-encoded PNG string, along with its type and dimensions.","parameters":[{"name":"data","in":"query","required":true,"schema":{"type":"string","example":123456789},"description":"The text or numeric string to encode in the barcode"},{"name":"type","in":"query","required":true,"schema":{"type":"string","example":"code128"},"description":"Barcode format: code128, code93, code39, ean8, ean13"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"image":{"type":"string","description":"Base64-encoded PNG image data"},"type":{"type":"string","description":"The barcode format that was used"},"width":{"type":"integer","description":"Width of the generated image in pixels"},"height":{"type":"integer","description":"Height of the generated image in pixels"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"image":"<base64-encoded PNG data>","type":"code128","width":300,"height":100},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"Missing or invalid parameters (e.g. data not provided, unsupported type)"},"422":{"description":"Data is invalid for the chosen barcode type (e.g. wrong digit count for EAN-8/EAN-13, non-numeric EAN data)"}}}},"/v1/technology/base64/encode":{"post":{"summary":"Encode","tags":["base64"],"security":[{"requiems-api-key":[]}],"description":"Encode a plain-text string to Base64","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string","description":"The string to encode","example":"Hello, world!"},"variant":{"type":"string","description":"Encoding variant: standard (default) or url (URL-safe base64url)","example":"standard"}},"required":["value"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"result":{"type":"string","description":"The Base64-encoded output"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"result":"SGVsbG8sIHdvcmxkIQ=="},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"Missing or empty value field"},"422":{"description":"Validation constraint on the variant field (must be standard or url)"}}}},"/v1/technology/base64/decode":{"post":{"summary":"Decode","tags":["base64"],"security":[{"requiems-api-key":[]}],"description":"Decode a Base64-encoded string back to plain text","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"string","description":"The Base64-encoded string to decode","example":"SGVsbG8sIHdvcmxkIQ=="},"variant":{"type":"string","description":"Encoding variant: standard (default) or url (URL-safe base64url)","example":"standard"}},"required":["value"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"result":{"type":"string","description":"The decoded plain-text output"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"result":"Hello, world!"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"Missing or empty value field"},"422":{"description":"The value is not valid Base64 and cannot be decoded"}}}},"/v1/finance/bin/{bin}":{"get":{"summary":"BIN Lookup","tags":["bin-lookup"],"security":[{"requiems-api-key":[]}],"description":"Returns card metadata for the given 6–8 digit BIN prefix.","parameters":[{"name":"bin","in":"path","required":true,"schema":{"type":"string","example":"424242"},"description":"6–8 digit Bank Identification Number. Dashes and spaces are stripped automatically."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"bin":{"type":"string","description":"The normalised BIN prefix used for the lookup"},"scheme":{"type":"string","description":"Card network: visa, mastercard, amex, discover, jcb, diners, unionpay, maestro, mir, rupay, private_label"},"card_type":{"type":"string","description":"credit, debit, prepaid, or charge"},"card_level":{"type":"string","description":"classic, gold, platinum, infinite, business, signature, or standard"},"issuer_name":{"type":"string","description":"Name of the card-issuing bank"},"issuer_url":{"type":"string","description":"Bank website URL"},"issuer_phone":{"type":"string","description":"Bank customer service phone number"},"country_code":{"type":"string","description":"ISO 3166-1 alpha-2 country code of the issuing bank (e.g. US, GB, DE)"},"country_name":{"type":"string","description":"Full country name of the issuing bank"},"prepaid":{"type":"boolean","description":"Whether the card is a prepaid card"},"luhn":{"type":"boolean","description":"Whether the BIN prefix passes the Luhn algorithm check"},"confidence":{"type":"number","description":"Data quality score (0.00–1.00). Multi-source confirmed records score higher."}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"bin":"424242","scheme":"visa","card_type":"credit","card_level":"classic","issuer_name":"Chase","issuer_url":"www.chase.com","issuer_phone":"+18002324000","country_code":"US","country_name":"United States","prepaid":false,"luhn":true,"confidence":0.92},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"BIN is not 6–8 digits or contains non-digit characters."},"404":{"description":"BIN prefix not found in the database."},"500":{"description":"Unexpected server error."}}}},"/v1/entertainment/chuck-norris":{"get":{"summary":"Get Random Chuck Norris Fact","tags":["chuck-norris"],"security":[{"requiems-api-key":[]}],"description":"Returns a randomly selected Chuck Norris fact from the built-in database.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","description":"Unique fact identifier in the format cn_<index> (e.g. cn_0, cn_7)"},"fact":{"type":"string","description":"The Chuck Norris fact text"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"id":"cn_0","fact":"Chuck Norris can divide by zero."},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}}}}},"/v1/places/cities/{city}":{"get":{"summary":"Get City Info","tags":["cities"],"security":[{"requiems-api-key":[]}],"description":"Returns metadata for a city by name. Lookup is case-insensitive.","parameters":[{"name":"city","in":"path","required":true,"schema":{"type":"string","example":"london"},"description":"City name to look up (e.g. london, tokyo, new york city)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"name":{"type":"string","description":"Official city name as listed in the GeoNames dataset"},"country":{"type":"string","description":"ISO 3166-1 alpha-2 country code (uppercase)"},"population":{"type":"integer","description":"City population from the GeoNames dataset"},"timezone":{"type":"string","description":"IANA timezone identifier for the city (e.g. \"America/New_York\")"},"lat":{"type":"number","description":"Latitude of the city centre"},"lon":{"type":"number","description":"Longitude of the city centre"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"name":"London","country":"GB","population":7556900,"timezone":"Europe/London","lat":51.5085,"lon":-0.1257},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"404":{"description":"No city with that name was found in the dataset."},"500":{"description":"Unexpected server error."}}}},"/v1/technology/color":{"get":{"summary":"Convert Color","tags":["color-conversion"],"security":[{"requiems-api-key":[]}],"description":"Convert a color value from one format to another. The response always includes all four formats.","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string","example":"hex"},"description":"Source color format: hex, rgb, hsl, or cmyk"},{"name":"to","in":"query","required":true,"schema":{"type":"string","example":"hsl"},"description":"Target color format: hex, rgb, hsl, or cmyk"},{"name":"value","in":"query","required":true,"schema":{"type":"string","example":"#ff5733"},"description":"Color value in the source format (e.g. #ff5733, rgb(255,87,51), hsl(11,100%,60%), cmyk(0%,66%,80%,0%))"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"input":{"type":"string","description":"The original value passed in the value parameter"},"result":{"type":"string","description":"The color expressed in the requested to format"},"formats.hex":{"type":"string","description":"HEX representation (#rrggbb)"},"formats.rgb":{"type":"string","description":"RGB representation (rgb(r, g, b))"},"formats.hsl":{"type":"string","description":"HSL representation (hsl(h, s%, l%))"},"formats.cmyk":{"type":"string","description":"CMYK representation (cmyk(c%, m%, y%, k%))"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"input":"#ff5733","result":"hsl(11, 100%, 60%)","formats":{"hex":"#ff5733","rgb":"rgb(255, 87, 51)","hsl":"hsl(11, 100%, 60%)","cmyk":"cmyk(0%, 66%, 80%, 0%)"}},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"One or more of from, to, or value parameters is missing or the from/to value is not one of: hex, rgb, hsl, cmyk."},"422":{"description":"The value cannot be parsed in the specified from format."},"500":{"description":"Unexpected server error."}}}},"/v1/finance/commodities/{commodity}":{"get":{"summary":"Get Commodity Price","tags":["commodities"],"security":[{"requiems-api-key":[]}],"description":"Returns the latest annual average price and up to 10 years of historical data for the requested commodity slug.","parameters":[{"name":"commodity","in":"path","required":true,"schema":{"type":"string","example":"gold"},"description":"Commodity slug (e.g. gold, silver, oil). See supported slugs below."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"commodity":{"type":"string","description":"The commodity slug as provided in the request path"},"name":{"type":"string","description":"Human-readable commodity name"},"price":{"type":"number","description":"Latest annual average price in the commodity's display unit"},"unit":{"type":"string","description":"Price unit (oz, barrel, mmbtu, lb, or metric_ton)"},"currency":{"type":"string","description":"Currency code — always USD"},"change_24h":{"type":"number","description":"Year-over-year percentage change from the prior year's annual average (positive = price increased)"},"historical":{"type":"array","items":{},"description":"Up to 10 prior years of annual average prices, ordered newest to oldest"},"historical[].period":{"type":"string","description":"Year of the historical data point"},"historical[].price":{"type":"number","description":"Annual average price for that year"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"commodity":"gold","name":"Gold","price":2386.33,"unit":"oz","currency":"USD","change_24h":23.01,"historical":[{"period":"2023","price":1940.54},{"period":"2022","price":1800.12},{"period":"2021","price":1798.52},{"period":"2020","price":1769.64},{"period":"2019","price":1392.6},{"period":"2018","price":1268.93},{"period":"2017","price":1257.15},{"period":"2016","price":1251.65},{"period":"2015","price":1160.06},{"period":"2014","price":1266.4}]},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"404":{"description":"No data found for the given commodity slug. Check the supported slugs list."},"500":{"description":"Unexpected server error."}}}},"/v1/technology/counter/{namespace}":{"post":{"summary":"Increment Counter","tags":["counter"],"security":[{"requiems-api-key":[]}],"description":"Atomically increment a counter in the specified namespace and return the new value","parameters":[{"name":"namespace","in":"path","required":true,"schema":{"type":"string","example":"page-views"},"description":"Counter namespace (1-64 chars: alphanumeric, hyphen, underscore)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"namespace":{"type":"string","description":"The counter namespace"},"value":{"type":"integer","description":"The new counter value after increment"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"namespace":"page-views","value":42},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"Invalid namespace: must be 1–64 chars, alphanumeric, hyphen or underscore only"},"500":{"description":"Internal server error"}}},"get":{"summary":"Get Counter Value","tags":["counter"],"security":[{"requiems-api-key":[]}],"description":"Get the current value of a counter without incrementing it","parameters":[{"name":"namespace","in":"path","required":true,"schema":{"type":"string","example":"page-views"},"description":"Counter namespace (1-64 chars: alphanumeric, hyphen, underscore)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"namespace":{"type":"string","description":"The counter namespace"},"value":{"type":"integer","description":"The current counter value (returns 0 if counter doesn't exist)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"namespace":"page-views","value":42},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"Invalid namespace: must be 1–64 chars, alphanumeric, hyphen or underscore only"},"500":{"description":"Internal server error"}}}},"/v1/finance/crypto/{symbol}":{"get":{"summary":"Get Crypto Price","tags":["crypto"],"security":[{"requiems-api-key":[]}],"description":"Returns current price data for the given cryptocurrency symbol.","parameters":[{"name":"symbol","in":"path","required":true,"schema":{"type":"string","example":"BTC"},"description":"Uppercase ticker symbol (e.g. BTC, ETH, SOL)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"symbol":{"type":"string","description":"Uppercase ticker symbol"},"name":{"type":"string","description":"Full coin name"},"price_usd":{"type":"number","description":"Current price in USD"},"change_24h":{"type":"number","description":"Price change over the last 24 hours as a percentage"},"market_cap":{"type":"number","description":"Total market capitalisation in USD"},"volume_24h":{"type":"number","description":"Total trading volume over the last 24 hours in USD"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"symbol":"BTC","name":"Bitcoin","price_usd":42000.5,"change_24h":2.5,"market_cap":820000000000,"volume_24h":25000000000},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"422":{"description":"The symbol is not in the supported coin list."},"503":{"description":"CoinGecko is unavailable or returned an unexpected response."}}}},"/v1/entertainment/jokes/dad":{"get":{"summary":"Get Random Dad Joke","tags":["dad-jokes"],"security":[{"requiems-api-key":[]}],"description":"Returns a randomly selected dad joke from the collection.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","description":"Stable identifier for the joke (e.g. \"joke_7\")"},"joke":{"type":"string","description":"The full text of the dad joke"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"id":"joke_7","joke":"Why don't scientists trust atoms? Because they make up everything!"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"401":{"description":"Missing API key"},"403":{"description":"Invalid or revoked API key"}}}},"/v1/technology/format":{"post":{"summary":"Convert Format","tags":["data-format-conversion"],"security":[{"requiems-api-key":[]}],"description":"Convert content from one structured data format to another. Supported formats: json, yaml, csv, xml, toml.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"from":{"type":"string","description":"Source format. One of: json, yaml, csv, xml, toml","example":"json"},"to":{"type":"string","description":"Target format. One of: json, yaml, csv, xml, toml","example":"yaml"},"content":{"type":"string","description":"The content to convert, serialized as a string in the source format.","example":"{\"name\":\"Alice\",\"age\":30}"}},"required":["from","to","content"],"example":{"from":"json","to":"yaml","content":"{\"name\": \"Alice\", \"age\": 30}"}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"result":{"type":"string","description":"The converted content serialized in the target format."}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"result":"age: 30\nname: Alice\n"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"413":{"description":"The content field exceeds the 512 KB limit."},"422":{"description":"One of from, to, or content is missing, or from/to is not one of the supported format values.; The content field is not valid JSON (when from is json).; The content field is not valid YAML (when from is yaml).; The content field is not valid CSV, or a row has more columns than the header (when from is csv).; The content field is not valid XML (when from is xml).; The content field is not valid TOML (when from is toml).; The data structure is incompatible with the target format (e.g. converting a JSON array to TOML, which requires a top-level object)."}}}},"/v1/text/detect-language":{"post":{"summary":"Detect Language","tags":["detect-language"],"security":[{"requiems-api-key":[]}],"description":"Identifies the language of the provided text and returns the language name, ISO 639-1 code, and confidence score.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","description":"The text whose language should be detected.","example":"Bonjour, comment ça va?"}},"required":["text"],"example":{"text":"Bonjour, comment ça va?"}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"language":{"type":"string","description":"Full name of the detected language (e.g. French, English, Spanish)"},"code":{"type":"string","description":"ISO 639-1 two-letter language code (e.g. fr, en, es). Empty string when detection is unreliable."},"confidence":{"type":"string","description":"Confidence score between 0.0 and 1.0. 0.0 is returned when the language cannot be reliably detected."}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"language":"French","code":"fr","confidence":0.98},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The request body is missing or malformed."},"422":{"description":"The text field is missing or empty."},"500":{"description":"Unexpected server error."}}}},"/v1/text/dictionary/{word}":{"get":{"summary":"Dictionary Lookup","tags":["dictionary"],"security":[{"requiems-api-key":[]}],"description":"Returns the definition, phonetics, examples, and synonyms for the given word.","parameters":[{"name":"word","in":"path","required":true,"schema":{"type":"string","example":"ephemeral"},"description":"The word to look up in the dictionary"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"word":{"type":"string","description":"The normalized (lowercased) word that was looked up"},"phonetic":{"type":"string","description":"IPA phonetic transcription of the word (may be omitted if unavailable)"},"definitions":{"type":"string","description":"One or more definitions for the word, each with partOfSpeech, definition, and an optional example"},"definitions[].partOfSpeech":{"type":"string","description":"Grammatical category (e.g. noun, verb, adjective)"},"definitions[].definition":{"type":"string","description":"Plain-text definition of the word"},"definitions[].example":{"type":"string","description":"Example sentence using the word (may be omitted)"},"synonyms":{"type":"string","description":"List of words with similar meaning"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"word":"ephemeral","phonetic":"/ɪˈfɛm(ə)rəl/","definitions":[{"partOfSpeech":"adjective","definition":"lasting for a very short time","example":"ephemeral pleasures"}],"synonyms":["transient","fleeting","momentary","brief","short-lived"]},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The word path parameter is missing."},"404":{"description":"The word was not found in the dictionary dataset."}}}},"/v1/networking/disposable/check":{"post":{"summary":"Check Single Email","tags":["disposable_email"],"security":[{"requiems-api-key":[]}],"description":"Validate whether an email address uses a disposable domain","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email address to check","example":"test@example.com"}},"required":["email"],"example":{"email":"user@tempmail.com"}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"email":{"type":"string","description":"The email address that was checked"},"is_disposable":{"type":"boolean","description":"Whether the email uses a disposable domain"},"domain":{"type":"string","description":"The domain part of the email address"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"email":"user@tempmail.com","is_disposable":true,"domain":"tempmail.com"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The request body is missing or malformed; The email address format is invalid"}}}},"/v1/networking/disposable/batch":{"post":{"summary":"Check Batch Emails","tags":["disposable_email"],"security":[{"requiems-api-key":[]}],"description":"Validate multiple email addresses in a single request (max 100 emails)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"emails":{"type":"array","items":{},"description":"Array of email addresses to check (max 100)","example":["user1@example.com","user2@tempmail.com"]}},"required":["emails"],"example":{"emails":["user1@gmail.com","user2@tempmail.com","user3@guerrillamail.com"]}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"results":{"type":"array","items":{},"description":"Array of check results for each email"},"total":{"type":"integer","description":"Total number of emails checked"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"results":[{"email":"user1@gmail.com","is_disposable":false,"domain":"gmail.com"},{"email":"user2@tempmail.com","is_disposable":true,"domain":"tempmail.com"},{"email":"user3@guerrillamail.com","is_disposable":true,"domain":"guerrillamail.com"}],"total":3},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The request body is missing or malformed; The emails field is missing; Too many emails in the request"}}}},"/v1/networking/disposable/domain/{domain}":{"get":{"summary":"Check Domain","tags":["disposable_email"],"security":[{"requiems-api-key":[]}],"description":"Check if a specific domain is in the disposable blocklist","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string","example":"tempmail.com"},"description":"The domain to check"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"domain":{"type":"string","description":"The domain that was checked"},"is_disposable":{"type":"boolean","description":"Whether the domain is in the disposable blocklist"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"domain":"tempmail.com","is_disposable":true},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The domain parameter is missing"}}}},"/v1/networking/disposable/stats":{"get":{"summary":"Get Statistics","tags":["disposable_email"],"security":[{"requiems-api-key":[]}],"description":"Get statistics about the disposable email blocklist","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"total_domains":{"type":"integer","description":"Total number of disposable domains in the blocklist"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"total_domains":10500},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}}}}},"/v1/networking/disposable/domains":{"get":{"summary":"List Domains (Paginated)","tags":["disposable_email"],"security":[{"requiems-api-key":[]}],"description":"Get a paginated list of all disposable domains in the blocklist","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","example":1},"description":"Page number (default: 1)"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","example":100},"description":"Items per page (default: 100, max: 1000)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"domains":{"type":"array","items":{},"description":"Array of domain names"},"total":{"type":"integer","description":"Total number of domains in blocklist"},"page":{"type":"integer","description":"Current page number"},"per_page":{"type":"integer","description":"Number of items per page"},"has_more":{"type":"boolean","description":"Whether there are more pages available"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"domains":["tempmail.com","guerrillamail.com","10minutemail.com"],"total":10500,"page":1,"per_page":100,"has_more":true},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}}}}},"/v1/networking/domain/{domain}":{"get":{"summary":"Get Domain Info","tags":["domain-info"],"security":[{"requiems-api-key":[]}],"description":"Returns DNS records and availability status for the given domain.","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string","example":"example.com"},"description":"The domain to look up (e.g. example.com)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"domain":{"type":"string","description":"The domain that was looked up"},"available":{"type":"boolean","description":"True when the domain appears to be unregistered (NS lookup returns NXDOMAIN). False when name servers are delegated."},"dns.a":{"type":"string","description":"IPv4 addresses (A records)"},"dns.aaaa":{"type":"string","description":"IPv6 addresses (AAAA records)"},"dns.mx":{"type":"string","description":"Mail exchange records, each with host and priority fields"},"dns.ns":{"type":"string","description":"Authoritative name server hostnames"},"dns.txt":{"type":"string","description":"TXT record values (SPF, DKIM, verification tokens, etc.)"},"dns.cname":{"type":"string","description":"CNAME alias target, if the domain is an alias. Empty string when no alias exists."}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"domain":"example.com","available":false,"dns":{"a":["93.184.216.34"],"aaaa":["2606:2800:220:1:248:1893:25c8:1946"],"mx":[],"ns":["a.iana-servers.net.","b.iana-servers.net."],"txt":["v=spf1 -all"],"cname":""}},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The domain parameter is not a valid hostname (e.g. missing TLD, invalid characters, or leading/trailing hyphens)."}}}},"/v1/text/normalize":{"post":{"summary":"Normalize Email","tags":["email-normalize"],"security":[{"requiems-api-key":[]}],"description":"Normalizes a single email address and returns the canonical form together with a breakdown of all transformations applied.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email address to normalize. Must be a syntactically valid address.","example":"Te.st.User+spam@Googlemail.com"}},"required":["email"],"example":{"email":"Te.st.User+spam@Googlemail.com"}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"original":{"type":"string","description":"The email address exactly as supplied in the request body"},"normalized":{"type":"string","description":"The canonical form of the address after all transformations"},"local":{"type":"string","description":"The local part (before @) of the normalized address"},"domain":{"type":"string","description":"The domain part (after @) of the normalized address"},"changes":{"type":"array","items":{},"description":"Ordered list of transformations applied. Possible values: lowercased, trimmed_whitespace, removed_dots, removed_plus_tag, canonicalised_domain. Empty array when no changes were needed."}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"original":"Te.st.User+spam@Googlemail.com","normalized":"testuser@gmail.com","local":"testuser","domain":"gmail.com","changes":["lowercased","removed_dots","removed_plus_tag","canonicalised_domain"]},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The request body is missing, not valid JSON, or contains unknown fields."},"422":{"description":"The email field is missing or not a valid email address format."},"500":{"description":"Unexpected server error."}}}},"/v1/text/normalize/batch":{"post":{"summary":"Normalize Email Batch","tags":["email-normalize"],"security":[{"requiems-api-key":[]}],"description":"Normalizes up to 100 email addresses in one request. Results are in the same order as the input. Each item includes valid (boolean); when false, only original and message are set. Usage is billed per email processed (see gateway usage headers).","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"emails":{"type":"array","items":{},"description":"Array of addresses to normalize (min 1, max 100; each entry non-empty)","example":["user@example.com","not-an-email","te.st@gmail.com"]}},"required":["emails"],"example":{"emails":["user@example.com","not-an-email","te.st@gmail.com"]}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"results":{"type":"array","items":{},"description":"One normalization result per input email, in order"},"total":{"type":"integer","description":"Number of emails in the batch (same as results length)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"results":[{"original":"user@example.com","normalized":"user@example.com","local":"user","domain":"example.com","changes":[],"valid":true},{"original":"not-an-email","valid":false,"message":"invalid email address"},{"original":"te.st@gmail.com","normalized":"test@gmail.com","local":"test","domain":"gmail.com","changes":["lowercased","removed_dots"],"valid":true}],"total":3},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"Invalid JSON or unknown fields in the body"},"422":{"description":"Missing emails, empty array, too many items, or empty string in the array"}}}},"/v1/validation/email":{"post":{"summary":"Validate Email","tags":["email-validate"],"security":[{"requiems-api-key":[]}],"description":"Validates a single email address and returns a full breakdown of syntax validity, MX record status, disposable domain check, normalized form, and any typo suggestion.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"The email address to validate.","example":"user@gmial.com"}},"required":["email"],"example":{"email":"user@gmial.com"}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"email":{"type":"string","description":"The email address exactly as supplied in the request body; null when syntax is invalid"},"valid":{"type":"boolean","description":"Overall validity. True only when the address passes syntax validation and the domain has at least one MX record"},"syntax_valid":{"type":"boolean","description":"Whether the address is syntactically valid according to RFC 5322"},"mx_valid":{"type":"boolean","description":"Whether the domain has at least one MX record, meaning it can receive email"},"disposable":{"type":"boolean","description":"Whether the address uses a known disposable or temporary email domain"},"normalized":{"type":"string","description":"The canonical form of the address after normalization (lowercase, plus-tag removal, alias-domain resolution). Null when syntax is invalid"},"domain":{"type":"string","description":"The domain part of the address (after @). Null when syntax is invalid"},"suggestion":{"type":"string","description":"A corrected domain name when the supplied domain looks like a typo of a well-known provider (e.g. gmial.com → gmail.com). Null when no close match is found or the domain is already correct"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"email":"user@gmial.com","valid":false,"syntax_valid":true,"mx_valid":false,"disposable":false,"normalized":"user@gmial.com","domain":"gmial.com","suggestion":"gmail.com"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The request body is missing, not valid JSON, or contains unknown fields."},"422":{"description":"The email field is missing from the request body."},"500":{"description":"Unexpected server error."}}}},"/v1/validation/email/batch":{"post":{"summary":"Validate Emails (Batch)","tags":["email-validate"],"security":[{"requiems-api-key":[]}],"description":"Validates up to 50 email addresses in a single request. Each email is processed independently and returns a full validation breakdown (syntax, MX record, disposable check, normalization, and typo suggestion). Invalid emails do not fail the request. Billing: 1 credit per email.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"emails":{"type":"array","items":{},"description":"Array of email addresses to validate. Min: 1, Max: 50.","example":"[\"user@gmail.com\", \"user@gmial.com\"]"}},"required":["emails"],"example":{"emails":["user@gmail.com","user@gmial.com"]}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"results":{"type":"array","items":{},"description":"List of validation results for each email, preserving input order"},"results[].email":{"type":"string","description":"Original email input (null if invalid syntax)"},"results[].valid":{"type":"boolean","description":"Overall validity (syntax + MX record)"},"results[].syntax_valid":{"type":"boolean","description":"Whether the email is syntactically valid (RFC 5322)"},"results[].mx_valid":{"type":"boolean","description":"Whether the domain has valid MX records"},"results[].disposable":{"type":"boolean","description":"Whether the email comes from a disposable domain"},"results[].normalized":{"type":"string","description":"Canonical normalized email (lowercase, alias handling, etc.)"},"results[].domain":{"type":"string","description":"Extracted domain from email address"},"results[].suggestion":{"type":"string","description":"Suggested correction for common domain typos"},"total":{"type":"integer","description":"Number of emails processed in the batch"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"results":[{"email":"user@gmail.com","valid":true,"syntax_valid":true,"mx_valid":true,"disposable":false,"normalized":"user@gmail.com","domain":"gmail.com","suggestion":null},{"email":"user@gmial.com","valid":false,"syntax_valid":true,"mx_valid":false,"disposable":false,"normalized":"user@gmial.com","domain":"gmial.com","suggestion":"gmail.com"}],"total":2},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"Invalid JSON, malformed request body, or unexpected field types."},"422":{"description":"Valid JSON body that fails field validation (empty array or more than 50 emails)."},"500":{"description":"Unexpected server error"}}}},"/v1/entertainment/emoji/random":{"get":{"summary":"Get Random Emoji","tags":["emoji"],"security":[{"requiems-api-key":[]}],"description":"Returns a randomly selected emoji with its full metadata.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"emoji":{"type":"string","description":"The rendered emoji glyph"},"name":{"type":"string","description":"CLDR short name in snake_case (e.g. grinning_face)"},"category":{"type":"string","description":"Unicode category (e.g. Smileys & Emotion, Animals & Nature)"},"unicode":{"type":"string","description":"Unicode code-point in U+XXXX notation (e.g. U+1F600)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"emoji":"😀","name":"grinning_face","category":"Smileys & Emotion","unicode":"U+1F600"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}}}}},"/v1/entertainment/emoji/search":{"get":{"summary":"Search Emoji","tags":["emoji"],"security":[{"requiems-api-key":[]}],"description":"Search for emojis whose name or category contains the given query string (case-insensitive). Returns a list of all matches.","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string","example":"happy"},"description":"Search term to match against emoji names and categories (e.g. happy, heart, food)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"items":{"type":"array","items":{},"description":"List of matching emoji objects"},"total":{"type":"integer","description":"Total number of matches"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"items":[{"emoji":"😄","name":"grinning_face_with_smiling_eyes","category":"Smileys & Emotion","unicode":"U+1F604"}],"total":1},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The q query parameter is missing or empty."}}}},"/v1/entertainment/emoji/{name}":{"get":{"summary":"Get Emoji by Name","tags":["emoji"],"security":[{"requiems-api-key":[]}],"description":"Returns a specific emoji by its CLDR snake_case name. The name is case-insensitive.","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string","example":"grinning_face"},"description":"CLDR snake_case emoji name (e.g. grinning_face, thumbs_up)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"emoji":{"type":"string","description":"The rendered emoji glyph"},"name":{"type":"string","description":"CLDR short name in snake_case"},"category":{"type":"string","description":"Unicode category"},"unicode":{"type":"string","description":"Unicode code-point in U+XXXX notation"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"emoji":"😀","name":"grinning_face","category":"Smileys & Emotion","unicode":"U+1F600"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"404":{"description":"No emoji found with the given name."}}}},"/v1/finance/exchange-rate":{"get":{"summary":"Get Exchange Rate","tags":["exchange-rate"],"security":[{"requiems-api-key":[]}],"description":"Returns the current exchange rate between two currencies.","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string","example":"USD"},"description":"ISO 4217 source currency code (3 letters, e.g. USD)"},{"name":"to","in":"query","required":true,"schema":{"type":"string","example":"EUR"},"description":"ISO 4217 target currency code (3 letters, e.g. EUR)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"from":{"type":"string","description":"Source currency code (uppercased)"},"to":{"type":"string","description":"Target currency code (uppercased)"},"rate":{"type":"number","description":"Exchange rate — how many units of `to` equal 1 unit of `from`"},"timestamp":{"type":"string","description":"Date the rate was published by the ECB (ISO 8601)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"from":"USD","to":"EUR","rate":0.92,"timestamp":"2024-12-15T00:00:00Z"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"A required parameter is missing or the currency code is not exactly 3 alphabetic characters."},"422":{"description":"One or both currency codes are not recognised by the upstream data source."},"503":{"description":"The exchange rate data source is temporarily unavailable."}}}},"/v1/finance/convert":{"get":{"summary":"Convert Currency","tags":["exchange-rate"],"security":[{"requiems-api-key":[]}],"description":"Converts an amount from one currency to another and returns the rate alongside the converted value.","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string","example":"USD"},"description":"ISO 4217 source currency code (3 letters, e.g. USD)"},{"name":"to","in":"query","required":true,"schema":{"type":"string","example":"EUR"},"description":"ISO 4217 target currency code (3 letters, e.g. EUR)"},{"name":"amount","in":"query","required":true,"schema":{"type":"number","example":100},"description":"Amount to convert. Must be greater than 0."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"from":{"type":"string","description":"Source currency code (uppercased)"},"to":{"type":"string","description":"Target currency code (uppercased)"},"rate":{"type":"number","description":"Exchange rate used for the conversion"},"amount":{"type":"number","description":"The original amount passed in the request"},"converted":{"type":"number","description":"Result of amount × rate, rounded to 2 decimal places"},"timestamp":{"type":"string","description":"Date the rate was published by the ECB (ISO 8601)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"from":"USD","to":"EUR","rate":0.92,"amount":100,"converted":92,"timestamp":"2024-12-15T00:00:00Z"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"A required parameter is missing, the currency code is not 3 alphabetic characters, or the amount is 0 or negative."},"422":{"description":"One or both currency codes are not recognised by the upstream data source."},"503":{"description":"The exchange rate data source is temporarily unavailable."}}}},"/v1/entertainment/facts":{"get":{"summary":"Get Random Fact","tags":["facts"],"security":[{"requiems-api-key":[]}],"description":"Returns a randomly selected fact, optionally filtered by category.","parameters":[{"name":"category","in":"query","required":false,"schema":{"type":"string","example":"science"},"description":"Filter by category. Valid values: science, history, technology, nature, space, food"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"fact":{"type":"string","description":"The fact text"},"category":{"type":"string","description":"The category the fact belongs to"},"source":{"type":"string","description":"The source or publication the fact is attributed to"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"fact":"Honey never spoils. Archaeologists have found 3,000-year-old honey in Egyptian tombs that was still perfectly edible.","category":"science","source":"National Geographic"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"bad_request"}}}},"/v1/health/exercises":{"get":{"summary":"List Exercises","tags":["fitness-exercises"],"security":[{"requiems-api-key":[]}],"description":"Returns a paginated list of exercises. All filter parameters are optional and combinable.","parameters":[{"name":"body_part","in":"query","required":false,"schema":{"type":"string","example":"chest"},"description":"Filter by body part (e.g. chest, back, upper legs). Use /v1/health/body-parts for valid values."},{"name":"equipment","in":"query","required":false,"schema":{"type":"string","example":"barbell"},"description":"Filter by equipment type (e.g. barbell, dumbbell, body weight). Use /v1/health/equipment for valid values."},{"name":"muscle","in":"query","required":false,"schema":{"type":"string","example":"biceps"},"description":"Filter by target or secondary muscle (e.g. biceps, glutes). Use /v1/health/muscles for valid values."},{"name":"search","in":"query","required":false,"schema":{"type":"string","example":"bench press"},"description":"Full-text search on exercise name."},{"name":"page","in":"query","required":false,"schema":{"type":"integer","example":1},"description":"Page number (default: 1)"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","example":20},"description":"Results per page, 1–100 (default: 20)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"items":{"type":"array","items":{},"description":"Array of exercise objects for the current page"},"items[].id":{"type":"integer","description":"Unique exercise identifier"},"items[].name":{"type":"string","description":"Exercise name"},"items[].body_parts":{"type":"array","items":{},"description":"Body part categories involved"},"items[].equipment":{"type":"array","items":{},"description":"Equipment required"},"items[].target_muscles":{"type":"array","items":{},"description":"Primary muscles targeted"},"items[].secondary_muscles":{"type":"array","items":{},"description":"Secondary muscles engaged"},"items[].instructions":{"type":"array","items":{},"description":"Ordered step-by-step instructions"},"total":{"type":"integer","description":"Total number of exercises matching the filters"},"page":{"type":"integer","description":"Current page number"},"per_page":{"type":"integer","description":"Number of results per page"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"items":[{"id":1,"name":"barbell bench press","body_parts":["chest"],"equipment":["barbell"],"target_muscles":["pectorals"],"secondary_muscles":["triceps","deltoids"],"instructions":["Lie flat on a bench and grip the barbell slightly wider than shoulder-width.","Lower the bar to your chest under control.","Press the bar back up to full arm extension.","Repeat for the desired number of repetitions."]}],"total":312,"page":1,"per_page":20},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"A query parameter has an invalid value (e.g. per_page out of range)."},"500":{"description":"Unexpected server error."}}}},"/v1/health/exercises/{id}":{"get":{"summary":"Get Exercise by ID","tags":["fitness-exercises"],"security":[{"requiems-api-key":[]}],"description":"Returns a single exercise by its numeric ID.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","example":1},"description":"Numeric exercise ID"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer","description":"Unique exercise identifier"},"name":{"type":"string","description":"Exercise name"},"body_parts":{"type":"array","items":{},"description":"Body part categories involved"},"equipment":{"type":"array","items":{},"description":"Equipment required"},"target_muscles":{"type":"array","items":{},"description":"Primary muscles targeted"},"secondary_muscles":{"type":"array","items":{},"description":"Secondary muscles engaged"},"instructions":{"type":"array","items":{},"description":"Ordered step-by-step instructions"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"id":1,"name":"barbell bench press","body_parts":["chest"],"equipment":["barbell"],"target_muscles":["pectorals"],"secondary_muscles":["triceps","deltoids"],"instructions":["Lie flat on a bench and grip the barbell slightly wider than shoulder-width.","Lower the bar to your chest under control.","Press the bar back up to full arm extension.","Repeat for the desired number of repetitions."]},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The id parameter is not a positive integer."},"404":{"description":"No exercise exists with the given ID."},"500":{"description":"Unexpected server error."}}}},"/v1/health/exercises/random":{"get":{"summary":"Random Exercise","tags":["fitness-exercises"],"security":[{"requiems-api-key":[]}],"description":"Returns a single randomly selected exercise. Accepts the same filter parameters as the list endpoint, so you can get a random chest exercise, a random bodyweight exercise, etc.","parameters":[{"name":"body_part","in":"query","required":false,"schema":{"type":"string","example":"back"},"description":"Restrict random selection to this body part."},{"name":"equipment","in":"query","required":false,"schema":{"type":"string","example":"body weight"},"description":"Restrict random selection to this equipment type."},{"name":"muscle","in":"query","required":false,"schema":{"type":"string","example":"glutes"},"description":"Restrict random selection to exercises targeting this muscle."},{"name":"search","in":"query","required":false,"schema":{"type":"string","example":"curl"},"description":"Restrict random selection to exercises matching this search term."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"id":42,"name":"dumbbell curl","body_parts":["upper arms"],"equipment":["dumbbell"],"target_muscles":["biceps"],"secondary_muscles":["brachialis"],"instructions":["Stand with a dumbbell in each hand, arms fully extended.","Curl the weights toward your shoulders, keeping your elbows close to your torso.","Squeeze at the top, then lower the weights slowly.","Repeat for the desired number of repetitions."]},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"404":{"description":"No exercises match the given filters."},"500":{"description":"Unexpected server error."}}}},"/v1/health/body-parts":{"get":{"summary":"List Body Parts","tags":["fitness-exercises"],"security":[{"requiems-api-key":[]}],"description":"Returns a sorted list of all distinct body part values present in the dataset. Use these as valid values for the body_part filter.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"items":{"type":"array","items":{},"description":"Sorted list of all distinct body part names"},"total":{"type":"integer","description":"Total number of distinct body parts"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"items":["back","cardio","chest","lower arms","lower legs","neck","shoulders","upper arms","upper legs","waist"],"total":10},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"500":{"description":"Unexpected server error."}}}},"/v1/health/equipment":{"get":{"summary":"List Equipment","tags":["fitness-exercises"],"security":[{"requiems-api-key":[]}],"description":"Returns a sorted list of all distinct equipment types. Use these as valid values for the equipment filter.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"items":{"type":"array","items":{},"description":"Sorted list of all distinct equipment names"},"total":{"type":"integer","description":"Total number of distinct equipment types"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"items":["band","barbell","body weight","cable","dumbbell","ez barbell","kettlebell","medicine ball","stability ball","tire"],"total":28},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"500":{"description":"Unexpected server error."}}}},"/v1/health/muscles":{"get":{"summary":"List Muscles","tags":["fitness-exercises"],"security":[{"requiems-api-key":[]}],"description":"Returns a sorted list of all distinct muscle names (combining target and secondary muscles). Use these as valid values for the muscle filter.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"items":{"type":"array","items":{},"description":"Sorted list of all distinct muscle names"},"total":{"type":"integer","description":"Total number of distinct muscles"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"items":["biceps","calves","deltoids","glutes","hamstrings","lats","pectorals","quadriceps","traps","triceps"],"total":51},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"500":{"description":"Unexpected server error."}}}},"/v1/places/geocode":{"get":{"summary":"Geocode Address","tags":["geocode"],"security":[{"requiems-api-key":[]}],"description":"Converts a free-text address into latitude and longitude coordinates.","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string","example":"1600 Pennsylvania Ave NW, Washington DC"},"description":"The address to geocode (street, city, country, or any combination)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"address":{"type":"string","description":"Full display name of the matched location"},"city":{"type":"string","description":"City or town of the matched location"},"country":{"type":"string","description":"ISO 3166-1 alpha-2 country code (uppercase)"},"lat":{"type":"number","description":"Latitude of the matched location"},"lon":{"type":"number","description":"Longitude of the matched location"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"address":"White House, 1600, Pennsylvania Avenue Northwest, Ward 2, Washington, District of Columbia, 20500, United States","city":"Washington","country":"US","lat":38.8976763,"lon":-77.0365298},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The address parameter is missing."},"404":{"description":"No results found for the given address."},"503":{"description":"The geocoding service is temporarily unavailable."}}}},"/v1/places/reverse-geocode":{"get":{"summary":"Reverse Geocode","tags":["geocode"],"security":[{"requiems-api-key":[]}],"description":"Converts geographic coordinates into a human-readable address.","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","example":38.8977},"description":"Latitude of the location (-90 to 90)"},{"name":"lon","in":"query","required":true,"schema":{"type":"number","example":-77.0365},"description":"Longitude of the location (-180 to 180)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"lat":{"type":"number","description":"Latitude as provided in the request"},"lon":{"type":"number","description":"Longitude as provided in the request"},"address":{"type":"string","description":"Full display name of the location at the given coordinates"},"city":{"type":"string","description":"City or town at the given coordinates"},"country":{"type":"string","description":"ISO 3166-1 alpha-2 country code (uppercase)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"lat":38.8977,"lon":-77.0365,"address":"White House, 1600, Pennsylvania Avenue Northwest, Ward 2, Washington, District of Columbia, 20500, United States","city":"Washington","country":"US"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"lat or lon is missing or out of range (lat: -90..90, lon: -180..180)."},"404":{"description":"No address found for the given coordinates."},"503":{"description":"The geocoding service is temporarily unavailable."}}}},"/v1/places/holidays":{"get":{"summary":"Get Holidays","tags":["holidays"],"security":[{"requiems-api-key":[]}],"description":"Returns a list of public holidays for the specified country and year","parameters":[{"name":"country","in":"query","required":true,"schema":{"type":"string","example":"US"},"description":"ISO 3166-1 alpha-2 country code (e.g., \"US\", \"GB\", \"DE\")"},{"name":"year","in":"query","required":true,"schema":{"type":"integer","example":2025},"description":"Year for which to retrieve holidays (e.g., 2025)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"country":{"type":"string","description":"ISO 3166-1 alpha-2 country code"},"year":{"type":"integer","description":"Year for which holidays are returned"},"holidays":{"type":"array","items":{},"description":"Array of holiday objects"},"holidays[].date":{"type":"string","description":"Holiday date in YYYY-MM-DD format"},"holidays[].name":{"type":"string","description":"Name of the holiday"},"total":{"type":"integer","description":"Total number of holidays for the country/year"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"country":"US","year":2025,"holidays":[{"date":"2025-01-01","name":"New Year's Day"},{"date":"2025-07-04","name":"Independence Day"}],"total":11},"metadata":{"timestamp":"2025-01-15T10:30:00Z"}}}}},"400":{"description":"Missing or invalid country code or year parameter"},"404":{"description":"No holidays found for the specified country and year"}}}},"/v1/places/holidays/batch":{"post":{"summary":"Batch Get Holidays","tags":["holidays"],"security":[{"requiems-api-key":[]}],"description":"Returns holidays for up to 50 (country, year) pairs in a single request. Each pair is processed independently — if one combination has no data, it returns found:false without failing the entire batch.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"queries":{"type":"array","items":{},"description":"Array of (country, year) pairs. Min: 1, Max: 50.","example":"[{\"country\":\"US\",\"year\":2025},{\"country\":\"AR\",\"year\":2024}]"}},"required":["queries"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"results":{"type":"array","items":{},"description":"One result per query, in the same order as the request"},"results[].country":{"type":"string","description":"ISO 3166-1 alpha-2 country code"},"results[].year":{"type":"integer","description":"Year queried"},"results[].found":{"type":"boolean","description":"false when no holidays exist for that country/year combination"},"results[].holidays":{"type":"array","items":{},"description":"List of holidays. Omitted when found is false."},"results[].total":{"type":"integer","description":"Number of holidays. Omitted when found is false."},"total":{"type":"integer","description":"Total number of results (equals the number of queries sent)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"results":[{"country":"US","year":2025,"found":true,"holidays":[{"date":"2025-01-01","name":"New Year's Day"},{"date":"2025-07-04","name":"Independence Day"}],"total":11},{"country":"AR","year":2024,"found":true,"holidays":[{"date":"2024-01-01","name":"Año Nuevo"}],"total":19},{"country":"AQ","year":2025,"found":false}],"total":3},"metadata":{"timestamp":"2025-01-15T10:30:00Z"}}}}},"400":{"description":"Malformed request body"},"422":{"description":"queries is missing, empty, exceeds 50 items, or contains invalid country codes or years"}}}},"/v1/entertainment/horoscope/{sign}":{"get":{"summary":"Get Daily Horoscope","tags":["horoscope"],"security":[{"requiems-api-key":[]}],"description":"Returns a daily horoscope reading for the specified zodiac sign.","parameters":[{"name":"sign","in":"path","required":true,"schema":{"type":"string"},"description":"Zodiac sign (case-insensitive). Supported values: aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius, pisces"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"sign":{"type":"string","description":"Normalized zodiac sign (lowercase)"},"date":{"type":"string","description":"Today's date in YYYY-MM-DD format (UTC)"},"horoscope":{"type":"string","description":"Daily horoscope reading"},"lucky_number":{"type":"integer","description":"Lucky number for the day (1-99)"},"mood":{"type":"string","description":"Suggested mood for the day"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"sign":"aries","date":"2024-12-15","horoscope":"Today is a great day for new beginnings. Trust your instincts and take that first step toward your goals.","lucky_number":7,"mood":"energetic"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}}}}},"/v1/finance/iban/{iban}":{"get":{"summary":"Validate IBAN","tags":["iban"],"security":[{"requiems-api-key":[]}],"description":"Validates an IBAN and returns the country, bank code, and account number. Spaces in the input are stripped automatically. Always returns HTTP 200 — check the valid field to determine whether the IBAN is valid.","parameters":[{"name":"iban","in":"path","required":true,"schema":{"type":"string","example":"DE89370400440532013000"},"description":"The IBAN to validate. Spaces are stripped. Case-insensitive."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"iban":{"type":"string","description":"The normalised IBAN (spaces stripped, uppercased)"},"valid":{"type":"boolean","description":"true if the IBAN passed length and ISO 13616 checksum validation"},"country":{"type":"string","description":"Full country name (empty if the country code is not in the registry)"},"bank_code":{"type":"string","description":"Bank identifier extracted from the BBAN (empty if country not in registry or positions not defined)"},"account":{"type":"string","description":"Account number extracted from the BBAN (empty if country not in registry or positions not defined)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"iban":"DE89370400440532013000","valid":true,"country":"Germany","bank_code":"37040044","account":"0532013000"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"500":{"description":"Unexpected server error (e.g. database unreachable)."}}}},"/v1/finance/iban/batch":{"post":{"summary":"Batch Validate IBANs","tags":["iban"],"security":[{"requiems-api-key":[]}],"description":"Validates up to 50 iban numbers in a single request. Results are returned in the same order as the input.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"numbers":{"type":"array","items":{},"description":"Array of iban numbers to validate (min: 1, max: 50).","example":"[\"GB29NWBK60161331926819\", \"DE89370400440532013000\"]"}},"required":["numbers"],"example":{"numbers":["GB29NWBK60161331926819","DE89370400440532013000","XX89370400440532013000"]}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"results":{"type":"array","items":{},"description":"Validation result for each number in the same order as the input. Each item has the same fields as the single validate endpoint."},"total":{"type":"integer","description":"Number of results returned. Matches the length of the input array."}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"results":[{"iban":"GB29NWBK60161331926819","valid":true,"country":"United Kingdom","bank_code":"NWBK","account":"31926819"},{"iban":"DE89370400440532013000","valid":true,"country":"Germany","bank_code":"37040044","account":"0532013000"},{"iban":"XX89370400440532013000","valid":false,"country":"","bank_code":"","account":""}],"total":3},"metadata":{"timestamp":"2026-05-03T19:25:02Z"}}}}},"422":{"description":"The numbers array is missing, empty, or contains more than 50 items."}}}},"/v1/finance/inflation":{"get":{"summary":"Get Inflation Rate","tags":["inflation"],"security":[{"requiems-api-key":[]}],"description":"Returns the latest annual CPI inflation rate for a country plus the previous 10 years of historical data.","parameters":[{"name":"country","in":"query","required":true,"schema":{"type":"string","example":"US"},"description":"ISO 3166-1 alpha-2 country code (e.g. US, GB, DE). Case-insensitive."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"country":{"type":"string","description":"ISO 3166-1 alpha-2 country code, uppercased"},"rate":{"type":"number","description":"Latest annual CPI inflation rate as a percentage (e.g. 2.9495 means 2.9495%)"},"period":{"type":"string","description":"Year of the latest data point (e.g. 2024)"},"historical":{"type":"array","items":{},"description":"Up to 10 previous years of inflation data, ordered newest to oldest"},"historical[].period":{"type":"string","description":"Year of the historical data point"},"historical[].rate":{"type":"number","description":"Annual CPI inflation rate for that year"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"country":"US","rate":2.9495,"period":"2024","historical":[{"period":"2023","rate":4.1163},{"period":"2022","rate":8.0028},{"period":"2021","rate":4.6979},{"period":"2020","rate":1.2336},{"period":"2019","rate":1.8122},{"period":"2018","rate":2.4426},{"period":"2017","rate":2.1301},{"period":"2016","rate":1.2616},{"period":"2015","rate":0.1186},{"period":"2014","rate":1.6222}]},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The country parameter is missing or is not a valid ISO 3166-1 alpha-2 code."},"404":{"description":"No inflation data found for the given country code."},"500":{"description":"Unexpected server error."}}}},"/v1/finance/inflation/batch":{"post":{"summary":"Batch Inflation Rates","tags":["inflation"],"security":[{"requiems-api-key":[]}],"description":"Returns inflation data for up to 50 countries in a single request. Results are in the same order as the input. Countries with no data return found: false instead of failing the whole request. Billing: 1 credit per country (not per HTTP request).","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"countries":{"type":"array","items":{},"description":"Array of ISO 3166-1 alpha-2 country codes. Min: 1, Max: 50.","example":"[\"US\", \"AR\", \"DE\"]"}},"required":["countries"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"results":{"type":"array","items":{},"description":"One entry per country, in the same order as the input array"},"results[].country":{"type":"string","description":"ISO 3166-1 alpha-2 country code, uppercased"},"results[].found":{"type":"boolean","description":"false when the country has no data in the World Bank set"},"results[].rate":{"type":"number","description":"Latest CPI inflation rate. Omitted when found: false"},"results[].period":{"type":"string","description":"Year of the latest data point. Omitted when found: false"},"results[].historical":{"type":"array","items":{},"description":"Up to 10 previous years. Omitted when found: false"},"total":{"type":"integer","description":"Total number of results returned (equals number of countries sent)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"results":[{"country":"US","found":true,"rate":2.9495,"period":"2024","historical":[{"period":"2023","rate":4.1163}]},{"country":"AR","found":true,"rate":211.4,"period":"2024","historical":[]},{"country":"XX","found":false}],"total":3},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"422":{"description":"Body is invalid: empty array, more than 50 items, or a bad country code."},"500":{"description":"Unexpected server error."}}}},"/v1/networking/ip/asn":{"get":{"summary":"Lookup ASN (Caller IP)","tags":["ip-asn"],"security":[{"requiems-api-key":[]}],"description":"Look up ASN, organization, ISP, and network details for the requesting client's IP address. Useful when you want information about the user making the request without specifying an IP explicitly.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"ip":{"type":"string","description":"The IP address that was looked up (the requesting client's IP)"},"asn":{"type":"string","description":"Autonomous System Number in format \"ASxxxx\" (e.g., \"AS15169\")"},"org":{"type":"string","description":"Organization name owning the IP address range"},"isp":{"type":"string","description":"Internet Service Provider providing the IP"},"domain":{"type":"string","description":"Domain name associated with the IP or IP range"},"route":{"type":"string","description":"CIDR notation of the network route (e.g., \"8.8.8.0/24\")"},"type":{"type":"string","description":"Type of network (e.g., \"hosting\", \"isp\", \"business\", \"cdn\")"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"ip":"8.8.8.8","asn":"AS15169","org":"Google LLC","isp":"Google Public DNS","domain":"google.com","route":"8.8.8.0/24","type":"hosting"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"500":{"description":"Unexpected server error"}}}},"/v1/networking/ip/asn/{ip}":{"get":{"summary":"Lookup ASN for IP","tags":["ip-asn"],"security":[{"requiems-api-key":[]}],"description":"Look up ASN, organization, ISP, and network details for a specific IP address.","parameters":[{"name":"ip","in":"path","required":true,"schema":{"type":"string","example":"8.8.8.8"},"description":"The IP address to look up (supports IPv4 and IPv6)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"ip":{"type":"string","description":"The IP address that was looked up"},"asn":{"type":"string","description":"Autonomous System Number in format \"ASxxxx\" (e.g., \"AS15169\")"},"org":{"type":"string","description":"Organization name owning the IP address range"},"isp":{"type":"string","description":"Internet Service Provider providing the IP"},"domain":{"type":"string","description":"Domain name associated with the IP or IP range"},"route":{"type":"string","description":"CIDR notation of the network route (e.g., \"8.8.8.0/24\")"},"type":{"type":"string","description":"Type of network (e.g., \"hosting\", \"isp\", \"business\", \"cdn\")"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"ip":"8.8.8.8","asn":"AS15169","org":"Google LLC","isp":"Google Public DNS","domain":"google.com","route":"8.8.8.0/24","type":"hosting"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The IP address is invalid"},"500":{"description":"Unexpected server error"}}}},"/v1/networking/ip":{"get":{"summary":"Get IP Info (Caller IP)","tags":["ip-info"],"security":[{"requiems-api-key":[]}],"description":"Get geolocation and network information for the requesting client's IP address. Useful when you want information about the user making the request without specifying an IP explicitly.","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"ip":{"type":"string","description":"The IP address that was looked up (the requesting client's IP)"},"country":{"type":"string","description":"Country name where the IP is located"},"country_code":{"type":"string","description":"Two-letter ISO country code (e.g., \"US\", \"GB\", \"DE\")"},"city":{"type":"string","description":"City name where the IP is located"},"isp":{"type":"string","description":"Internet Service Provider providing the IP"},"is_vpn":{"type":"boolean","description":"True when the IP belongs to a known VPN"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"ip":"8.8.8.8","country":"United States","country_code":"US","city":"Mountain View","isp":"Google Public DNS","is_vpn":false},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"500":{"description":"Unexpected server error"}}}},"/v1/networking/ip/{ip}":{"get":{"summary":"Get IP Info for IP","tags":["ip-info"],"security":[{"requiems-api-key":[]}],"description":"Get geolocation and network information for a specific IP address.","parameters":[{"name":"ip","in":"path","required":true,"schema":{"type":"string","example":"8.8.8.8"},"description":"The IP address to look up (supports IPv4 and IPv6)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"ip":{"type":"string","description":"The IP address that was looked up"},"country":{"type":"string","description":"Country name where the IP is located"},"country_code":{"type":"string","description":"Two-letter ISO country code (e.g., \"US\", \"GB\", \"DE\")"},"city":{"type":"string","description":"City name where the IP is located"},"isp":{"type":"string","description":"Internet Service Provider providing the IP"},"is_vpn":{"type":"boolean","description":"True when the IP belongs to a known VPN"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"ip":"8.8.8.8","country":"United States","country_code":"US","city":"Mountain View","isp":"Google Public DNS","is_vpn":false},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The IP address is invalid"},"500":{"description":"Unexpected server error"}}}},"/v1/text/lorem":{"get":{"summary":"Generate Lorem Ipsum","tags":["lorem-ipsum"],"security":[{"requiems-api-key":[]}],"description":"Generate Lorem Ipsum placeholder text with customizable length and format","parameters":[{"name":"paragraphs","in":"query","required":false,"schema":{"type":"integer","example":3},"description":"Number of paragraphs to generate (1-20)"},{"name":"sentences","in":"query","required":false,"schema":{"type":"integer","example":5},"description":"Number of sentences per paragraph (1-20)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"text":{"type":"string","description":"Generated Lorem Ipsum text"},"paragraphs":{"type":"integer","description":"Number of paragraphs generated"},"wordCount":{"type":"integer","description":"Total number of words in generated text"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.","paragraphs":1,"wordCount":45},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The paragraphs parameter is out of valid range; The sentences parameter is out of valid range"}}}},"/v1/technology/markdown":{"post":{"summary":"Convert Markdown to HTML","tags":["markdown"],"security":[{"requiems-api-key":[]}],"description":"Converts a Markdown string to HTML. Pass sanitize true to strip potentially unsafe tags like script and iframe from the output.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"markdown":{"type":"string","description":"The Markdown text to convert.","example":"# Hello\n\nThis is **bold** and _italic_ text."},"sanitize":{"type":"boolean","description":"When true, sanitizes the HTML output to remove unsafe tags and attributes."}},"required":["markdown"],"example":{"markdown":"# Hello\n\nThis is **bold** and _italic_ text.","sanitize":true}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"html":{"type":"string","description":"The rendered HTML output"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"html":"<h1>Hello</h1>\n<p>This is <strong>bold</strong> and <em>italic</em> text.</p>\n"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"422":{"description":"unprocessable_entity"}}}},"/v1/finance/mortgage":{"get":{"summary":"Calculate Mortgage","tags":["mortgage"],"security":[{"requiems-api-key":[]}],"description":"Returns the monthly payment, total cost, and full amortization schedule for a fixed-rate mortgage.","parameters":[{"name":"principal","in":"query","required":true,"schema":{"type":"number","example":300000},"description":"Loan amount in your chosen currency (e.g. 300000 for $300,000)"},{"name":"rate","in":"query","required":true,"schema":{"type":"number","example":6.5},"description":"Annual interest rate as a percentage (e.g. 6.5 for 6.5%). Must be greater than 0."},{"name":"years","in":"query","required":true,"schema":{"type":"integer","example":30},"description":"Loan term in years (1–50)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"principal":{"type":"number","description":"The original loan amount passed in the request"},"rate":{"type":"number","description":"The annual interest rate passed in the request"},"years":{"type":"integer","description":"The loan term in years passed in the request"},"monthly_payment":{"type":"number","description":"Fixed monthly payment amount (rounded to 2 decimal places)"},"total_payment":{"type":"number","description":"Total amount paid over the life of the loan"},"total_interest":{"type":"number","description":"Total interest paid (total_payment minus principal)"},"schedule":{"type":"array","items":{},"description":"Full amortization schedule — one entry per month (years × 12 entries)"},"schedule[].month":{"type":"integer","description":"Month number (1 to years × 12)"},"schedule[].payment":{"type":"number","description":"Total payment for this month"},"schedule[].principal":{"type":"number","description":"Portion of this month's payment applied to principal"},"schedule[].interest":{"type":"number","description":"Portion of this month's payment applied to interest"},"schedule[].balance":{"type":"number","description":"Remaining loan balance after this payment"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"principal":300000,"rate":6.5,"years":30,"monthly_payment":1896.2,"total_payment":682632,"total_interest":382632,"schedule":[{"month":1,"payment":1896.2,"principal":271.2,"interest":1625,"balance":299728.8},{"month":2,"payment":1896.2,"principal":272.67,"interest":1623.53,"balance":299456.13}]},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"A required parameter is missing, not a valid number, or out of range (e.g. years > 50 or rate <= 0)."},"500":{"description":"Unexpected server error."}}}},"/v1/networking/mx/{domain}":{"get":{"summary":"MX Lookup","tags":["mx-lookup"],"security":[{"requiems-api-key":[]}],"description":"Retrieve all MX records for a domain. Results are sorted by priority ascending (lowest numeric value has highest mail delivery priority per RFC 5321).","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string","example":"gmail.com"},"description":"The domain name to look up MX records for (e.g. gmail.com)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"domain":{"type":"string","description":"The domain that was queried"},"records":{"type":"array","items":{},"description":"List of MX records, sorted by priority ascending (lowest number = highest priority)"},"records[].host":{"type":"string","description":"Fully-qualified hostname of the mail server (typically ends with a trailing dot)"},"records[].priority":{"type":"integer","description":"MX priority value. Lower values have higher delivery priority per RFC 5321."}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"domain":"gmail.com","records":[{"host":"gmail-smtp-in.l.google.com.","priority":5},{"host":"alt1.gmail-smtp-in.l.google.com.","priority":10},{"host":"alt2.gmail-smtp-in.l.google.com.","priority":20},{"host":"alt3.gmail-smtp-in.l.google.com.","priority":30},{"host":"alt4.gmail-smtp-in.l.google.com.","priority":40}]},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The domain parameter is not a valid domain name."},"404":{"description":"No MX records were found for the domain (domain may not accept email)."},"500":{"description":"DNS lookup failed due to an unexpected server error."}}}},"/v1/technology/base":{"get":{"summary":"Convert Base","tags":["number-base-conversion"],"security":[{"requiems-api-key":[]}],"description":"Convert an integer from one number base to another.","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"integer","example":10},"description":"Source base (2, 8, 10, or 16)"},{"name":"to","in":"query","required":true,"schema":{"type":"integer","example":16},"description":"Target base (2, 8, 10, or 16)"},{"name":"value","in":"query","required":true,"schema":{"type":"string","example":"255"},"description":"The number as a string. Accepts optional prefixes: 0x (hex), 0b (binary), 0o (octal)."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"input":{"type":"string","description":"The original value as provided in the request"},"from":{"type":"integer","description":"The source base"},"to":{"type":"integer","description":"The target base"},"result":{"type":"string","description":"The converted value in the target base"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"input":"255","from":10,"to":16,"result":"ff"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"A required parameter is missing, the base is not one of 2/8/10/16, or value is not valid for the given base."}}}},"/v1/technology/password":{"get":{"summary":"Generate Password","tags":["password-generator"],"security":[{"requiems-api-key":[]}],"description":"Generate a cryptographically secure random password with customizable character sets and length","parameters":[{"name":"length","in":"query","required":false,"schema":{"type":"integer","example":16},"description":"Password length (8-128 characters)"},{"name":"uppercase","in":"query","required":false,"schema":{"type":"boolean","example":true},"description":"Include uppercase letters (A-Z)"},{"name":"numbers","in":"query","required":false,"schema":{"type":"boolean","example":true},"description":"Include numbers (0-9)"},{"name":"symbols","in":"query","required":false,"schema":{"type":"boolean","example":true},"description":"Include special characters (!@#$%^&*()-_=+[]{}|;:,.<>?)"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"password":{"type":"string","description":"The generated password"},"length":{"type":"integer","description":"Length of the generated password"},"strength":{"type":"string","description":"Password strength assessment (weak, medium, or strong)"}}},"metadata":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}}}}},"example":{"data":{"password":"aB3#cDeFgHiJkLmN","length":16,"strength":"strong"},"metadata":{"timestamp":"2026-01-01T00:00:00Z"}}}}},"400":{"description":"The length parameter is out of valid range (8-128)"},"500":{"description":"Failed to generate password (rare cryptographic failure)"}}}},"/v1/validation/phone":{"get":{"summary":"Validate Phone Number","tags":["phone-validation"],"security":[{"requiems-api-key":[]}],"description":"Validates a single phone number and returns its country, type, formatted representation, carrier, and VOIP/virtual risk flags.","parameters":[{"name":"number","in":"query","required":true,"schema":{"type":"string","example":"+447400123456"},"description":"The phone number to validate. Must include the country calling code (e.g. +12015551234)."}],"responses":{"200":{"descripti
[...]
