=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class BarcodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate Barcode (Base64 JSON)
    # Returns a JSON envelope containing the barcode as a base64-encoded PNG string, along with its type and dimensions.
    # @param data [String] The text or numeric string to encode in the barcode
    # @param type [String] Barcode format: code128, code93, code39, ean8, ean13
    # @param [Hash] opts the optional parameters
    # @return [V1TechnologyBarcodeBase64Get200Response]
    def v1_technology_barcode_base64_get(data, type, opts = {})
      data, _status_code, _headers = v1_technology_barcode_base64_get_with_http_info(data, type, opts)
      data
    end

    # Generate Barcode (Base64 JSON)
    # Returns a JSON envelope containing the barcode as a base64-encoded PNG string, along with its type and dimensions.
    # @param data [String] The text or numeric string to encode in the barcode
    # @param type [String] Barcode format: code128, code93, code39, ean8, ean13
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1TechnologyBarcodeBase64Get200Response, Integer, Hash)>] V1TechnologyBarcodeBase64Get200Response data, response status code and response headers
    def v1_technology_barcode_base64_get_with_http_info(data, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BarcodeApi.v1_technology_barcode_base64_get ...'
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling BarcodeApi.v1_technology_barcode_base64_get"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling BarcodeApi.v1_technology_barcode_base64_get"
      end
      # resource path
      local_var_path = '/v1/technology/barcode/base64'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data'] = data
      query_params[:'type'] = type

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TechnologyBarcodeBase64Get200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"BarcodeApi.v1_technology_barcode_base64_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BarcodeApi#v1_technology_barcode_base64_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Barcode (PNG)
    # Returns a raw PNG image of the barcode. Ideal for direct embedding or file download.
    # @param data [String] The text or numeric string to encode in the barcode
    # @param type [String] Barcode format: code128, code93, code39, ean8, ean13
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_technology_barcode_get(data, type, opts = {})
      v1_technology_barcode_get_with_http_info(data, type, opts)
      nil
    end

    # Generate Barcode (PNG)
    # Returns a raw PNG image of the barcode. Ideal for direct embedding or file download.
    # @param data [String] The text or numeric string to encode in the barcode
    # @param type [String] Barcode format: code128, code93, code39, ean8, ean13
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_technology_barcode_get_with_http_info(data, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BarcodeApi.v1_technology_barcode_get ...'
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling BarcodeApi.v1_technology_barcode_get"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling BarcodeApi.v1_technology_barcode_get"
      end
      # resource path
      local_var_path = '/v1/technology/barcode'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data'] = data
      query_params[:'type'] = type

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"BarcodeApi.v1_technology_barcode_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BarcodeApi#v1_technology_barcode_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
