=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class BinLookupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # BIN Lookup
    # Returns card metadata for the given 6–8 digit BIN prefix.
    # @param bin [String] 6–8 digit Bank Identification Number. Dashes and spaces are stripped automatically.
    # @param [Hash] opts the optional parameters
    # @return [V1FinanceBinBinGet200Response]
    def v1_finance_bin_bin_get(bin, opts = {})
      data, _status_code, _headers = v1_finance_bin_bin_get_with_http_info(bin, opts)
      data
    end

    # BIN Lookup
    # Returns card metadata for the given 6–8 digit BIN prefix.
    # @param bin [String] 6–8 digit Bank Identification Number. Dashes and spaces are stripped automatically.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1FinanceBinBinGet200Response, Integer, Hash)>] V1FinanceBinBinGet200Response data, response status code and response headers
    def v1_finance_bin_bin_get_with_http_info(bin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BinLookupApi.v1_finance_bin_bin_get ...'
      end
      # verify the required parameter 'bin' is set
      if @api_client.config.client_side_validation && bin.nil?
        fail ArgumentError, "Missing the required parameter 'bin' when calling BinLookupApi.v1_finance_bin_bin_get"
      end
      # resource path
      local_var_path = '/v1/finance/bin/{bin}'.sub('{bin}', CGI.escape(bin.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1FinanceBinBinGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"BinLookupApi.v1_finance_bin_bin_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BinLookupApi#v1_finance_bin_bin_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
