=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class ChuckNorrisApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Random Chuck Norris Fact
    # Returns a randomly selected Chuck Norris fact from the built-in database.
    # @param [Hash] opts the optional parameters
    # @return [V1EntertainmentChuckNorrisGet200Response]
    def v1_entertainment_chuck_norris_get(opts = {})
      data, _status_code, _headers = v1_entertainment_chuck_norris_get_with_http_info(opts)
      data
    end

    # Get Random Chuck Norris Fact
    # Returns a randomly selected Chuck Norris fact from the built-in database.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1EntertainmentChuckNorrisGet200Response, Integer, Hash)>] V1EntertainmentChuckNorrisGet200Response data, response status code and response headers
    def v1_entertainment_chuck_norris_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChuckNorrisApi.v1_entertainment_chuck_norris_get ...'
      end
      # resource path
      local_var_path = '/v1/entertainment/chuck-norris'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1EntertainmentChuckNorrisGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"ChuckNorrisApi.v1_entertainment_chuck_norris_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChuckNorrisApi#v1_entertainment_chuck_norris_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
