=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class CommoditiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Commodity Price
    # Returns the latest annual average price and up to 10 years of historical data for the requested commodity slug.
    # @param commodity [String] Commodity slug (e.g. gold, silver, oil). See supported slugs below.
    # @param [Hash] opts the optional parameters
    # @return [V1FinanceCommoditiesCommodityGet200Response]
    def v1_finance_commodities_commodity_get(commodity, opts = {})
      data, _status_code, _headers = v1_finance_commodities_commodity_get_with_http_info(commodity, opts)
      data
    end

    # Get Commodity Price
    # Returns the latest annual average price and up to 10 years of historical data for the requested commodity slug.
    # @param commodity [String] Commodity slug (e.g. gold, silver, oil). See supported slugs below.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1FinanceCommoditiesCommodityGet200Response, Integer, Hash)>] V1FinanceCommoditiesCommodityGet200Response data, response status code and response headers
    def v1_finance_commodities_commodity_get_with_http_info(commodity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommoditiesApi.v1_finance_commodities_commodity_get ...'
      end
      # verify the required parameter 'commodity' is set
      if @api_client.config.client_side_validation && commodity.nil?
        fail ArgumentError, "Missing the required parameter 'commodity' when calling CommoditiesApi.v1_finance_commodities_commodity_get"
      end
      # resource path
      local_var_path = '/v1/finance/commodities/{commodity}'.sub('{commodity}', CGI.escape(commodity.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1FinanceCommoditiesCommodityGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"CommoditiesApi.v1_finance_commodities_commodity_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommoditiesApi#v1_finance_commodities_commodity_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
