=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class CounterApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Counter Value
    # Get the current value of a counter without incrementing it
    # @param namespace [String] Counter namespace (1-64 chars: alphanumeric, hyphen, underscore)
    # @param [Hash] opts the optional parameters
    # @return [V1TechnologyCounterNamespaceGet200Response]
    def v1_technology_counter_namespace_get(namespace, opts = {})
      data, _status_code, _headers = v1_technology_counter_namespace_get_with_http_info(namespace, opts)
      data
    end

    # Get Counter Value
    # Get the current value of a counter without incrementing it
    # @param namespace [String] Counter namespace (1-64 chars: alphanumeric, hyphen, underscore)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1TechnologyCounterNamespaceGet200Response, Integer, Hash)>] V1TechnologyCounterNamespaceGet200Response data, response status code and response headers
    def v1_technology_counter_namespace_get_with_http_info(namespace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterApi.v1_technology_counter_namespace_get ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling CounterApi.v1_technology_counter_namespace_get"
      end
      # resource path
      local_var_path = '/v1/technology/counter/{namespace}'.sub('{namespace}', CGI.escape(namespace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TechnologyCounterNamespaceGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"CounterApi.v1_technology_counter_namespace_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterApi#v1_technology_counter_namespace_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Increment Counter
    # Atomically increment a counter in the specified namespace and return the new value
    # @param namespace [String] Counter namespace (1-64 chars: alphanumeric, hyphen, underscore)
    # @param [Hash] opts the optional parameters
    # @return [V1TechnologyCounterNamespacePost200Response]
    def v1_technology_counter_namespace_post(namespace, opts = {})
      data, _status_code, _headers = v1_technology_counter_namespace_post_with_http_info(namespace, opts)
      data
    end

    # Increment Counter
    # Atomically increment a counter in the specified namespace and return the new value
    # @param namespace [String] Counter namespace (1-64 chars: alphanumeric, hyphen, underscore)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1TechnologyCounterNamespacePost200Response, Integer, Hash)>] V1TechnologyCounterNamespacePost200Response data, response status code and response headers
    def v1_technology_counter_namespace_post_with_http_info(namespace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CounterApi.v1_technology_counter_namespace_post ...'
      end
      # verify the required parameter 'namespace' is set
      if @api_client.config.client_side_validation && namespace.nil?
        fail ArgumentError, "Missing the required parameter 'namespace' when calling CounterApi.v1_technology_counter_namespace_post"
      end
      # resource path
      local_var_path = '/v1/technology/counter/{namespace}'.sub('{namespace}', CGI.escape(namespace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TechnologyCounterNamespacePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"CounterApi.v1_technology_counter_namespace_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CounterApi#v1_technology_counter_namespace_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
