=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class DictionaryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Dictionary Lookup
    # Returns the definition, phonetics, examples, and synonyms for the given word.
    # @param word [String] The word to look up in the dictionary
    # @param [Hash] opts the optional parameters
    # @return [V1TextDictionaryWordGet200Response]
    def v1_text_dictionary_word_get(word, opts = {})
      data, _status_code, _headers = v1_text_dictionary_word_get_with_http_info(word, opts)
      data
    end

    # Dictionary Lookup
    # Returns the definition, phonetics, examples, and synonyms for the given word.
    # @param word [String] The word to look up in the dictionary
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1TextDictionaryWordGet200Response, Integer, Hash)>] V1TextDictionaryWordGet200Response data, response status code and response headers
    def v1_text_dictionary_word_get_with_http_info(word, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DictionaryApi.v1_text_dictionary_word_get ...'
      end
      # verify the required parameter 'word' is set
      if @api_client.config.client_side_validation && word.nil?
        fail ArgumentError, "Missing the required parameter 'word' when calling DictionaryApi.v1_text_dictionary_word_get"
      end
      # resource path
      local_var_path = '/v1/text/dictionary/{word}'.sub('{word}', CGI.escape(word.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TextDictionaryWordGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"DictionaryApi.v1_text_dictionary_word_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DictionaryApi#v1_text_dictionary_word_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
