=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class DisposableEmailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check Batch Emails
    # Validate multiple email addresses in a single request (max 100 emails)
    # @param v1_networking_disposable_batch_post_request [V1NetworkingDisposableBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1NetworkingDisposableBatchPost200Response]
    def v1_networking_disposable_batch_post(v1_networking_disposable_batch_post_request, opts = {})
      data, _status_code, _headers = v1_networking_disposable_batch_post_with_http_info(v1_networking_disposable_batch_post_request, opts)
      data
    end

    # Check Batch Emails
    # Validate multiple email addresses in a single request (max 100 emails)
    # @param v1_networking_disposable_batch_post_request [V1NetworkingDisposableBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1NetworkingDisposableBatchPost200Response, Integer, Hash)>] V1NetworkingDisposableBatchPost200Response data, response status code and response headers
    def v1_networking_disposable_batch_post_with_http_info(v1_networking_disposable_batch_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisposableEmailApi.v1_networking_disposable_batch_post ...'
      end
      # verify the required parameter 'v1_networking_disposable_batch_post_request' is set
      if @api_client.config.client_side_validation && v1_networking_disposable_batch_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_networking_disposable_batch_post_request' when calling DisposableEmailApi.v1_networking_disposable_batch_post"
      end
      # resource path
      local_var_path = '/v1/networking/disposable/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_networking_disposable_batch_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1NetworkingDisposableBatchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"DisposableEmailApi.v1_networking_disposable_batch_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisposableEmailApi#v1_networking_disposable_batch_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check Single Email
    # Validate whether an email address uses a disposable domain
    # @param v1_networking_disposable_check_post_request [V1NetworkingDisposableCheckPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1NetworkingDisposableCheckPost200Response]
    def v1_networking_disposable_check_post(v1_networking_disposable_check_post_request, opts = {})
      data, _status_code, _headers = v1_networking_disposable_check_post_with_http_info(v1_networking_disposable_check_post_request, opts)
      data
    end

    # Check Single Email
    # Validate whether an email address uses a disposable domain
    # @param v1_networking_disposable_check_post_request [V1NetworkingDisposableCheckPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1NetworkingDisposableCheckPost200Response, Integer, Hash)>] V1NetworkingDisposableCheckPost200Response data, response status code and response headers
    def v1_networking_disposable_check_post_with_http_info(v1_networking_disposable_check_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisposableEmailApi.v1_networking_disposable_check_post ...'
      end
      # verify the required parameter 'v1_networking_disposable_check_post_request' is set
      if @api_client.config.client_side_validation && v1_networking_disposable_check_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_networking_disposable_check_post_request' when calling DisposableEmailApi.v1_networking_disposable_check_post"
      end
      # resource path
      local_var_path = '/v1/networking/disposable/check'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_networking_disposable_check_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1NetworkingDisposableCheckPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"DisposableEmailApi.v1_networking_disposable_check_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisposableEmailApi#v1_networking_disposable_check_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check Domain
    # Check if a specific domain is in the disposable blocklist
    # @param domain [String] The domain to check
    # @param [Hash] opts the optional parameters
    # @return [V1NetworkingDisposableDomainDomainGet200Response]
    def v1_networking_disposable_domain_domain_get(domain, opts = {})
      data, _status_code, _headers = v1_networking_disposable_domain_domain_get_with_http_info(domain, opts)
      data
    end

    # Check Domain
    # Check if a specific domain is in the disposable blocklist
    # @param domain [String] The domain to check
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1NetworkingDisposableDomainDomainGet200Response, Integer, Hash)>] V1NetworkingDisposableDomainDomainGet200Response data, response status code and response headers
    def v1_networking_disposable_domain_domain_get_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisposableEmailApi.v1_networking_disposable_domain_domain_get ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DisposableEmailApi.v1_networking_disposable_domain_domain_get"
      end
      # resource path
      local_var_path = '/v1/networking/disposable/domain/{domain}'.sub('{domain}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1NetworkingDisposableDomainDomainGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"DisposableEmailApi.v1_networking_disposable_domain_domain_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisposableEmailApi#v1_networking_disposable_domain_domain_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Domains (Paginated)
    # Get a paginated list of all disposable domains in the blocklist
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default: 1)
    # @option opts [Integer] :per_page Items per page (default: 100, max: 1000)
    # @return [V1NetworkingDisposableDomainsGet200Response]
    def v1_networking_disposable_domains_get(opts = {})
      data, _status_code, _headers = v1_networking_disposable_domains_get_with_http_info(opts)
      data
    end

    # List Domains (Paginated)
    # Get a paginated list of all disposable domains in the blocklist
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default: 1)
    # @option opts [Integer] :per_page Items per page (default: 100, max: 1000)
    # @return [Array<(V1NetworkingDisposableDomainsGet200Response, Integer, Hash)>] V1NetworkingDisposableDomainsGet200Response data, response status code and response headers
    def v1_networking_disposable_domains_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisposableEmailApi.v1_networking_disposable_domains_get ...'
      end
      # resource path
      local_var_path = '/v1/networking/disposable/domains'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1NetworkingDisposableDomainsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"DisposableEmailApi.v1_networking_disposable_domains_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisposableEmailApi#v1_networking_disposable_domains_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Statistics
    # Get statistics about the disposable email blocklist
    # @param [Hash] opts the optional parameters
    # @return [V1NetworkingDisposableStatsGet200Response]
    def v1_networking_disposable_stats_get(opts = {})
      data, _status_code, _headers = v1_networking_disposable_stats_get_with_http_info(opts)
      data
    end

    # Get Statistics
    # Get statistics about the disposable email blocklist
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1NetworkingDisposableStatsGet200Response, Integer, Hash)>] V1NetworkingDisposableStatsGet200Response data, response status code and response headers
    def v1_networking_disposable_stats_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisposableEmailApi.v1_networking_disposable_stats_get ...'
      end
      # resource path
      local_var_path = '/v1/networking/disposable/stats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1NetworkingDisposableStatsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"DisposableEmailApi.v1_networking_disposable_stats_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisposableEmailApi#v1_networking_disposable_stats_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
