=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class EmailValidateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Validate Emails (Batch)
    # Validates up to 50 email addresses in a single request. Each email is processed independently and returns a full validation breakdown (syntax, MX record, disposable check, normalization, and typo suggestion). Invalid emails do not fail the request. Billing: 1 credit per email.
    # @param v1_validation_email_batch_post_request [V1ValidationEmailBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1ValidationEmailBatchPost200Response]
    def v1_validation_email_batch_post(v1_validation_email_batch_post_request, opts = {})
      data, _status_code, _headers = v1_validation_email_batch_post_with_http_info(v1_validation_email_batch_post_request, opts)
      data
    end

    # Validate Emails (Batch)
    # Validates up to 50 email addresses in a single request. Each email is processed independently and returns a full validation breakdown (syntax, MX record, disposable check, normalization, and typo suggestion). Invalid emails do not fail the request. Billing: 1 credit per email.
    # @param v1_validation_email_batch_post_request [V1ValidationEmailBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ValidationEmailBatchPost200Response, Integer, Hash)>] V1ValidationEmailBatchPost200Response data, response status code and response headers
    def v1_validation_email_batch_post_with_http_info(v1_validation_email_batch_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailValidateApi.v1_validation_email_batch_post ...'
      end
      # verify the required parameter 'v1_validation_email_batch_post_request' is set
      if @api_client.config.client_side_validation && v1_validation_email_batch_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_validation_email_batch_post_request' when calling EmailValidateApi.v1_validation_email_batch_post"
      end
      # resource path
      local_var_path = '/v1/validation/email/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_validation_email_batch_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1ValidationEmailBatchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"EmailValidateApi.v1_validation_email_batch_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailValidateApi#v1_validation_email_batch_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Email
    # Validates a single email address and returns a full breakdown of syntax validity, MX record status, disposable domain check, normalized form, and any typo suggestion.
    # @param v1_validation_email_post_request [V1ValidationEmailPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1ValidationEmailPost200Response]
    def v1_validation_email_post(v1_validation_email_post_request, opts = {})
      data, _status_code, _headers = v1_validation_email_post_with_http_info(v1_validation_email_post_request, opts)
      data
    end

    # Validate Email
    # Validates a single email address and returns a full breakdown of syntax validity, MX record status, disposable domain check, normalized form, and any typo suggestion.
    # @param v1_validation_email_post_request [V1ValidationEmailPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ValidationEmailPost200Response, Integer, Hash)>] V1ValidationEmailPost200Response data, response status code and response headers
    def v1_validation_email_post_with_http_info(v1_validation_email_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailValidateApi.v1_validation_email_post ...'
      end
      # verify the required parameter 'v1_validation_email_post_request' is set
      if @api_client.config.client_side_validation && v1_validation_email_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_validation_email_post_request' when calling EmailValidateApi.v1_validation_email_post"
      end
      # resource path
      local_var_path = '/v1/validation/email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_validation_email_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1ValidationEmailPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"EmailValidateApi.v1_validation_email_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailValidateApi#v1_validation_email_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
