=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class EmojiApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Emoji by Name
    # Returns a specific emoji by its CLDR snake_case name. The name is case-insensitive.
    # @param name [String] CLDR snake_case emoji name (e.g. grinning_face, thumbs_up)
    # @param [Hash] opts the optional parameters
    # @return [V1EntertainmentEmojiNameGet200Response]
    def v1_entertainment_emoji_name_get(name, opts = {})
      data, _status_code, _headers = v1_entertainment_emoji_name_get_with_http_info(name, opts)
      data
    end

    # Get Emoji by Name
    # Returns a specific emoji by its CLDR snake_case name. The name is case-insensitive.
    # @param name [String] CLDR snake_case emoji name (e.g. grinning_face, thumbs_up)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1EntertainmentEmojiNameGet200Response, Integer, Hash)>] V1EntertainmentEmojiNameGet200Response data, response status code and response headers
    def v1_entertainment_emoji_name_get_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmojiApi.v1_entertainment_emoji_name_get ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling EmojiApi.v1_entertainment_emoji_name_get"
      end
      # resource path
      local_var_path = '/v1/entertainment/emoji/{name}'.sub('{name}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1EntertainmentEmojiNameGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"EmojiApi.v1_entertainment_emoji_name_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmojiApi#v1_entertainment_emoji_name_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Random Emoji
    # Returns a randomly selected emoji with its full metadata.
    # @param [Hash] opts the optional parameters
    # @return [V1EntertainmentEmojiRandomGet200Response]
    def v1_entertainment_emoji_random_get(opts = {})
      data, _status_code, _headers = v1_entertainment_emoji_random_get_with_http_info(opts)
      data
    end

    # Get Random Emoji
    # Returns a randomly selected emoji with its full metadata.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1EntertainmentEmojiRandomGet200Response, Integer, Hash)>] V1EntertainmentEmojiRandomGet200Response data, response status code and response headers
    def v1_entertainment_emoji_random_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmojiApi.v1_entertainment_emoji_random_get ...'
      end
      # resource path
      local_var_path = '/v1/entertainment/emoji/random'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1EntertainmentEmojiRandomGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"EmojiApi.v1_entertainment_emoji_random_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmojiApi#v1_entertainment_emoji_random_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Emoji
    # Search for emojis whose name or category contains the given query string (case-insensitive). Returns a list of all matches.
    # @param q [String] Search term to match against emoji names and categories (e.g. happy, heart, food)
    # @param [Hash] opts the optional parameters
    # @return [V1EntertainmentEmojiSearchGet200Response]
    def v1_entertainment_emoji_search_get(q, opts = {})
      data, _status_code, _headers = v1_entertainment_emoji_search_get_with_http_info(q, opts)
      data
    end

    # Search Emoji
    # Search for emojis whose name or category contains the given query string (case-insensitive). Returns a list of all matches.
    # @param q [String] Search term to match against emoji names and categories (e.g. happy, heart, food)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1EntertainmentEmojiSearchGet200Response, Integer, Hash)>] V1EntertainmentEmojiSearchGet200Response data, response status code and response headers
    def v1_entertainment_emoji_search_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmojiApi.v1_entertainment_emoji_search_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling EmojiApi.v1_entertainment_emoji_search_get"
      end
      # resource path
      local_var_path = '/v1/entertainment/emoji/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1EntertainmentEmojiSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"EmojiApi.v1_entertainment_emoji_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmojiApi#v1_entertainment_emoji_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
