=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class ExchangeRateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Convert Currency
    # Converts an amount from one currency to another and returns the rate alongside the converted value.
    # @param from [String] ISO 4217 source currency code (3 letters, e.g. USD)
    # @param to [String] ISO 4217 target currency code (3 letters, e.g. EUR)
    # @param amount [Float] Amount to convert. Must be greater than 0.
    # @param [Hash] opts the optional parameters
    # @return [V1FinanceConvertGet200Response]
    def v1_finance_convert_get(from, to, amount, opts = {})
      data, _status_code, _headers = v1_finance_convert_get_with_http_info(from, to, amount, opts)
      data
    end

    # Convert Currency
    # Converts an amount from one currency to another and returns the rate alongside the converted value.
    # @param from [String] ISO 4217 source currency code (3 letters, e.g. USD)
    # @param to [String] ISO 4217 target currency code (3 letters, e.g. EUR)
    # @param amount [Float] Amount to convert. Must be greater than 0.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1FinanceConvertGet200Response, Integer, Hash)>] V1FinanceConvertGet200Response data, response status code and response headers
    def v1_finance_convert_get_with_http_info(from, to, amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExchangeRateApi.v1_finance_convert_get ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling ExchangeRateApi.v1_finance_convert_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling ExchangeRateApi.v1_finance_convert_get"
      end
      # verify the required parameter 'amount' is set
      if @api_client.config.client_side_validation && amount.nil?
        fail ArgumentError, "Missing the required parameter 'amount' when calling ExchangeRateApi.v1_finance_convert_get"
      end
      # resource path
      local_var_path = '/v1/finance/convert'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'amount'] = amount

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1FinanceConvertGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"ExchangeRateApi.v1_finance_convert_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExchangeRateApi#v1_finance_convert_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Exchange Rate
    # Returns the current exchange rate between two currencies.
    # @param from [String] ISO 4217 source currency code (3 letters, e.g. USD)
    # @param to [String] ISO 4217 target currency code (3 letters, e.g. EUR)
    # @param [Hash] opts the optional parameters
    # @return [V1FinanceExchangeRateGet200Response]
    def v1_finance_exchange_rate_get(from, to, opts = {})
      data, _status_code, _headers = v1_finance_exchange_rate_get_with_http_info(from, to, opts)
      data
    end

    # Get Exchange Rate
    # Returns the current exchange rate between two currencies.
    # @param from [String] ISO 4217 source currency code (3 letters, e.g. USD)
    # @param to [String] ISO 4217 target currency code (3 letters, e.g. EUR)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1FinanceExchangeRateGet200Response, Integer, Hash)>] V1FinanceExchangeRateGet200Response data, response status code and response headers
    def v1_finance_exchange_rate_get_with_http_info(from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExchangeRateApi.v1_finance_exchange_rate_get ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling ExchangeRateApi.v1_finance_exchange_rate_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling ExchangeRateApi.v1_finance_exchange_rate_get"
      end
      # resource path
      local_var_path = '/v1/finance/exchange-rate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1FinanceExchangeRateGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"ExchangeRateApi.v1_finance_exchange_rate_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExchangeRateApi#v1_finance_exchange_rate_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
