=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class FitnessExercisesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Body Parts
    # Returns a sorted list of all distinct body part values present in the dataset. Use these as valid values for the body_part filter.
    # @param [Hash] opts the optional parameters
    # @return [V1HealthBodyPartsGet200Response]
    def v1_health_body_parts_get(opts = {})
      data, _status_code, _headers = v1_health_body_parts_get_with_http_info(opts)
      data
    end

    # List Body Parts
    # Returns a sorted list of all distinct body part values present in the dataset. Use these as valid values for the body_part filter.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1HealthBodyPartsGet200Response, Integer, Hash)>] V1HealthBodyPartsGet200Response data, response status code and response headers
    def v1_health_body_parts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FitnessExercisesApi.v1_health_body_parts_get ...'
      end
      # resource path
      local_var_path = '/v1/health/body-parts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HealthBodyPartsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"FitnessExercisesApi.v1_health_body_parts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FitnessExercisesApi#v1_health_body_parts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Equipment
    # Returns a sorted list of all distinct equipment types. Use these as valid values for the equipment filter.
    # @param [Hash] opts the optional parameters
    # @return [V1HealthEquipmentGet200Response]
    def v1_health_equipment_get(opts = {})
      data, _status_code, _headers = v1_health_equipment_get_with_http_info(opts)
      data
    end

    # List Equipment
    # Returns a sorted list of all distinct equipment types. Use these as valid values for the equipment filter.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1HealthEquipmentGet200Response, Integer, Hash)>] V1HealthEquipmentGet200Response data, response status code and response headers
    def v1_health_equipment_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FitnessExercisesApi.v1_health_equipment_get ...'
      end
      # resource path
      local_var_path = '/v1/health/equipment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HealthEquipmentGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"FitnessExercisesApi.v1_health_equipment_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FitnessExercisesApi#v1_health_equipment_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Exercises
    # Returns a paginated list of exercises. All filter parameters are optional and combinable.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :body_part Filter by body part (e.g. chest, back, upper legs). Use /v1/health/body-parts for valid values.
    # @option opts [String] :equipment Filter by equipment type (e.g. barbell, dumbbell, body weight). Use /v1/health/equipment for valid values.
    # @option opts [String] :muscle Filter by target or secondary muscle (e.g. biceps, glutes). Use /v1/health/muscles for valid values.
    # @option opts [String] :search Full-text search on exercise name.
    # @option opts [Integer] :page Page number (default: 1)
    # @option opts [Integer] :per_page Results per page, 1–100 (default: 20)
    # @return [V1HealthExercisesGet200Response]
    def v1_health_exercises_get(opts = {})
      data, _status_code, _headers = v1_health_exercises_get_with_http_info(opts)
      data
    end

    # List Exercises
    # Returns a paginated list of exercises. All filter parameters are optional and combinable.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :body_part Filter by body part (e.g. chest, back, upper legs). Use /v1/health/body-parts for valid values.
    # @option opts [String] :equipment Filter by equipment type (e.g. barbell, dumbbell, body weight). Use /v1/health/equipment for valid values.
    # @option opts [String] :muscle Filter by target or secondary muscle (e.g. biceps, glutes). Use /v1/health/muscles for valid values.
    # @option opts [String] :search Full-text search on exercise name.
    # @option opts [Integer] :page Page number (default: 1)
    # @option opts [Integer] :per_page Results per page, 1–100 (default: 20)
    # @return [Array<(V1HealthExercisesGet200Response, Integer, Hash)>] V1HealthExercisesGet200Response data, response status code and response headers
    def v1_health_exercises_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FitnessExercisesApi.v1_health_exercises_get ...'
      end
      # resource path
      local_var_path = '/v1/health/exercises'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'body_part'] = opts[:'body_part'] if !opts[:'body_part'].nil?
      query_params[:'equipment'] = opts[:'equipment'] if !opts[:'equipment'].nil?
      query_params[:'muscle'] = opts[:'muscle'] if !opts[:'muscle'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HealthExercisesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"FitnessExercisesApi.v1_health_exercises_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FitnessExercisesApi#v1_health_exercises_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Exercise by ID
    # Returns a single exercise by its numeric ID.
    # @param id [Integer] Numeric exercise ID
    # @param [Hash] opts the optional parameters
    # @return [V1HealthExercisesIdGet200Response]
    def v1_health_exercises_id_get(id, opts = {})
      data, _status_code, _headers = v1_health_exercises_id_get_with_http_info(id, opts)
      data
    end

    # Get Exercise by ID
    # Returns a single exercise by its numeric ID.
    # @param id [Integer] Numeric exercise ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1HealthExercisesIdGet200Response, Integer, Hash)>] V1HealthExercisesIdGet200Response data, response status code and response headers
    def v1_health_exercises_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FitnessExercisesApi.v1_health_exercises_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FitnessExercisesApi.v1_health_exercises_id_get"
      end
      # resource path
      local_var_path = '/v1/health/exercises/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HealthExercisesIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"FitnessExercisesApi.v1_health_exercises_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FitnessExercisesApi#v1_health_exercises_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Random Exercise
    # Returns a single randomly selected exercise. Accepts the same filter parameters as the list endpoint, so you can get a random chest exercise, a random bodyweight exercise, etc.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :body_part Restrict random selection to this body part.
    # @option opts [String] :equipment Restrict random selection to this equipment type.
    # @option opts [String] :muscle Restrict random selection to exercises targeting this muscle.
    # @option opts [String] :search Restrict random selection to exercises matching this search term.
    # @return [V1HealthExercisesRandomGet200Response]
    def v1_health_exercises_random_get(opts = {})
      data, _status_code, _headers = v1_health_exercises_random_get_with_http_info(opts)
      data
    end

    # Random Exercise
    # Returns a single randomly selected exercise. Accepts the same filter parameters as the list endpoint, so you can get a random chest exercise, a random bodyweight exercise, etc.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :body_part Restrict random selection to this body part.
    # @option opts [String] :equipment Restrict random selection to this equipment type.
    # @option opts [String] :muscle Restrict random selection to exercises targeting this muscle.
    # @option opts [String] :search Restrict random selection to exercises matching this search term.
    # @return [Array<(V1HealthExercisesRandomGet200Response, Integer, Hash)>] V1HealthExercisesRandomGet200Response data, response status code and response headers
    def v1_health_exercises_random_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FitnessExercisesApi.v1_health_exercises_random_get ...'
      end
      # resource path
      local_var_path = '/v1/health/exercises/random'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'body_part'] = opts[:'body_part'] if !opts[:'body_part'].nil?
      query_params[:'equipment'] = opts[:'equipment'] if !opts[:'equipment'].nil?
      query_params[:'muscle'] = opts[:'muscle'] if !opts[:'muscle'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HealthExercisesRandomGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"FitnessExercisesApi.v1_health_exercises_random_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FitnessExercisesApi#v1_health_exercises_random_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Muscles
    # Returns a sorted list of all distinct muscle names (combining target and secondary muscles). Use these as valid values for the muscle filter.
    # @param [Hash] opts the optional parameters
    # @return [V1HealthMusclesGet200Response]
    def v1_health_muscles_get(opts = {})
      data, _status_code, _headers = v1_health_muscles_get_with_http_info(opts)
      data
    end

    # List Muscles
    # Returns a sorted list of all distinct muscle names (combining target and secondary muscles). Use these as valid values for the muscle filter.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1HealthMusclesGet200Response, Integer, Hash)>] V1HealthMusclesGet200Response data, response status code and response headers
    def v1_health_muscles_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FitnessExercisesApi.v1_health_muscles_get ...'
      end
      # resource path
      local_var_path = '/v1/health/muscles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HealthMusclesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"FitnessExercisesApi.v1_health_muscles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FitnessExercisesApi#v1_health_muscles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
