=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class GeocodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Geocode Address
    # Converts a free-text address into latitude and longitude coordinates.
    # @param address [String] The address to geocode (street, city, country, or any combination)
    # @param [Hash] opts the optional parameters
    # @return [V1PlacesGeocodeGet200Response]
    def v1_places_geocode_get(address, opts = {})
      data, _status_code, _headers = v1_places_geocode_get_with_http_info(address, opts)
      data
    end

    # Geocode Address
    # Converts a free-text address into latitude and longitude coordinates.
    # @param address [String] The address to geocode (street, city, country, or any combination)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1PlacesGeocodeGet200Response, Integer, Hash)>] V1PlacesGeocodeGet200Response data, response status code and response headers
    def v1_places_geocode_get_with_http_info(address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeocodeApi.v1_places_geocode_get ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling GeocodeApi.v1_places_geocode_get"
      end
      # resource path
      local_var_path = '/v1/places/geocode'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'address'] = address

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1PlacesGeocodeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"GeocodeApi.v1_places_geocode_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeocodeApi#v1_places_geocode_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reverse Geocode
    # Converts geographic coordinates into a human-readable address.
    # @param lat [Float] Latitude of the location (-90 to 90)
    # @param lon [Float] Longitude of the location (-180 to 180)
    # @param [Hash] opts the optional parameters
    # @return [V1PlacesReverseGeocodeGet200Response]
    def v1_places_reverse_geocode_get(lat, lon, opts = {})
      data, _status_code, _headers = v1_places_reverse_geocode_get_with_http_info(lat, lon, opts)
      data
    end

    # Reverse Geocode
    # Converts geographic coordinates into a human-readable address.
    # @param lat [Float] Latitude of the location (-90 to 90)
    # @param lon [Float] Longitude of the location (-180 to 180)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1PlacesReverseGeocodeGet200Response, Integer, Hash)>] V1PlacesReverseGeocodeGet200Response data, response status code and response headers
    def v1_places_reverse_geocode_get_with_http_info(lat, lon, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeocodeApi.v1_places_reverse_geocode_get ...'
      end
      # verify the required parameter 'lat' is set
      if @api_client.config.client_side_validation && lat.nil?
        fail ArgumentError, "Missing the required parameter 'lat' when calling GeocodeApi.v1_places_reverse_geocode_get"
      end
      # verify the required parameter 'lon' is set
      if @api_client.config.client_side_validation && lon.nil?
        fail ArgumentError, "Missing the required parameter 'lon' when calling GeocodeApi.v1_places_reverse_geocode_get"
      end
      # resource path
      local_var_path = '/v1/places/reverse-geocode'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lat'] = lat
      query_params[:'lon'] = lon

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1PlacesReverseGeocodeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"GeocodeApi.v1_places_reverse_geocode_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeocodeApi#v1_places_reverse_geocode_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
