=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class HolidaysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch Get Holidays
    # Returns holidays for up to 50 (country, year) pairs in a single request. Each pair is processed independently — if one combination has no data, it returns found:false without failing the entire batch.
    # @param v1_places_holidays_batch_post_request [V1PlacesHolidaysBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1PlacesHolidaysBatchPost200Response]
    def v1_places_holidays_batch_post(v1_places_holidays_batch_post_request, opts = {})
      data, _status_code, _headers = v1_places_holidays_batch_post_with_http_info(v1_places_holidays_batch_post_request, opts)
      data
    end

    # Batch Get Holidays
    # Returns holidays for up to 50 (country, year) pairs in a single request. Each pair is processed independently — if one combination has no data, it returns found:false without failing the entire batch.
    # @param v1_places_holidays_batch_post_request [V1PlacesHolidaysBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1PlacesHolidaysBatchPost200Response, Integer, Hash)>] V1PlacesHolidaysBatchPost200Response data, response status code and response headers
    def v1_places_holidays_batch_post_with_http_info(v1_places_holidays_batch_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HolidaysApi.v1_places_holidays_batch_post ...'
      end
      # verify the required parameter 'v1_places_holidays_batch_post_request' is set
      if @api_client.config.client_side_validation && v1_places_holidays_batch_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_places_holidays_batch_post_request' when calling HolidaysApi.v1_places_holidays_batch_post"
      end
      # resource path
      local_var_path = '/v1/places/holidays/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_places_holidays_batch_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1PlacesHolidaysBatchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"HolidaysApi.v1_places_holidays_batch_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HolidaysApi#v1_places_holidays_batch_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Holidays
    # Returns a list of public holidays for the specified country and year
    # @param country [String] ISO 3166-1 alpha-2 country code (e.g., \&quot;US\&quot;, \&quot;GB\&quot;, \&quot;DE\&quot;)
    # @param year [Integer] Year for which to retrieve holidays (e.g., 2025)
    # @param [Hash] opts the optional parameters
    # @return [V1PlacesHolidaysGet200Response]
    def v1_places_holidays_get(country, year, opts = {})
      data, _status_code, _headers = v1_places_holidays_get_with_http_info(country, year, opts)
      data
    end

    # Get Holidays
    # Returns a list of public holidays for the specified country and year
    # @param country [String] ISO 3166-1 alpha-2 country code (e.g., \&quot;US\&quot;, \&quot;GB\&quot;, \&quot;DE\&quot;)
    # @param year [Integer] Year for which to retrieve holidays (e.g., 2025)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1PlacesHolidaysGet200Response, Integer, Hash)>] V1PlacesHolidaysGet200Response data, response status code and response headers
    def v1_places_holidays_get_with_http_info(country, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HolidaysApi.v1_places_holidays_get ...'
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling HolidaysApi.v1_places_holidays_get"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling HolidaysApi.v1_places_holidays_get"
      end
      # resource path
      local_var_path = '/v1/places/holidays'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = country
      query_params[:'year'] = year

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1PlacesHolidaysGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"HolidaysApi.v1_places_holidays_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HolidaysApi#v1_places_holidays_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
