=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class IbanApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch Validate IBANs
    # Validates up to 50 iban numbers in a single request. Results are returned in the same order as the input.
    # @param v1_finance_iban_batch_post_request [V1FinanceIbanBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1FinanceIbanBatchPost200Response]
    def v1_finance_iban_batch_post(v1_finance_iban_batch_post_request, opts = {})
      data, _status_code, _headers = v1_finance_iban_batch_post_with_http_info(v1_finance_iban_batch_post_request, opts)
      data
    end

    # Batch Validate IBANs
    # Validates up to 50 iban numbers in a single request. Results are returned in the same order as the input.
    # @param v1_finance_iban_batch_post_request [V1FinanceIbanBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1FinanceIbanBatchPost200Response, Integer, Hash)>] V1FinanceIbanBatchPost200Response data, response status code and response headers
    def v1_finance_iban_batch_post_with_http_info(v1_finance_iban_batch_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IbanApi.v1_finance_iban_batch_post ...'
      end
      # verify the required parameter 'v1_finance_iban_batch_post_request' is set
      if @api_client.config.client_side_validation && v1_finance_iban_batch_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_finance_iban_batch_post_request' when calling IbanApi.v1_finance_iban_batch_post"
      end
      # resource path
      local_var_path = '/v1/finance/iban/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_finance_iban_batch_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1FinanceIbanBatchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"IbanApi.v1_finance_iban_batch_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IbanApi#v1_finance_iban_batch_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate IBAN
    # Validates an IBAN and returns the country, bank code, and account number. Spaces in the input are stripped automatically. Always returns HTTP 200 — check the valid field to determine whether the IBAN is valid.
    # @param iban [String] The IBAN to validate. Spaces are stripped. Case-insensitive.
    # @param [Hash] opts the optional parameters
    # @return [V1FinanceIbanIbanGet200Response]
    def v1_finance_iban_iban_get(iban, opts = {})
      data, _status_code, _headers = v1_finance_iban_iban_get_with_http_info(iban, opts)
      data
    end

    # Validate IBAN
    # Validates an IBAN and returns the country, bank code, and account number. Spaces in the input are stripped automatically. Always returns HTTP 200 — check the valid field to determine whether the IBAN is valid.
    # @param iban [String] The IBAN to validate. Spaces are stripped. Case-insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1FinanceIbanIbanGet200Response, Integer, Hash)>] V1FinanceIbanIbanGet200Response data, response status code and response headers
    def v1_finance_iban_iban_get_with_http_info(iban, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IbanApi.v1_finance_iban_iban_get ...'
      end
      # verify the required parameter 'iban' is set
      if @api_client.config.client_side_validation && iban.nil?
        fail ArgumentError, "Missing the required parameter 'iban' when calling IbanApi.v1_finance_iban_iban_get"
      end
      # resource path
      local_var_path = '/v1/finance/iban/{iban}'.sub('{iban}', CGI.escape(iban.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1FinanceIbanIbanGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"IbanApi.v1_finance_iban_iban_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IbanApi#v1_finance_iban_iban_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
