=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class IpInfoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get IP Info (Caller IP)
    # Get geolocation and network information for the requesting client's IP address. Useful when you want information about the user making the request without specifying an IP explicitly.
    # @param [Hash] opts the optional parameters
    # @return [V1NetworkingIpGet200Response]
    def v1_networking_ip_get(opts = {})
      data, _status_code, _headers = v1_networking_ip_get_with_http_info(opts)
      data
    end

    # Get IP Info (Caller IP)
    # Get geolocation and network information for the requesting client&#39;s IP address. Useful when you want information about the user making the request without specifying an IP explicitly.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1NetworkingIpGet200Response, Integer, Hash)>] V1NetworkingIpGet200Response data, response status code and response headers
    def v1_networking_ip_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpInfoApi.v1_networking_ip_get ...'
      end
      # resource path
      local_var_path = '/v1/networking/ip'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1NetworkingIpGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"IpInfoApi.v1_networking_ip_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpInfoApi#v1_networking_ip_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get IP Info for IP
    # Get geolocation and network information for a specific IP address.
    # @param ip [String] The IP address to look up (supports IPv4 and IPv6)
    # @param [Hash] opts the optional parameters
    # @return [V1NetworkingIpIpGet200Response]
    def v1_networking_ip_ip_get(ip, opts = {})
      data, _status_code, _headers = v1_networking_ip_ip_get_with_http_info(ip, opts)
      data
    end

    # Get IP Info for IP
    # Get geolocation and network information for a specific IP address.
    # @param ip [String] The IP address to look up (supports IPv4 and IPv6)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1NetworkingIpIpGet200Response, Integer, Hash)>] V1NetworkingIpIpGet200Response data, response status code and response headers
    def v1_networking_ip_ip_get_with_http_info(ip, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpInfoApi.v1_networking_ip_ip_get ...'
      end
      # verify the required parameter 'ip' is set
      if @api_client.config.client_side_validation && ip.nil?
        fail ArgumentError, "Missing the required parameter 'ip' when calling IpInfoApi.v1_networking_ip_ip_get"
      end
      # resource path
      local_var_path = '/v1/networking/ip/{ip}'.sub('{ip}', CGI.escape(ip.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1NetworkingIpIpGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"IpInfoApi.v1_networking_ip_ip_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpInfoApi#v1_networking_ip_ip_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
