=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class LoremIpsumApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate Lorem Ipsum
    # Generate Lorem Ipsum placeholder text with customizable length and format
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :paragraphs Number of paragraphs to generate (1-20)
    # @option opts [Integer] :sentences Number of sentences per paragraph (1-20)
    # @return [V1TextLoremGet200Response]
    def v1_text_lorem_get(opts = {})
      data, _status_code, _headers = v1_text_lorem_get_with_http_info(opts)
      data
    end

    # Generate Lorem Ipsum
    # Generate Lorem Ipsum placeholder text with customizable length and format
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :paragraphs Number of paragraphs to generate (1-20)
    # @option opts [Integer] :sentences Number of sentences per paragraph (1-20)
    # @return [Array<(V1TextLoremGet200Response, Integer, Hash)>] V1TextLoremGet200Response data, response status code and response headers
    def v1_text_lorem_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoremIpsumApi.v1_text_lorem_get ...'
      end
      # resource path
      local_var_path = '/v1/text/lorem'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'paragraphs'] = opts[:'paragraphs'] if !opts[:'paragraphs'].nil?
      query_params[:'sentences'] = opts[:'sentences'] if !opts[:'sentences'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TextLoremGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"LoremIpsumApi.v1_text_lorem_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoremIpsumApi#v1_text_lorem_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
