=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class MortgageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate Mortgage
    # Returns the monthly payment, total cost, and full amortization schedule for a fixed-rate mortgage.
    # @param principal [Float] Loan amount in your chosen currency (e.g. 300000 for $300,000)
    # @param rate [Float] Annual interest rate as a percentage (e.g. 6.5 for 6.5%). Must be greater than 0.
    # @param years [Integer] Loan term in years (1–50)
    # @param [Hash] opts the optional parameters
    # @return [V1FinanceMortgageGet200Response]
    def v1_finance_mortgage_get(principal, rate, years, opts = {})
      data, _status_code, _headers = v1_finance_mortgage_get_with_http_info(principal, rate, years, opts)
      data
    end

    # Calculate Mortgage
    # Returns the monthly payment, total cost, and full amortization schedule for a fixed-rate mortgage.
    # @param principal [Float] Loan amount in your chosen currency (e.g. 300000 for $300,000)
    # @param rate [Float] Annual interest rate as a percentage (e.g. 6.5 for 6.5%). Must be greater than 0.
    # @param years [Integer] Loan term in years (1–50)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1FinanceMortgageGet200Response, Integer, Hash)>] V1FinanceMortgageGet200Response data, response status code and response headers
    def v1_finance_mortgage_get_with_http_info(principal, rate, years, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MortgageApi.v1_finance_mortgage_get ...'
      end
      # verify the required parameter 'principal' is set
      if @api_client.config.client_side_validation && principal.nil?
        fail ArgumentError, "Missing the required parameter 'principal' when calling MortgageApi.v1_finance_mortgage_get"
      end
      # verify the required parameter 'rate' is set
      if @api_client.config.client_side_validation && rate.nil?
        fail ArgumentError, "Missing the required parameter 'rate' when calling MortgageApi.v1_finance_mortgage_get"
      end
      # verify the required parameter 'years' is set
      if @api_client.config.client_side_validation && years.nil?
        fail ArgumentError, "Missing the required parameter 'years' when calling MortgageApi.v1_finance_mortgage_get"
      end
      # resource path
      local_var_path = '/v1/finance/mortgage'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'principal'] = principal
      query_params[:'rate'] = rate
      query_params[:'years'] = years

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1FinanceMortgageGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"MortgageApi.v1_finance_mortgage_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MortgageApi#v1_finance_mortgage_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
