=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class MxLookupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # MX Lookup
    # Retrieve all MX records for a domain. Results are sorted by priority ascending (lowest numeric value has highest mail delivery priority per RFC 5321).
    # @param domain [String] The domain name to look up MX records for (e.g. gmail.com)
    # @param [Hash] opts the optional parameters
    # @return [V1NetworkingMxDomainGet200Response]
    def v1_networking_mx_domain_get(domain, opts = {})
      data, _status_code, _headers = v1_networking_mx_domain_get_with_http_info(domain, opts)
      data
    end

    # MX Lookup
    # Retrieve all MX records for a domain. Results are sorted by priority ascending (lowest numeric value has highest mail delivery priority per RFC 5321).
    # @param domain [String] The domain name to look up MX records for (e.g. gmail.com)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1NetworkingMxDomainGet200Response, Integer, Hash)>] V1NetworkingMxDomainGet200Response data, response status code and response headers
    def v1_networking_mx_domain_get_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxLookupApi.v1_networking_mx_domain_get ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling MxLookupApi.v1_networking_mx_domain_get"
      end
      # resource path
      local_var_path = '/v1/networking/mx/{domain}'.sub('{domain}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1NetworkingMxDomainGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"MxLookupApi.v1_networking_mx_domain_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxLookupApi#v1_networking_mx_domain_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
