=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class NumberBaseConversionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Convert Base
    # Convert an integer from one number base to another.
    # @param from [Integer] Source base (2, 8, 10, or 16)
    # @param to [Integer] Target base (2, 8, 10, or 16)
    # @param value [String] The number as a string. Accepts optional prefixes: 0x (hex), 0b (binary), 0o (octal).
    # @param [Hash] opts the optional parameters
    # @return [V1TechnologyBaseGet200Response]
    def v1_technology_base_get(from, to, value, opts = {})
      data, _status_code, _headers = v1_technology_base_get_with_http_info(from, to, value, opts)
      data
    end

    # Convert Base
    # Convert an integer from one number base to another.
    # @param from [Integer] Source base (2, 8, 10, or 16)
    # @param to [Integer] Target base (2, 8, 10, or 16)
    # @param value [String] The number as a string. Accepts optional prefixes: 0x (hex), 0b (binary), 0o (octal).
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1TechnologyBaseGet200Response, Integer, Hash)>] V1TechnologyBaseGet200Response data, response status code and response headers
    def v1_technology_base_get_with_http_info(from, to, value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NumberBaseConversionApi.v1_technology_base_get ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling NumberBaseConversionApi.v1_technology_base_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling NumberBaseConversionApi.v1_technology_base_get"
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling NumberBaseConversionApi.v1_technology_base_get"
      end
      # resource path
      local_var_path = '/v1/technology/base'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'value'] = value

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TechnologyBaseGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"NumberBaseConversionApi.v1_technology_base_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NumberBaseConversionApi#v1_technology_base_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
