=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class PasswordGeneratorApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate Password
    # Generate a cryptographically secure random password with customizable character sets and length
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :length Password length (8-128 characters)
    # @option opts [Boolean] :uppercase Include uppercase letters (A-Z)
    # @option opts [Boolean] :numbers Include numbers (0-9)
    # @option opts [Boolean] :symbols Include special characters (!@#$%^&amp;*()-_&#x3D;+[]{}|;:,.&lt;&gt;?)
    # @return [V1TechnologyPasswordGet200Response]
    def v1_technology_password_get(opts = {})
      data, _status_code, _headers = v1_technology_password_get_with_http_info(opts)
      data
    end

    # Generate Password
    # Generate a cryptographically secure random password with customizable character sets and length
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :length Password length (8-128 characters)
    # @option opts [Boolean] :uppercase Include uppercase letters (A-Z)
    # @option opts [Boolean] :numbers Include numbers (0-9)
    # @option opts [Boolean] :symbols Include special characters (!@#$%^&amp;*()-_&#x3D;+[]{}|;:,.&lt;&gt;?)
    # @return [Array<(V1TechnologyPasswordGet200Response, Integer, Hash)>] V1TechnologyPasswordGet200Response data, response status code and response headers
    def v1_technology_password_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PasswordGeneratorApi.v1_technology_password_get ...'
      end
      # resource path
      local_var_path = '/v1/technology/password'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'length'] = opts[:'length'] if !opts[:'length'].nil?
      query_params[:'uppercase'] = opts[:'uppercase'] if !opts[:'uppercase'].nil?
      query_params[:'numbers'] = opts[:'numbers'] if !opts[:'numbers'].nil?
      query_params[:'symbols'] = opts[:'symbols'] if !opts[:'symbols'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TechnologyPasswordGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"PasswordGeneratorApi.v1_technology_password_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PasswordGeneratorApi#v1_technology_password_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
