=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class PhoneValidationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch Validate Phone Numbers
    # Validates up to 50 phone numbers in a single request. Results are returned in the same order as the input.
    # @param v1_validation_phone_batch_post_request [V1ValidationPhoneBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1FinanceIbanBatchPost200Response]
    def v1_validation_phone_batch_post(v1_validation_phone_batch_post_request, opts = {})
      data, _status_code, _headers = v1_validation_phone_batch_post_with_http_info(v1_validation_phone_batch_post_request, opts)
      data
    end

    # Batch Validate Phone Numbers
    # Validates up to 50 phone numbers in a single request. Results are returned in the same order as the input.
    # @param v1_validation_phone_batch_post_request [V1ValidationPhoneBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1FinanceIbanBatchPost200Response, Integer, Hash)>] V1FinanceIbanBatchPost200Response data, response status code and response headers
    def v1_validation_phone_batch_post_with_http_info(v1_validation_phone_batch_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneValidationApi.v1_validation_phone_batch_post ...'
      end
      # verify the required parameter 'v1_validation_phone_batch_post_request' is set
      if @api_client.config.client_side_validation && v1_validation_phone_batch_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_validation_phone_batch_post_request' when calling PhoneValidationApi.v1_validation_phone_batch_post"
      end
      # resource path
      local_var_path = '/v1/validation/phone/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_validation_phone_batch_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1FinanceIbanBatchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"PhoneValidationApi.v1_validation_phone_batch_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneValidationApi#v1_validation_phone_batch_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Phone Number
    # Validates a single phone number and returns its country, type, formatted representation, carrier, and VOIP/virtual risk flags.
    # @param number [String] The phone number to validate. Must include the country calling code (e.g. +12015551234).
    # @param [Hash] opts the optional parameters
    # @return [V1ValidationPhoneGet200Response]
    def v1_validation_phone_get(number, opts = {})
      data, _status_code, _headers = v1_validation_phone_get_with_http_info(number, opts)
      data
    end

    # Validate Phone Number
    # Validates a single phone number and returns its country, type, formatted representation, carrier, and VOIP/virtual risk flags.
    # @param number [String] The phone number to validate. Must include the country calling code (e.g. +12015551234).
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ValidationPhoneGet200Response, Integer, Hash)>] V1ValidationPhoneGet200Response data, response status code and response headers
    def v1_validation_phone_get_with_http_info(number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneValidationApi.v1_validation_phone_get ...'
      end
      # verify the required parameter 'number' is set
      if @api_client.config.client_side_validation && number.nil?
        fail ArgumentError, "Missing the required parameter 'number' when calling PhoneValidationApi.v1_validation_phone_get"
      end
      # resource path
      local_var_path = '/v1/validation/phone'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'number'] = number

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ValidationPhoneGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"PhoneValidationApi.v1_validation_phone_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneValidationApi#v1_validation_phone_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
