=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class PostalCodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lookup Postal Code
    # Returns city, state, country, and coordinates for the given postal code.
    # @param code [String] The postal code to look up (e.g. 10001 for New York, SW1A 1AA for London)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country ISO 3166-1 alpha-2 country code (default: US)
    # @return [V1PlacesPostalCodeGet200Response]
    def v1_places_postal_code_get(code, opts = {})
      data, _status_code, _headers = v1_places_postal_code_get_with_http_info(code, opts)
      data
    end

    # Lookup Postal Code
    # Returns city, state, country, and coordinates for the given postal code.
    # @param code [String] The postal code to look up (e.g. 10001 for New York, SW1A 1AA for London)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country ISO 3166-1 alpha-2 country code (default: US)
    # @return [Array<(V1PlacesPostalCodeGet200Response, Integer, Hash)>] V1PlacesPostalCodeGet200Response data, response status code and response headers
    def v1_places_postal_code_get_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostalCodeApi.v1_places_postal_code_get ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling PostalCodeApi.v1_places_postal_code_get"
      end
      # resource path
      local_var_path = '/v1/places/postal/{code}'.sub('{code}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1PlacesPostalCodeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"PostalCodeApi.v1_places_postal_code_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostalCodeApi#v1_places_postal_code_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
