=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class ProfanityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check Profanity
    # Checks text for profanity, returning a censored version and the list of flagged words.
    # @param v1_text_profanity_post_request [V1TextProfanityPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1TextProfanityPost200Response]
    def v1_text_profanity_post(v1_text_profanity_post_request, opts = {})
      data, _status_code, _headers = v1_text_profanity_post_with_http_info(v1_text_profanity_post_request, opts)
      data
    end

    # Check Profanity
    # Checks text for profanity, returning a censored version and the list of flagged words.
    # @param v1_text_profanity_post_request [V1TextProfanityPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1TextProfanityPost200Response, Integer, Hash)>] V1TextProfanityPost200Response data, response status code and response headers
    def v1_text_profanity_post_with_http_info(v1_text_profanity_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfanityApi.v1_text_profanity_post ...'
      end
      # verify the required parameter 'v1_text_profanity_post_request' is set
      if @api_client.config.client_side_validation && v1_text_profanity_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_text_profanity_post_request' when calling ProfanityApi.v1_text_profanity_post"
      end
      # resource path
      local_var_path = '/v1/text/profanity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_text_profanity_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1TextProfanityPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"ProfanityApi.v1_text_profanity_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfanityApi#v1_text_profanity_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
