=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class QrCodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate QR Code (Base64 JSON)
    # Returns a JSON envelope containing the QR code as a base64-encoded PNG string, along with its dimensions.
    # @param data [String] The text or URL to encode in the QR code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size Image size in pixels (default: 256, min: 50, max: 1000)
    # @option opts [String] :recovery Error-correction level: low (7%), medium (15%), high (25%), highest (30%). Default: medium
    # @return [V1TechnologyQrBase64Get200Response]
    def v1_technology_qr_base64_get(data, opts = {})
      data, _status_code, _headers = v1_technology_qr_base64_get_with_http_info(data, opts)
      data
    end

    # Generate QR Code (Base64 JSON)
    # Returns a JSON envelope containing the QR code as a base64-encoded PNG string, along with its dimensions.
    # @param data [String] The text or URL to encode in the QR code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size Image size in pixels (default: 256, min: 50, max: 1000)
    # @option opts [String] :recovery Error-correction level: low (7%), medium (15%), high (25%), highest (30%). Default: medium
    # @return [Array<(V1TechnologyQrBase64Get200Response, Integer, Hash)>] V1TechnologyQrBase64Get200Response data, response status code and response headers
    def v1_technology_qr_base64_get_with_http_info(data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QrCodeApi.v1_technology_qr_base64_get ...'
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling QrCodeApi.v1_technology_qr_base64_get"
      end
      # resource path
      local_var_path = '/v1/technology/qr/base64'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data'] = data
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'recovery'] = opts[:'recovery'] if !opts[:'recovery'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TechnologyQrBase64Get200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"QrCodeApi.v1_technology_qr_base64_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QrCodeApi#v1_technology_qr_base64_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate QR Code (PNG)
    # Returns a raw PNG image of the QR code. Ideal for direct embedding or file download.
    # @param data [String] The text or URL to encode in the QR code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size Image size in pixels (default: 256, min: 50, max: 1000)
    # @option opts [String] :recovery Error-correction level: low (7%), medium (15%), high (25%), highest (30%). Higher levels are more robust to physical damage but produce larger images. Default: medium
    # @return [nil]
    def v1_technology_qr_get(data, opts = {})
      v1_technology_qr_get_with_http_info(data, opts)
      nil
    end

    # Generate QR Code (PNG)
    # Returns a raw PNG image of the QR code. Ideal for direct embedding or file download.
    # @param data [String] The text or URL to encode in the QR code
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :size Image size in pixels (default: 256, min: 50, max: 1000)
    # @option opts [String] :recovery Error-correction level: low (7%), medium (15%), high (25%), highest (30%). Higher levels are more robust to physical damage but produce larger images. Default: medium
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_technology_qr_get_with_http_info(data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QrCodeApi.v1_technology_qr_get ...'
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling QrCodeApi.v1_technology_qr_get"
      end
      # resource path
      local_var_path = '/v1/technology/qr'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data'] = data
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'recovery'] = opts[:'recovery'] if !opts[:'recovery'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"QrCodeApi.v1_technology_qr_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QrCodeApi#v1_technology_qr_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
