=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class SudokuApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch Generate Sudoku Puzzles
    # Generate up to 20 Sudoku puzzles in a single request. Results are returned in the same order as the input array. Each puzzle in the batch counts as one unit of API usage.
    # @param v1_entertainment_sudoku_batch_post_request [V1EntertainmentSudokuBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [V1EntertainmentSudokuBatchPost200Response]
    def v1_entertainment_sudoku_batch_post(v1_entertainment_sudoku_batch_post_request, opts = {})
      data, _status_code, _headers = v1_entertainment_sudoku_batch_post_with_http_info(v1_entertainment_sudoku_batch_post_request, opts)
      data
    end

    # Batch Generate Sudoku Puzzles
    # Generate up to 20 Sudoku puzzles in a single request. Results are returned in the same order as the input array. Each puzzle in the batch counts as one unit of API usage.
    # @param v1_entertainment_sudoku_batch_post_request [V1EntertainmentSudokuBatchPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1EntertainmentSudokuBatchPost200Response, Integer, Hash)>] V1EntertainmentSudokuBatchPost200Response data, response status code and response headers
    def v1_entertainment_sudoku_batch_post_with_http_info(v1_entertainment_sudoku_batch_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SudokuApi.v1_entertainment_sudoku_batch_post ...'
      end
      # verify the required parameter 'v1_entertainment_sudoku_batch_post_request' is set
      if @api_client.config.client_side_validation && v1_entertainment_sudoku_batch_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_entertainment_sudoku_batch_post_request' when calling SudokuApi.v1_entertainment_sudoku_batch_post"
      end
      # resource path
      local_var_path = '/v1/entertainment/sudoku/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_entertainment_sudoku_batch_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1EntertainmentSudokuBatchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"SudokuApi.v1_entertainment_sudoku_batch_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SudokuApi#v1_entertainment_sudoku_batch_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Sudoku Puzzle
    # Returns a randomly generated Sudoku puzzle and its solution. Difficulty defaults to medium when not specified.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :difficulty Puzzle difficulty level. One of: easy, medium, hard. Defaults to medium.
    # @return [V1EntertainmentSudokuGet200Response]
    def v1_entertainment_sudoku_get(opts = {})
      data, _status_code, _headers = v1_entertainment_sudoku_get_with_http_info(opts)
      data
    end

    # Get Sudoku Puzzle
    # Returns a randomly generated Sudoku puzzle and its solution. Difficulty defaults to medium when not specified.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :difficulty Puzzle difficulty level. One of: easy, medium, hard. Defaults to medium.
    # @return [Array<(V1EntertainmentSudokuGet200Response, Integer, Hash)>] V1EntertainmentSudokuGet200Response data, response status code and response headers
    def v1_entertainment_sudoku_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SudokuApi.v1_entertainment_sudoku_get ...'
      end
      # resource path
      local_var_path = '/v1/entertainment/sudoku'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'difficulty'] = opts[:'difficulty'] if !opts[:'difficulty'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1EntertainmentSudokuGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"SudokuApi.v1_entertainment_sudoku_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SudokuApi#v1_entertainment_sudoku_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
