=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class SwiftCodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get SWIFT Code
    # Look up bank metadata for a SWIFT/BIC code.
    # @param code [String] SWIFT/BIC code (8 or 11 alphanumeric characters)
    # @param [Hash] opts the optional parameters
    # @return [V1FinanceSwiftCodeGet200Response]
    def v1_finance_swift_code_get(code, opts = {})
      data, _status_code, _headers = v1_finance_swift_code_get_with_http_info(code, opts)
      data
    end

    # Get SWIFT Code
    # Look up bank metadata for a SWIFT/BIC code.
    # @param code [String] SWIFT/BIC code (8 or 11 alphanumeric characters)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1FinanceSwiftCodeGet200Response, Integer, Hash)>] V1FinanceSwiftCodeGet200Response data, response status code and response headers
    def v1_finance_swift_code_get_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SwiftCodeApi.v1_finance_swift_code_get ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling SwiftCodeApi.v1_finance_swift_code_get"
      end
      # resource path
      local_var_path = '/v1/finance/swift/{code}'.sub('{code}', CGI.escape(code.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1FinanceSwiftCodeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"SwiftCodeApi.v1_finance_swift_code_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SwiftCodeApi#v1_finance_swift_code_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SWIFT Codes
    # List SWIFT records with optional filters and pagination.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_code Optional 2-letter country code filter (e.g. DE, US)
    # @option opts [String] :bank_code Optional 4-letter bank code filter (e.g. DEUT)
    # @option opts [String] :q Optional text search across swift_code, bank_name, and city
    # @option opts [Integer] :limit Max rows to return (default 50, max 200)
    # @option opts [Integer] :offset Number of rows to skip (default 0)
    # @return [V1HealthExercisesRandomGet200Response]
    def v1_finance_swift_get(opts = {})
      data, _status_code, _headers = v1_finance_swift_get_with_http_info(opts)
      data
    end

    # List SWIFT Codes
    # List SWIFT records with optional filters and pagination.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country_code Optional 2-letter country code filter (e.g. DE, US)
    # @option opts [String] :bank_code Optional 4-letter bank code filter (e.g. DEUT)
    # @option opts [String] :q Optional text search across swift_code, bank_name, and city
    # @option opts [Integer] :limit Max rows to return (default 50, max 200)
    # @option opts [Integer] :offset Number of rows to skip (default 0)
    # @return [Array<(V1HealthExercisesRandomGet200Response, Integer, Hash)>] V1HealthExercisesRandomGet200Response data, response status code and response headers
    def v1_finance_swift_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SwiftCodeApi.v1_finance_swift_get ...'
      end
      # resource path
      local_var_path = '/v1/finance/swift'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country_code'] = opts[:'country_code'] if !opts[:'country_code'].nil?
      query_params[:'bank_code'] = opts[:'bank_code'] if !opts[:'bank_code'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HealthExercisesRandomGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"SwiftCodeApi.v1_finance_swift_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SwiftCodeApi#v1_finance_swift_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
