=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class TimezoneApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Timezone
    # Returns timezone information for the given coordinates or city name. Provide either `city` or both `lat` and `lon`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lat Latitude of the location (-90 to 90). Required when using coordinate-based lookup.
    # @option opts [String] :lon Longitude of the location (-180 to 180). Required when using coordinate-based lookup.
    # @option opts [String] :city City name for city-based lookup (e.g. &#39;Tokyo&#39;, &#39;London&#39;). Required when not using coordinates.
    # @return [V1PlacesTimezoneGet200Response]
    def v1_places_timezone_get(opts = {})
      data, _status_code, _headers = v1_places_timezone_get_with_http_info(opts)
      data
    end

    # Get Timezone
    # Returns timezone information for the given coordinates or city name. Provide either &#x60;city&#x60; or both &#x60;lat&#x60; and &#x60;lon&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lat Latitude of the location (-90 to 90). Required when using coordinate-based lookup.
    # @option opts [String] :lon Longitude of the location (-180 to 180). Required when using coordinate-based lookup.
    # @option opts [String] :city City name for city-based lookup (e.g. &#39;Tokyo&#39;, &#39;London&#39;). Required when not using coordinates.
    # @return [Array<(V1PlacesTimezoneGet200Response, Integer, Hash)>] V1PlacesTimezoneGet200Response data, response status code and response headers
    def v1_places_timezone_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimezoneApi.v1_places_timezone_get ...'
      end
      # resource path
      local_var_path = '/v1/places/timezone'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'lat'] = opts[:'lat'] if !opts[:'lat'].nil?
      query_params[:'lon'] = opts[:'lon'] if !opts[:'lon'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1PlacesTimezoneGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"TimezoneApi.v1_places_timezone_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimezoneApi#v1_places_timezone_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
