=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class UnitConversionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Convert Units
    # Convert a value from one unit to another
    # @param from [String] Source unit key (e.g. miles, kg, c)
    # @param to [String] Target unit key (e.g. km, lb, f)
    # @param value [Float] Numeric value to convert
    # @param [Hash] opts the optional parameters
    # @return [V1TechnologyConvertGet200Response]
    def v1_technology_convert_get(from, to, value, opts = {})
      data, _status_code, _headers = v1_technology_convert_get_with_http_info(from, to, value, opts)
      data
    end

    # Convert Units
    # Convert a value from one unit to another
    # @param from [String] Source unit key (e.g. miles, kg, c)
    # @param to [String] Target unit key (e.g. km, lb, f)
    # @param value [Float] Numeric value to convert
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1TechnologyConvertGet200Response, Integer, Hash)>] V1TechnologyConvertGet200Response data, response status code and response headers
    def v1_technology_convert_get_with_http_info(from, to, value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitConversionApi.v1_technology_convert_get ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling UnitConversionApi.v1_technology_convert_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling UnitConversionApi.v1_technology_convert_get"
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling UnitConversionApi.v1_technology_convert_get"
      end
      # resource path
      local_var_path = '/v1/technology/convert'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'value'] = value

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TechnologyConvertGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"UnitConversionApi.v1_technology_convert_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitConversionApi#v1_technology_convert_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Available Units
    # Returns all available unit conversion types grouped by measurement category
    # @param [Hash] opts the optional parameters
    # @return [V1TechnologyConvertUnitsGet200Response]
    def v1_technology_convert_units_get(opts = {})
      data, _status_code, _headers = v1_technology_convert_units_get_with_http_info(opts)
      data
    end

    # List Available Units
    # Returns all available unit conversion types grouped by measurement category
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1TechnologyConvertUnitsGet200Response, Integer, Hash)>] V1TechnologyConvertUnitsGet200Response data, response status code and response headers
    def v1_technology_convert_units_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitConversionApi.v1_technology_convert_units_get ...'
      end
      # resource path
      local_var_path = '/v1/technology/convert/units'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TechnologyConvertUnitsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"UnitConversionApi.v1_technology_convert_units_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitConversionApi#v1_technology_convert_units_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
