=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class UseragentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Parse User Agent
    # Parses a user agent string and returns structured information about the browser, OS, device, and bot status.
    # @param ua [String] The user agent string to parse.
    # @param [Hash] opts the optional parameters
    # @return [V1TechnologyUseragentGet200Response]
    def v1_technology_useragent_get(ua, opts = {})
      data, _status_code, _headers = v1_technology_useragent_get_with_http_info(ua, opts)
      data
    end

    # Parse User Agent
    # Parses a user agent string and returns structured information about the browser, OS, device, and bot status.
    # @param ua [String] The user agent string to parse.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1TechnologyUseragentGet200Response, Integer, Hash)>] V1TechnologyUseragentGet200Response data, response status code and response headers
    def v1_technology_useragent_get_with_http_info(ua, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UseragentApi.v1_technology_useragent_get ...'
      end
      # verify the required parameter 'ua' is set
      if @api_client.config.client_side_validation && ua.nil?
        fail ArgumentError, "Missing the required parameter 'ua' when calling UseragentApi.v1_technology_useragent_get"
      end
      # resource path
      local_var_path = '/v1/technology/useragent'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ua'] = ua

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1TechnologyUseragentGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"UseragentApi.v1_technology_useragent_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UseragentApi#v1_technology_useragent_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
