=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class VpnDetectionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check IP Address
    # Analyze an IP address to determine if it's a VPN, proxy, Tor exit node, or hosting provider. Returns detailed threat indicators and scores.
    # @param ip [String] The IP address to check (supports IPv4 and IPv6)
    # @param [Hash] opts the optional parameters
    # @return [V1NetworkingIpVpnIpGet200Response]
    def v1_networking_ip_vpn_ip_get(ip, opts = {})
      data, _status_code, _headers = v1_networking_ip_vpn_ip_get_with_http_info(ip, opts)
      data
    end

    # Check IP Address
    # Analyze an IP address to determine if it&#39;s a VPN, proxy, Tor exit node, or hosting provider. Returns detailed threat indicators and scores.
    # @param ip [String] The IP address to check (supports IPv4 and IPv6)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1NetworkingIpVpnIpGet200Response, Integer, Hash)>] V1NetworkingIpVpnIpGet200Response data, response status code and response headers
    def v1_networking_ip_vpn_ip_get_with_http_info(ip, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VpnDetectionApi.v1_networking_ip_vpn_ip_get ...'
      end
      # verify the required parameter 'ip' is set
      if @api_client.config.client_side_validation && ip.nil?
        fail ArgumentError, "Missing the required parameter 'ip' when calling VpnDetectionApi.v1_networking_ip_vpn_ip_get"
      end
      # resource path
      local_var_path = '/v1/networking/ip/vpn/{ip}'.sub('{ip}', CGI.escape(ip.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1NetworkingIpVpnIpGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"VpnDetectionApi.v1_networking_ip_vpn_ip_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VpnDetectionApi#v1_networking_ip_vpn_ip_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
