=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class WorkingDaysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate Working Days
    # Calculate the number of working days between two dates, optionally accounting for country-specific holidays
    # @param from [String] Start date in YYYY-MM-DD format (ISO 8601)
    # @param to [String] End date in YYYY-MM-DD format (ISO 8601). Must be &gt;&#x3D; from date.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country ISO 3166-1 alpha-2 country code (e.g., \&quot;US\&quot;, \&quot;GB\&quot;, \&quot;FR\&quot;). When provided, country-specific holidays are excluded from working days count.
    # @option opts [String] :subdivision ISO 3166-2 subdivision code for state/region within the country (e.g., \&quot;NY\&quot; for New York, \&quot;CA\&quot; for California). Only used when country is provided.
    # @return [V1PlacesWorkingDaysGet200Response]
    def v1_places_working_days_get(from, to, opts = {})
      data, _status_code, _headers = v1_places_working_days_get_with_http_info(from, to, opts)
      data
    end

    # Calculate Working Days
    # Calculate the number of working days between two dates, optionally accounting for country-specific holidays
    # @param from [String] Start date in YYYY-MM-DD format (ISO 8601)
    # @param to [String] End date in YYYY-MM-DD format (ISO 8601). Must be &gt;&#x3D; from date.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country ISO 3166-1 alpha-2 country code (e.g., \&quot;US\&quot;, \&quot;GB\&quot;, \&quot;FR\&quot;). When provided, country-specific holidays are excluded from working days count.
    # @option opts [String] :subdivision ISO 3166-2 subdivision code for state/region within the country (e.g., \&quot;NY\&quot; for New York, \&quot;CA\&quot; for California). Only used when country is provided.
    # @return [Array<(V1PlacesWorkingDaysGet200Response, Integer, Hash)>] V1PlacesWorkingDaysGet200Response data, response status code and response headers
    def v1_places_working_days_get_with_http_info(from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkingDaysApi.v1_places_working_days_get ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling WorkingDaysApi.v1_places_working_days_get"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling WorkingDaysApi.v1_places_working_days_get"
      end
      # resource path
      local_var_path = '/v1/places/working-days'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'subdivision'] = opts[:'subdivision'] if !opts[:'subdivision'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1PlacesWorkingDaysGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"WorkingDaysApi.v1_places_working_days_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkingDaysApi#v1_places_working_days_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
