=begin
#Requiems API

#Unified access to enterprise-grade APIs — email validation, text utilities, and more. Authenticate with the `requiems-api-key` header.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class WorldTimeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Current Time by Timezone
    # Returns the current time for the given IANA timezone identifier. The timezone is supplied as a path parameter (e.g. `America/New_York`, `Europe/London`, `UTC`).
    # @param timezone [String] IANA timezone identifier (e.g. &#39;America/New_York&#39;, &#39;Europe/London&#39;, &#39;Asia/Kolkata&#39;)
    # @param [Hash] opts the optional parameters
    # @return [V1PlacesTimeTimezoneGet200Response]
    def v1_places_time_timezone_get(timezone, opts = {})
      data, _status_code, _headers = v1_places_time_timezone_get_with_http_info(timezone, opts)
      data
    end

    # Get Current Time by Timezone
    # Returns the current time for the given IANA timezone identifier. The timezone is supplied as a path parameter (e.g. &#x60;America/New_York&#x60;, &#x60;Europe/London&#x60;, &#x60;UTC&#x60;).
    # @param timezone [String] IANA timezone identifier (e.g. &#39;America/New_York&#39;, &#39;Europe/London&#39;, &#39;Asia/Kolkata&#39;)
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1PlacesTimeTimezoneGet200Response, Integer, Hash)>] V1PlacesTimeTimezoneGet200Response data, response status code and response headers
    def v1_places_time_timezone_get_with_http_info(timezone, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorldTimeApi.v1_places_time_timezone_get ...'
      end
      # verify the required parameter 'timezone' is set
      if @api_client.config.client_side_validation && timezone.nil?
        fail ArgumentError, "Missing the required parameter 'timezone' when calling WorldTimeApi.v1_places_time_timezone_get"
      end
      # resource path
      local_var_path = '/v1/places/time/{timezone}'.sub('{timezone}', CGI.escape(timezone.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1PlacesTimeTimezoneGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['requiems-api-key']

      new_options = opts.merge(
        :operation => :"WorldTimeApi.v1_places_time_timezone_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorldTimeApi#v1_places_time_timezone_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
