openapi: 3.0.3
info:
  description: "Unified access to enterprise-grade APIs — email validation, text utilities,\
    \ and more. Authenticate with the `requiems-api-key` header."
  title: Requiems API
  version: 1.0.0
servers:
- description: Production
  url: https://api.requiems.xyz
security:
- requiems-api-key: []
tags:
- description: Get random pieces of advice and wisdom for inspiration
  name: advice
- description: "Generate barcodes in multiple formats (Code 128, Code 93, Code 39,\
    \ EAN-8, EAN-13), returned as a PNG image or base64-encoded JSON"
  name: barcode
- description: Encode strings to Base64 and decode Base64 back to plain text. Supports
    standard and URL-safe (base64url) variants.
  name: base64
- description: "Pass the first 6–8 digits of any payment card and get back the issuing\
    \ bank, card network, type, and country"
  name: bin-lookup
- description: Get a random Chuck Norris fact from a curated built-in database. Every
    call returns a different fact with a stable unique ID.
  name: chuck-norris
- description: "Look up city metadata including population, timezone, and coordinates"
  name: cities
- description: "Convert color values between HEX, RGB, HSL, and CMYK. Every response\
    \ includes all four representations."
  name: color-conversion
- description: "Historical and current annual average prices for 16 major commodities\
    \ — precious metals, energy, and agricultural goods. Sourced from FRED (Federal\
    \ Reserve Economic Data)."
  name: commodities
- description: "Atomic, namespace-isolated hit counter"
  name: counter
- description: "Get live cryptocurrency prices, 24h change, market cap, and trading\
    \ volume for 20+ major coins including BTC, ETH, SOL, and more."
  name: crypto
- description: "Get a random dad joke. Classic groan-worthy puns and wholesome humor,\
    \ served one at a time."
  name: dad-jokes
- description: "Convert structured data between JSON, YAML, CSV, XML, and TOML in\
    \ a single API call."
  name: data-format-conversion
- description: Detect the language of any text with confidence scoring
  name: detect-language
- description: "Get word definitions, phonetics, usage examples, and synonyms"
  name: dictionary
- description: Detect disposable and temporary email addresses to prevent fraud and
    improve data quality. Our comprehensive blocklist is continuously updated to catch
    the latest disposable email providers.
  name: disposable_email
- description: "Look up DNS records and check domain availability. Returns A, AAAA,\
    \ MX, NS, TXT, and CNAME records alongside a registration availability flag."
  name: domain-info
- description: "Normalize email addresses to their canonical form. Lowercased, trimmed,\
    \ and canonicalized with provider-specific rules including alias-domain resolution.\
    \ Also available as part of the full Email Validator."
  name: email-normalize
- description: "Full email validation in one call. Syntax check, MX record lookup,\
    \ disposable domain detection, normalization, and typo suggestions. Includes everything\
    \ from the Disposable Domain Checker and Email Normalizer in a single request."
  name: email-validate
- description: "Look up emoji by name, search by keyword, or get a random emoji with\
    \ full Unicode metadata."
  name: emoji
- description: Get live currency exchange rates and convert amounts between currencies.
    Rates are sourced from the ECB and cached for up to one hour.
  name: exchange-rate
- description: "Get random interesting facts from a curated database. Filter by category\
    \ — science, history, technology, nature, space, or food. Includes source attribution."
  name: facts
- description: "Browse 1,500+ exercises with step-by-step instructions, target muscles,\
    \ secondary muscles, equipment requirements, and body part filters."
  name: fitness-exercises
- description: Convert addresses to coordinates and coordinates back to addresses
  name: geocode
- description: Get a list of holidays for a specific country and year
  name: holidays
- description: Get daily horoscope readings for all 12 zodiac signs
  name: horoscope
- description: Validate IBAN numbers and extract the bank code and account number.
    Supports all countries in the official SWIFT IBAN Registry (~80 countries).
  name: iban
- description: "Historical and current CPI inflation rates for 241 countries, sourced\
    \ from the World Bank. Includes up to 30 years of annual data."
  name: inflation
- description: "Look up Autonomous System Number (ASN), organization, ISP, and network\
    \ route information for any IP address."
  name: ip-asn
- description: "Get geolocation data for any IP address including country, city, ISP,\
    \ and VPN detection."
  name: ip-info
- description: Generate placeholder text for design mockups and prototypes
  name: lorem-ipsum
- description: Convert Markdown to HTML in a single API call. Optionally sanitize
    the output to strip unsafe tags and prevent XSS.
  name: markdown
- description: "Calculate monthly mortgage payments and full amortization schedules.\
    \ Pass principal, annual interest rate, and loan term in years."
  name: mortgage
- description: "Look up MX (Mail Exchange) records for any domain. Returns all mail\
    \ server hostnames with their priorities, sorted from highest to lowest priority."
  name: mx-lookup
- description: "Convert integers between binary, octal, decimal, and hexadecimal.\
    \ Accepts optional 0x, 0b, and 0o prefixes."
  name: number-base-conversion
- description: Generate cryptographically secure random passwords with customizable
    length and character sets
  name: password-generator
- description: "Validate phone numbers globally. Detect carrier, country, type, and\
    \ VOIP or virtual risk using only phone metadata."
  name: phone-validation
- description: "Look up city, state, and coordinates for any postal code worldwide"
  name: postal-code
- description: Detect and censor profanity in text for content moderation
  name: profanity
- description: "Generate QR codes from any text or URL, returned as a PNG image or\
    \ base64-encoded JSON"
  name: qr-code
- description: Access a database of inspirational and famous quotes
  name: quotes
- description: "Generate random fake user profiles for testing and prototyping — names,\
    \ emails, phone numbers, addresses, and avatars"
  name: random-user
- description: "Analyze the sentiment of any text and get a positive, negative, or\
    \ neutral classification with a confidence score and full class breakdown."
  name: sentiment
- description: Check spelling and get correction suggestions for misspelled words
  name: spell-check
- description: Generate Sudoku puzzles with solutions across multiple difficulty levels
  name: sudoku
- description: "Validate and look up bank information by SWIFT/BIC code, including\
    \ institution, location, and branch metadata."
  name: swift-code
- description: Compare two texts and get a cosine similarity score between 0 and 1
  name: text-similarity
- description: Find synonyms and antonyms for any word to enhance vocabulary and writing
  name: thesaurus
- description: Get timezone information for any location by coordinates or city name
  name: timezone
- description: "Get random trivia questions with multiple-choice answers. Filter by\
    \ category (science, history, geography, sports, music, movies, literature, math,\
    \ technology, nature) and difficulty (easy, medium, hard)."
  name: trivia
- description: "Convert between units of measurement — length, weight, volume, temperature,\
    \ area, and speed"
  name: unit-conversion
- description: "Parse user agent strings to extract browser, OS, device type, and\
    \ bot detection"
  name: useragent
- description: "Detect if an IP address belongs to a VPN, proxy, Tor exit node, or\
    \ hosting provider. Returns threat scores and fraud indicators for fraud prevention\
    \ and risk assessment."
  name: vpn-detection
- description: "Get domain registration details including registrar, name servers,\
    \ status, creation and expiry dates, and DNSSEC information."
  name: whois
- description: "Get random words with definitions and parts of speech. Perfect for\
    \ vocabulary builders, educational apps, word games, or content inspiration."
  name: random-word
- description: Calculate the number of working days between two dates with optional
    country-specific holidays
  name: working-days
- description: Get the current time for any IANA timezone by name
  name: world-time
paths:
  /v1/text/advice:
    get:
      description: Returns a random piece of advice
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 42
                  advice: Don't compare yourself to others. Compare yourself to the
                    person you were yesterday.
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_text_advice_get_200_response"
          description: Successful response
      security:
      - requiems-api-key: []
      summary: Get Random Advice
      tags:
      - advice
  /v1/technology/barcode:
    get:
      description: Returns a raw PNG image of the barcode. Ideal for direct embedding
        or file download.
      parameters:
      - description: The text or numeric string to encode in the barcode
        explode: true
        in: query
        name: data
        required: true
        schema:
          example: "123456789"
          type: string
        style: form
      - description: "Barcode format: code128, code93, code39, ean8, ean13"
        explode: true
        in: query
        name: type
        required: true
        schema:
          example: code128
          type: string
        style: form
      responses:
        "200":
          description: Successful response
        "400":
          description: "Missing or invalid parameters (e.g. data not provided, unsupported\
            \ type)"
        "422":
          description: "Data is invalid for the chosen barcode type (e.g. wrong digit\
            \ count for EAN-8/EAN-13, non-numeric EAN data)"
      security:
      - requiems-api-key: []
      summary: Generate Barcode (PNG)
      tags:
      - barcode
  /v1/technology/barcode/base64:
    get:
      description: "Returns a JSON envelope containing the barcode as a base64-encoded\
        \ PNG string, along with its type and dimensions."
      parameters:
      - description: The text or numeric string to encode in the barcode
        explode: true
        in: query
        name: data
        required: true
        schema:
          example: "123456789"
          type: string
        style: form
      - description: "Barcode format: code128, code93, code39, ean8, ean13"
        explode: true
        in: query
        name: type
        required: true
        schema:
          example: code128
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  image: <base64-encoded PNG data>
                  type: code128
                  width: 300
                  height: 100
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_barcode_base64_get_200_response"
          description: Successful response
        "400":
          description: "Missing or invalid parameters (e.g. data not provided, unsupported\
            \ type)"
        "422":
          description: "Data is invalid for the chosen barcode type (e.g. wrong digit\
            \ count for EAN-8/EAN-13, non-numeric EAN data)"
      security:
      - requiems-api-key: []
      summary: Generate Barcode (Base64 JSON)
      tags:
      - barcode
  /v1/technology/base64/encode:
    post:
      description: Encode a plain-text string to Base64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_technology_base64_encode_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  result: SGVsbG8sIHdvcmxkIQ==
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_base64_encode_post_200_response"
          description: Successful response
        "400":
          description: Missing or empty value field
        "422":
          description: Validation constraint on the variant field (must be standard
            or url)
      security:
      - requiems-api-key: []
      summary: Encode
      tags:
      - base64
  /v1/technology/base64/decode:
    post:
      description: Decode a Base64-encoded string back to plain text
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_technology_base64_decode_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  result: "Hello, world!"
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_base64_decode_post_200_response"
          description: Successful response
        "400":
          description: Missing or empty value field
        "422":
          description: The value is not valid Base64 and cannot be decoded
      security:
      - requiems-api-key: []
      summary: Decode
      tags:
      - base64
  /v1/finance/bin/{bin}:
    get:
      description: Returns card metadata for the given 6–8 digit BIN prefix.
      parameters:
      - description: 6–8 digit Bank Identification Number. Dashes and spaces are stripped
          automatically.
        explode: false
        in: path
        name: bin
        required: true
        schema:
          example: "424242"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  bin: "424242"
                  scheme: visa
                  card_type: credit
                  card_level: classic
                  issuer_name: Chase
                  issuer_url: www.chase.com
                  issuer_phone: "+18002324000"
                  country_code: US
                  country_name: United States
                  prepaid: false
                  luhn: true
                  confidence: 0.92
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_bin__bin__get_200_response"
          description: Successful response
        "400":
          description: BIN is not 6–8 digits or contains non-digit characters.
        "404":
          description: BIN prefix not found in the database.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: BIN Lookup
      tags:
      - bin-lookup
  /v1/entertainment/chuck-norris:
    get:
      description: Returns a randomly selected Chuck Norris fact from the built-in
        database.
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: cn_0
                  fact: Chuck Norris can divide by zero.
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_entertainment_chuck_norris_get_200_response"
          description: Successful response
      security:
      - requiems-api-key: []
      summary: Get Random Chuck Norris Fact
      tags:
      - chuck-norris
  /v1/places/cities/{city}:
    get:
      description: Returns metadata for a city by name. Lookup is case-insensitive.
      parameters:
      - description: "City name to look up (e.g. london, tokyo, new york city)"
        explode: false
        in: path
        name: city
        required: true
        schema:
          example: london
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  name: London
                  country: GB
                  population: 7556900
                  timezone: Europe/London
                  lat: 51.5085
                  lon: -0.1257
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_places_cities__city__get_200_response"
          description: Successful response
        "404":
          description: No city with that name was found in the dataset.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Get City Info
      tags:
      - cities
  /v1/technology/color:
    get:
      description: Convert a color value from one format to another. The response
        always includes all four formats.
      parameters:
      - description: "Source color format: hex, rgb, hsl, or cmyk"
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: hex
          type: string
        style: form
      - description: "Target color format: hex, rgb, hsl, or cmyk"
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: hsl
          type: string
        style: form
      - description: "Color value in the source format (e.g. #ff5733, rgb(255,87,51),\
          \ hsl(11,100%,60%), cmyk(0%,66%,80%,0%))"
        explode: true
        in: query
        name: value
        required: true
        schema:
          example: "#ff5733"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  input: "#ff5733"
                  result: "hsl(11, 100%, 60%)"
                  formats:
                    hex: "#ff5733"
                    rgb: "rgb(255, 87, 51)"
                    hsl: "hsl(11, 100%, 60%)"
                    cmyk: "cmyk(0%, 66%, 80%, 0%)"
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_color_get_200_response"
          description: Successful response
        "400":
          description: "One or more of from, to, or value parameters is missing or\
            \ the from/to value is not one of: hex, rgb, hsl, cmyk."
        "422":
          description: The value cannot be parsed in the specified from format.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Convert Color
      tags:
      - color-conversion
  /v1/finance/commodities/{commodity}:
    get:
      description: Returns the latest annual average price and up to 10 years of historical
        data for the requested commodity slug.
      parameters:
      - description: "Commodity slug (e.g. gold, silver, oil). See supported slugs\
          \ below."
        explode: false
        in: path
        name: commodity
        required: true
        schema:
          example: gold
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  commodity: gold
                  name: Gold
                  price: 2386.33
                  unit: oz
                  currency: USD
                  change_24h: 23.01
                  historical:
                  - period: "2023"
                    price: 1940.54
                  - period: "2022"
                    price: 1800.12
                  - period: "2021"
                    price: 1798.52
                  - period: "2020"
                    price: 1769.64
                  - period: "2019"
                    price: 1392.6
                  - period: "2018"
                    price: 1268.93
                  - period: "2017"
                    price: 1257.15
                  - period: "2016"
                    price: 1251.65
                  - period: "2015"
                    price: 1160.06
                  - period: "2014"
                    price: 1266.4
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_commodities__commodity__get_200_response"
          description: Successful response
        "404":
          description: No data found for the given commodity slug. Check the supported
            slugs list.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Get Commodity Price
      tags:
      - commodities
  /v1/technology/counter/{namespace}:
    get:
      description: Get the current value of a counter without incrementing it
      parameters:
      - description: "Counter namespace (1-64 chars: alphanumeric, hyphen, underscore)"
        explode: false
        in: path
        name: namespace
        required: true
        schema:
          example: page-views
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  namespace: page-views
                  value: 42
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_counter__namespace__get_200_response"
          description: Successful response
        "400":
          description: "Invalid namespace: must be 1–64 chars, alphanumeric, hyphen\
            \ or underscore only"
        "500":
          description: Internal server error
      security:
      - requiems-api-key: []
      summary: Get Counter Value
      tags:
      - counter
    post:
      description: Atomically increment a counter in the specified namespace and return
        the new value
      parameters:
      - description: "Counter namespace (1-64 chars: alphanumeric, hyphen, underscore)"
        explode: false
        in: path
        name: namespace
        required: true
        schema:
          example: page-views
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  namespace: page-views
                  value: 42
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_counter__namespace__post_200_response"
          description: Successful response
        "400":
          description: "Invalid namespace: must be 1–64 chars, alphanumeric, hyphen\
            \ or underscore only"
        "500":
          description: Internal server error
      security:
      - requiems-api-key: []
      summary: Increment Counter
      tags:
      - counter
  /v1/finance/crypto/{symbol}:
    get:
      description: Returns current price data for the given cryptocurrency symbol.
      parameters:
      - description: "Uppercase ticker symbol (e.g. BTC, ETH, SOL)"
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          example: BTC
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  symbol: BTC
                  name: Bitcoin
                  price_usd: 42000.5
                  change_24h: 2.5
                  market_cap: 820000000000
                  volume_24h: 25000000000
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_crypto__symbol__get_200_response"
          description: Successful response
        "422":
          description: The symbol is not in the supported coin list.
        "503":
          description: CoinGecko is unavailable or returned an unexpected response.
      security:
      - requiems-api-key: []
      summary: Get Crypto Price
      tags:
      - crypto
  /v1/entertainment/jokes/dad:
    get:
      description: Returns a randomly selected dad joke from the collection.
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: joke_7
                  joke: Why don't scientists trust atoms? Because they make up everything!
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_entertainment_jokes_dad_get_200_response"
          description: Successful response
        "401":
          description: Missing API key
        "403":
          description: Invalid or revoked API key
      security:
      - requiems-api-key: []
      summary: Get Random Dad Joke
      tags:
      - dad-jokes
  /v1/technology/format:
    post:
      description: "Convert content from one structured data format to another. Supported\
        \ formats: json, yaml, csv, xml, toml."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_technology_format_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  result: |
                    age: 30
                    name: Alice
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_format_post_200_response"
          description: Successful response
        "413":
          description: The content field exceeds the 512 KB limit.
        "422":
          description: "One of from, to, or content is missing, or from/to is not\
            \ one of the supported format values.; The content field is not valid\
            \ JSON (when from is json).; The content field is not valid YAML (when\
            \ from is yaml).; The content field is not valid CSV, or a row has more\
            \ columns than the header (when from is csv).; The content field is not\
            \ valid XML (when from is xml).; The content field is not valid TOML (when\
            \ from is toml).; The data structure is incompatible with the target format\
            \ (e.g. converting a JSON array to TOML, which requires a top-level object)."
      security:
      - requiems-api-key: []
      summary: Convert Format
      tags:
      - data-format-conversion
  /v1/text/detect-language:
    post:
      description: "Identifies the language of the provided text and returns the language\
        \ name, ISO 639-1 code, and confidence score."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_text_detect_language_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  language: French
                  code: fr
                  confidence: 0.98
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_text_detect_language_post_200_response"
          description: Successful response
        "400":
          description: The request body is missing or malformed.
        "422":
          description: The text field is missing or empty.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Detect Language
      tags:
      - detect-language
  /v1/text/dictionary/{word}:
    get:
      description: "Returns the definition, phonetics, examples, and synonyms for\
        \ the given word."
      parameters:
      - description: The word to look up in the dictionary
        explode: false
        in: path
        name: word
        required: true
        schema:
          example: ephemeral
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  word: ephemeral
                  phonetic: /ɪˈfɛm(ə)rəl/
                  definitions:
                  - partOfSpeech: adjective
                    definition: lasting for a very short time
                    example: ephemeral pleasures
                  synonyms:
                  - transient
                  - fleeting
                  - momentary
                  - brief
                  - short-lived
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_text_dictionary__word__get_200_response"
          description: Successful response
        "400":
          description: The word path parameter is missing.
        "404":
          description: The word was not found in the dictionary dataset.
      security:
      - requiems-api-key: []
      summary: Dictionary Lookup
      tags:
      - dictionary
  /v1/networking/disposable/check:
    post:
      description: Validate whether an email address uses a disposable domain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_networking_disposable_check_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  email: user@tempmail.com
                  is_disposable: true
                  domain: tempmail.com
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_disposable_check_post_200_response"
          description: Successful response
        "400":
          description: The request body is missing or malformed; The email address
            format is invalid
      security:
      - requiems-api-key: []
      summary: Check Single Email
      tags:
      - disposable_email
  /v1/networking/disposable/batch:
    post:
      description: Validate multiple email addresses in a single request (max 100
        emails)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_networking_disposable_batch_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  results:
                  - email: user1@gmail.com
                    is_disposable: false
                    domain: gmail.com
                  - email: user2@tempmail.com
                    is_disposable: true
                    domain: tempmail.com
                  - email: user3@guerrillamail.com
                    is_disposable: true
                    domain: guerrillamail.com
                  total: 3
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_disposable_batch_post_200_response"
          description: Successful response
        "400":
          description: The request body is missing or malformed; The emails field
            is missing; Too many emails in the request
      security:
      - requiems-api-key: []
      summary: Check Batch Emails
      tags:
      - disposable_email
  /v1/networking/disposable/domain/{domain}:
    get:
      description: Check if a specific domain is in the disposable blocklist
      parameters:
      - description: The domain to check
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: tempmail.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  domain: tempmail.com
                  is_disposable: true
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_disposable_domain__domain__get_200_response"
          description: Successful response
        "400":
          description: The domain parameter is missing
      security:
      - requiems-api-key: []
      summary: Check Domain
      tags:
      - disposable_email
  /v1/networking/disposable/stats:
    get:
      description: Get statistics about the disposable email blocklist
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  total_domains: 10500
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_disposable_stats_get_200_response"
          description: Successful response
      security:
      - requiems-api-key: []
      summary: Get Statistics
      tags:
      - disposable_email
  /v1/networking/disposable/domains:
    get:
      description: Get a paginated list of all disposable domains in the blocklist
      parameters:
      - description: "Page number (default: 1)"
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: "Items per page (default: 100, max: 1000)"
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  domains:
                  - tempmail.com
                  - guerrillamail.com
                  - 10minutemail.com
                  total: 10500
                  page: 1
                  per_page: 100
                  has_more: true
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_disposable_domains_get_200_response"
          description: Successful response
      security:
      - requiems-api-key: []
      summary: List Domains (Paginated)
      tags:
      - disposable_email
  /v1/networking/domain/{domain}:
    get:
      description: Returns DNS records and availability status for the given domain.
      parameters:
      - description: The domain to look up (e.g. example.com)
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: example.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  domain: example.com
                  available: false
                  dns:
                    a:
                    - 93.184.216.34
                    aaaa:
                    - 2606:2800:220:1:248:1893:25c8:1946
                    mx: []
                    ns:
                    - a.iana-servers.net.
                    - b.iana-servers.net.
                    txt:
                    - v=spf1 -all
                    cname: ""
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_domain__domain__get_200_response"
          description: Successful response
        "400":
          description: "The domain parameter is not a valid hostname (e.g. missing\
            \ TLD, invalid characters, or leading/trailing hyphens)."
      security:
      - requiems-api-key: []
      summary: Get Domain Info
      tags:
      - domain-info
  /v1/text/normalize:
    post:
      description: Normalizes a single email address and returns the canonical form
        together with a breakdown of all transformations applied.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_text_normalize_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  original: Te.st.User+spam@Googlemail.com
                  normalized: testuser@gmail.com
                  local: testuser
                  domain: gmail.com
                  changes:
                  - lowercased
                  - removed_dots
                  - removed_plus_tag
                  - canonicalised_domain
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_text_normalize_post_200_response"
          description: Successful response
        "400":
          description: "The request body is missing, not valid JSON, or contains unknown\
            \ fields."
        "422":
          description: The email field is missing or not a valid email address format.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Normalize Email
      tags:
      - email-normalize
  /v1/text/normalize/batch:
    post:
      description: "Normalizes up to 100 email addresses in one request. Results are\
        \ in the same order as the input. Each item includes valid (boolean); when\
        \ false, only original and message are set. Usage is billed per email processed\
        \ (see gateway usage headers)."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_text_normalize_batch_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  results:
                  - original: user@example.com
                    normalized: user@example.com
                    local: user
                    domain: example.com
                    changes: []
                    valid: true
                  - original: not-an-email
                    valid: false
                    message: invalid email address
                  - original: te.st@gmail.com
                    normalized: test@gmail.com
                    local: test
                    domain: gmail.com
                    changes:
                    - lowercased
                    - removed_dots
                    valid: true
                  total: 3
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_text_normalize_batch_post_200_response"
          description: Successful response
        "400":
          description: Invalid JSON or unknown fields in the body
        "422":
          description: "Missing emails, empty array, too many items, or empty string\
            \ in the array"
      security:
      - requiems-api-key: []
      summary: Normalize Email Batch
      tags:
      - email-normalize
  /v1/validation/email:
    post:
      description: "Validates a single email address and returns a full breakdown\
        \ of syntax validity, MX record status, disposable domain check, normalized\
        \ form, and any typo suggestion."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_validation_email_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  email: user@gmial.com
                  valid: false
                  syntax_valid: true
                  mx_valid: false
                  disposable: false
                  normalized: user@gmial.com
                  domain: gmial.com
                  suggestion: gmail.com
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_validation_email_post_200_response"
          description: Successful response
        "400":
          description: "The request body is missing, not valid JSON, or contains unknown\
            \ fields."
        "422":
          description: The email field is missing from the request body.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Validate Email
      tags:
      - email-validate
  /v1/validation/email/batch:
    post:
      description: "Validates up to 50 email addresses in a single request. Each email\
        \ is processed independently and returns a full validation breakdown (syntax,\
        \ MX record, disposable check, normalization, and typo suggestion). Invalid\
        \ emails do not fail the request. Billing: 1 credit per email."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_validation_email_batch_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  results:
                  - email: user@gmail.com
                    valid: true
                    syntax_valid: true
                    mx_valid: true
                    disposable: false
                    normalized: user@gmail.com
                    domain: gmail.com
                    suggestion: null
                  - email: user@gmial.com
                    valid: false
                    syntax_valid: true
                    mx_valid: false
                    disposable: false
                    normalized: user@gmial.com
                    domain: gmial.com
                    suggestion: gmail.com
                  total: 2
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_validation_email_batch_post_200_response"
          description: Successful response
        "400":
          description: "Invalid JSON, malformed request body, or unexpected field\
            \ types."
        "422":
          description: Valid JSON body that fails field validation (empty array or
            more than 50 emails).
        "500":
          description: Unexpected server error
      security:
      - requiems-api-key: []
      summary: Validate Emails (Batch)
      tags:
      - email-validate
  /v1/entertainment/emoji/random:
    get:
      description: Returns a randomly selected emoji with its full metadata.
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  emoji: 😀
                  name: grinning_face
                  category: Smileys & Emotion
                  unicode: U+1F600
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_entertainment_emoji_random_get_200_response"
          description: Successful response
      security:
      - requiems-api-key: []
      summary: Get Random Emoji
      tags:
      - emoji
  /v1/entertainment/emoji/search:
    get:
      description: Search for emojis whose name or category contains the given query
        string (case-insensitive). Returns a list of all matches.
      parameters:
      - description: "Search term to match against emoji names and categories (e.g.\
          \ happy, heart, food)"
        explode: true
        in: query
        name: q
        required: true
        schema:
          example: happy
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  items:
                  - emoji: 😄
                    name: grinning_face_with_smiling_eyes
                    category: Smileys & Emotion
                    unicode: U+1F604
                  total: 1
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_entertainment_emoji_search_get_200_response"
          description: Successful response
        "400":
          description: The q query parameter is missing or empty.
      security:
      - requiems-api-key: []
      summary: Search Emoji
      tags:
      - emoji
  /v1/entertainment/emoji/{name}:
    get:
      description: Returns a specific emoji by its CLDR snake_case name. The name
        is case-insensitive.
      parameters:
      - description: "CLDR snake_case emoji name (e.g. grinning_face, thumbs_up)"
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: grinning_face
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  emoji: 😀
                  name: grinning_face
                  category: Smileys & Emotion
                  unicode: U+1F600
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_entertainment_emoji__name__get_200_response"
          description: Successful response
        "404":
          description: No emoji found with the given name.
      security:
      - requiems-api-key: []
      summary: Get Emoji by Name
      tags:
      - emoji
  /v1/finance/exchange-rate:
    get:
      description: Returns the current exchange rate between two currencies.
      parameters:
      - description: "ISO 4217 source currency code (3 letters, e.g. USD)"
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: USD
          type: string
        style: form
      - description: "ISO 4217 target currency code (3 letters, e.g. EUR)"
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: EUR
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  from: USD
                  to: EUR
                  rate: 0.92
                  timestamp: 2024-12-15T00:00:00Z
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_exchange_rate_get_200_response"
          description: Successful response
        "400":
          description: A required parameter is missing or the currency code is not
            exactly 3 alphabetic characters.
        "422":
          description: One or both currency codes are not recognised by the upstream
            data source.
        "503":
          description: The exchange rate data source is temporarily unavailable.
      security:
      - requiems-api-key: []
      summary: Get Exchange Rate
      tags:
      - exchange-rate
  /v1/finance/convert:
    get:
      description: Converts an amount from one currency to another and returns the
        rate alongside the converted value.
      parameters:
      - description: "ISO 4217 source currency code (3 letters, e.g. USD)"
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: USD
          type: string
        style: form
      - description: "ISO 4217 target currency code (3 letters, e.g. EUR)"
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: EUR
          type: string
        style: form
      - description: Amount to convert. Must be greater than 0.
        explode: true
        in: query
        name: amount
        required: true
        schema:
          example: 100
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  from: USD
                  to: EUR
                  rate: 0.92
                  amount: 100
                  converted: 92
                  timestamp: 2024-12-15T00:00:00Z
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_convert_get_200_response"
          description: Successful response
        "400":
          description: "A required parameter is missing, the currency code is not\
            \ 3 alphabetic characters, or the amount is 0 or negative."
        "422":
          description: One or both currency codes are not recognised by the upstream
            data source.
        "503":
          description: The exchange rate data source is temporarily unavailable.
      security:
      - requiems-api-key: []
      summary: Convert Currency
      tags:
      - exchange-rate
  /v1/entertainment/facts:
    get:
      description: "Returns a randomly selected fact, optionally filtered by category."
      parameters:
      - description: "Filter by category. Valid values: science, history, technology,\
          \ nature, space, food"
        explode: true
        in: query
        name: category
        required: false
        schema:
          example: science
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  fact: "Honey never spoils. Archaeologists have found 3,000-year-old\
                    \ honey in Egyptian tombs that was still perfectly edible."
                  category: science
                  source: National Geographic
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_entertainment_facts_get_200_response"
          description: Successful response
        "400":
          description: bad_request
      security:
      - requiems-api-key: []
      summary: Get Random Fact
      tags:
      - facts
  /v1/health/exercises:
    get:
      description: Returns a paginated list of exercises. All filter parameters are
        optional and combinable.
      parameters:
      - description: "Filter by body part (e.g. chest, back, upper legs). Use /v1/health/body-parts\
          \ for valid values."
        explode: true
        in: query
        name: body_part
        required: false
        schema:
          example: chest
          type: string
        style: form
      - description: "Filter by equipment type (e.g. barbell, dumbbell, body weight).\
          \ Use /v1/health/equipment for valid values."
        explode: true
        in: query
        name: equipment
        required: false
        schema:
          example: barbell
          type: string
        style: form
      - description: "Filter by target or secondary muscle (e.g. biceps, glutes).\
          \ Use /v1/health/muscles for valid values."
        explode: true
        in: query
        name: muscle
        required: false
        schema:
          example: biceps
          type: string
        style: form
      - description: Full-text search on exercise name.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: bench press
          type: string
        style: form
      - description: "Page number (default: 1)"
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: "Results per page, 1–100 (default: 20)"
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  items:
                  - id: 1
                    name: barbell bench press
                    body_parts:
                    - chest
                    equipment:
                    - barbell
                    target_muscles:
                    - pectorals
                    secondary_muscles:
                    - triceps
                    - deltoids
                    instructions:
                    - Lie flat on a bench and grip the barbell slightly wider than
                      shoulder-width.
                    - Lower the bar to your chest under control.
                    - Press the bar back up to full arm extension.
                    - Repeat for the desired number of repetitions.
                  total: 312
                  page: 1
                  per_page: 20
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_health_exercises_get_200_response"
          description: Successful response
        "400":
          description: A query parameter has an invalid value (e.g. per_page out of
            range).
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: List Exercises
      tags:
      - fitness-exercises
  /v1/health/exercises/{id}:
    get:
      description: Returns a single exercise by its numeric ID.
      parameters:
      - description: Numeric exercise ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 1
                  name: barbell bench press
                  body_parts:
                  - chest
                  equipment:
                  - barbell
                  target_muscles:
                  - pectorals
                  secondary_muscles:
                  - triceps
                  - deltoids
                  instructions:
                  - Lie flat on a bench and grip the barbell slightly wider than shoulder-width.
                  - Lower the bar to your chest under control.
                  - Press the bar back up to full arm extension.
                  - Repeat for the desired number of repetitions.
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_health_exercises__id__get_200_response"
          description: Successful response
        "400":
          description: The id parameter is not a positive integer.
        "404":
          description: No exercise exists with the given ID.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Get Exercise by ID
      tags:
      - fitness-exercises
  /v1/health/exercises/random:
    get:
      description: "Returns a single randomly selected exercise. Accepts the same\
        \ filter parameters as the list endpoint, so you can get a random chest exercise,\
        \ a random bodyweight exercise, etc."
      parameters:
      - description: Restrict random selection to this body part.
        explode: true
        in: query
        name: body_part
        required: false
        schema:
          example: back
          type: string
        style: form
      - description: Restrict random selection to this equipment type.
        explode: true
        in: query
        name: equipment
        required: false
        schema:
          example: body weight
          type: string
        style: form
      - description: Restrict random selection to exercises targeting this muscle.
        explode: true
        in: query
        name: muscle
        required: false
        schema:
          example: glutes
          type: string
        style: form
      - description: Restrict random selection to exercises matching this search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: curl
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: 42
                  name: dumbbell curl
                  body_parts:
                  - upper arms
                  equipment:
                  - dumbbell
                  target_muscles:
                  - biceps
                  secondary_muscles:
                  - brachialis
                  instructions:
                  - "Stand with a dumbbell in each hand, arms fully extended."
                  - "Curl the weights toward your shoulders, keeping your elbows close\
                    \ to your torso."
                  - "Squeeze at the top, then lower the weights slowly."
                  - Repeat for the desired number of repetitions.
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_health_exercises_random_get_200_response"
          description: Successful response
        "404":
          description: No exercises match the given filters.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Random Exercise
      tags:
      - fitness-exercises
  /v1/health/body-parts:
    get:
      description: Returns a sorted list of all distinct body part values present
        in the dataset. Use these as valid values for the body_part filter.
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  items:
                  - back
                  - cardio
                  - chest
                  - lower arms
                  - lower legs
                  - neck
                  - shoulders
                  - upper arms
                  - upper legs
                  - waist
                  total: 10
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_health_body_parts_get_200_response"
          description: Successful response
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: List Body Parts
      tags:
      - fitness-exercises
  /v1/health/equipment:
    get:
      description: Returns a sorted list of all distinct equipment types. Use these
        as valid values for the equipment filter.
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  items:
                  - band
                  - barbell
                  - body weight
                  - cable
                  - dumbbell
                  - ez barbell
                  - kettlebell
                  - medicine ball
                  - stability ball
                  - tire
                  total: 28
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_health_equipment_get_200_response"
          description: Successful response
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: List Equipment
      tags:
      - fitness-exercises
  /v1/health/muscles:
    get:
      description: Returns a sorted list of all distinct muscle names (combining target
        and secondary muscles). Use these as valid values for the muscle filter.
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  items:
                  - biceps
                  - calves
                  - deltoids
                  - glutes
                  - hamstrings
                  - lats
                  - pectorals
                  - quadriceps
                  - traps
                  - triceps
                  total: 51
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_health_muscles_get_200_response"
          description: Successful response
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: List Muscles
      tags:
      - fitness-exercises
  /v1/places/geocode:
    get:
      description: Converts a free-text address into latitude and longitude coordinates.
      parameters:
      - description: "The address to geocode (street, city, country, or any combination)"
        explode: true
        in: query
        name: address
        required: true
        schema:
          example: "1600 Pennsylvania Ave NW, Washington DC"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  address: "White House, 1600, Pennsylvania Avenue Northwest, Ward\
                    \ 2, Washington, District of Columbia, 20500, United States"
                  city: Washington
                  country: US
                  lat: 38.8976763
                  lon: -77.0365298
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_places_geocode_get_200_response"
          description: Successful response
        "400":
          description: The address parameter is missing.
        "404":
          description: No results found for the given address.
        "503":
          description: The geocoding service is temporarily unavailable.
      security:
      - requiems-api-key: []
      summary: Geocode Address
      tags:
      - geocode
  /v1/places/reverse-geocode:
    get:
      description: Converts geographic coordinates into a human-readable address.
      parameters:
      - description: Latitude of the location (-90 to 90)
        explode: true
        in: query
        name: lat
        required: true
        schema:
          example: 38.8977
          type: number
        style: form
      - description: Longitude of the location (-180 to 180)
        explode: true
        in: query
        name: lon
        required: true
        schema:
          example: -77.0365
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  lat: 38.8977
                  lon: -77.0365
                  address: "White House, 1600, Pennsylvania Avenue Northwest, Ward\
                    \ 2, Washington, District of Columbia, 20500, United States"
                  city: Washington
                  country: US
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_places_reverse_geocode_get_200_response"
          description: Successful response
        "400":
          description: "lat or lon is missing or out of range (lat: -90..90, lon:\
            \ -180..180)."
        "404":
          description: No address found for the given coordinates.
        "503":
          description: The geocoding service is temporarily unavailable.
      security:
      - requiems-api-key: []
      summary: Reverse Geocode
      tags:
      - geocode
  /v1/places/holidays:
    get:
      description: Returns a list of public holidays for the specified country and
        year
      parameters:
      - description: "ISO 3166-1 alpha-2 country code (e.g., \"US\", \"GB\", \"DE\"\
          )"
        explode: true
        in: query
        name: country
        required: true
        schema:
          example: US
          type: string
        style: form
      - description: "Year for which to retrieve holidays (e.g., 2025)"
        explode: true
        in: query
        name: year
        required: true
        schema:
          example: 2025
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  country: US
                  year: 2025
                  holidays:
                  - date: 2025-01-01
                    name: New Year's Day
                  - date: 2025-07-04
                    name: Independence Day
                  total: 11
                metadata:
                  timestamp: 2025-01-15T10:30:00Z
              schema:
                $ref: "#/components/schemas/_v1_places_holidays_get_200_response"
          description: Successful response
        "400":
          description: Missing or invalid country code or year parameter
        "404":
          description: No holidays found for the specified country and year
      security:
      - requiems-api-key: []
      summary: Get Holidays
      tags:
      - holidays
  /v1/places/holidays/batch:
    post:
      description: "Returns holidays for up to 50 (country, year) pairs in a single\
        \ request. Each pair is processed independently — if one combination has no\
        \ data, it returns found:false without failing the entire batch."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_places_holidays_batch_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  results:
                  - country: US
                    year: 2025
                    found: true
                    holidays:
                    - date: 2025-01-01
                      name: New Year's Day
                    - date: 2025-07-04
                      name: Independence Day
                    total: 11
                  - country: AR
                    year: 2024
                    found: true
                    holidays:
                    - date: 2024-01-01
                      name: Año Nuevo
                    total: 19
                  - country: AQ
                    year: 2025
                    found: false
                  total: 3
                metadata:
                  timestamp: 2025-01-15T10:30:00Z
              schema:
                $ref: "#/components/schemas/_v1_places_holidays_batch_post_200_response"
          description: Successful response
        "400":
          description: Malformed request body
        "422":
          description: "queries is missing, empty, exceeds 50 items, or contains invalid\
            \ country codes or years"
      security:
      - requiems-api-key: []
      summary: Batch Get Holidays
      tags:
      - holidays
  /v1/entertainment/horoscope/{sign}:
    get:
      description: Returns a daily horoscope reading for the specified zodiac sign.
      parameters:
      - description: "Zodiac sign (case-insensitive). Supported values: aries, taurus,\
          \ gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius,\
          \ pisces"
        explode: false
        in: path
        name: sign
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  sign: aries
                  date: 2024-12-15
                  horoscope: Today is a great day for new beginnings. Trust your instincts
                    and take that first step toward your goals.
                  lucky_number: 7
                  mood: energetic
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_entertainment_horoscope__sign__get_200_response"
          description: Successful response
      security:
      - requiems-api-key: []
      summary: Get Daily Horoscope
      tags:
      - horoscope
  /v1/finance/iban/{iban}:
    get:
      description: "Validates an IBAN and returns the country, bank code, and account\
        \ number. Spaces in the input are stripped automatically. Always returns HTTP\
        \ 200 — check the valid field to determine whether the IBAN is valid."
      parameters:
      - description: The IBAN to validate. Spaces are stripped. Case-insensitive.
        explode: false
        in: path
        name: iban
        required: true
        schema:
          example: DE89370400440532013000
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  iban: DE89370400440532013000
                  valid: true
                  country: Germany
                  bank_code: "37040044"
                  account: "0532013000"
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_iban__iban__get_200_response"
          description: Successful response
        "500":
          description: Unexpected server error (e.g. database unreachable).
      security:
      - requiems-api-key: []
      summary: Validate IBAN
      tags:
      - iban
  /v1/finance/iban/batch:
    post:
      description: Validates up to 50 iban numbers in a single request. Results are
        returned in the same order as the input.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_finance_iban_batch_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  results:
                  - iban: GB29NWBK60161331926819
                    valid: true
                    country: United Kingdom
                    bank_code: NWBK
                    account: "31926819"
                  - iban: DE89370400440532013000
                    valid: true
                    country: Germany
                    bank_code: "37040044"
                    account: "0532013000"
                  - iban: XX89370400440532013000
                    valid: false
                    country: ""
                    bank_code: ""
                    account: ""
                  total: 3
                metadata:
                  timestamp: 2026-05-03T19:25:02Z
              schema:
                $ref: "#/components/schemas/_v1_finance_iban_batch_post_200_response"
          description: Successful response
        "422":
          description: "The numbers array is missing, empty, or contains more than\
            \ 50 items."
      security:
      - requiems-api-key: []
      summary: Batch Validate IBANs
      tags:
      - iban
  /v1/finance/inflation:
    get:
      description: Returns the latest annual CPI inflation rate for a country plus
        the previous 10 years of historical data.
      parameters:
      - description: "ISO 3166-1 alpha-2 country code (e.g. US, GB, DE). Case-insensitive."
        explode: true
        in: query
        name: country
        required: true
        schema:
          example: US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  country: US
                  rate: 2.9495
                  period: "2024"
                  historical:
                  - period: "2023"
                    rate: 4.1163
                  - period: "2022"
                    rate: 8.0028
                  - period: "2021"
                    rate: 4.6979
                  - period: "2020"
                    rate: 1.2336
                  - period: "2019"
                    rate: 1.8122
                  - period: "2018"
                    rate: 2.4426
                  - period: "2017"
                    rate: 2.1301
                  - period: "2016"
                    rate: 1.2616
                  - period: "2015"
                    rate: 0.1186
                  - period: "2014"
                    rate: 1.6222
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_inflation_get_200_response"
          description: Successful response
        "400":
          description: The country parameter is missing or is not a valid ISO 3166-1
            alpha-2 code.
        "404":
          description: No inflation data found for the given country code.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Get Inflation Rate
      tags:
      - inflation
  /v1/finance/inflation/batch:
    post:
      description: "Returns inflation data for up to 50 countries in a single request.\
        \ Results are in the same order as the input. Countries with no data return\
        \ found: false instead of failing the whole request. Billing: 1 credit per\
        \ country (not per HTTP request)."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_finance_inflation_batch_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  results:
                  - country: US
                    found: true
                    rate: 2.9495
                    period: "2024"
                    historical:
                    - period: "2023"
                      rate: 4.1163
                  - country: AR
                    found: true
                    rate: 211.4
                    period: "2024"
                    historical: []
                  - country: XX
                    found: false
                  total: 3
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_inflation_batch_post_200_response"
          description: Successful response
        "422":
          description: "Body is invalid: empty array, more than 50 items, or a bad\
            \ country code."
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Batch Inflation Rates
      tags:
      - inflation
  /v1/networking/ip/asn:
    get:
      description: "Look up ASN, organization, ISP, and network details for the requesting\
        \ client's IP address. Useful when you want information about the user making\
        \ the request without specifying an IP explicitly."
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  ip: 8.8.8.8
                  asn: AS15169
                  org: Google LLC
                  isp: Google Public DNS
                  domain: google.com
                  route: 8.8.8.0/24
                  type: hosting
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_ip_asn_get_200_response"
          description: Successful response
        "500":
          description: Unexpected server error
      security:
      - requiems-api-key: []
      summary: Lookup ASN (Caller IP)
      tags:
      - ip-asn
  /v1/networking/ip/asn/{ip}:
    get:
      description: "Look up ASN, organization, ISP, and network details for a specific\
        \ IP address."
      parameters:
      - description: The IP address to look up (supports IPv4 and IPv6)
        explode: false
        in: path
        name: ip
        required: true
        schema:
          example: 8.8.8.8
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  ip: 8.8.8.8
                  asn: AS15169
                  org: Google LLC
                  isp: Google Public DNS
                  domain: google.com
                  route: 8.8.8.0/24
                  type: hosting
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_ip_asn__ip__get_200_response"
          description: Successful response
        "400":
          description: The IP address is invalid
        "500":
          description: Unexpected server error
      security:
      - requiems-api-key: []
      summary: Lookup ASN for IP
      tags:
      - ip-asn
  /v1/networking/ip:
    get:
      description: Get geolocation and network information for the requesting client's
        IP address. Useful when you want information about the user making the request
        without specifying an IP explicitly.
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  ip: 8.8.8.8
                  country: United States
                  country_code: US
                  city: Mountain View
                  isp: Google Public DNS
                  is_vpn: false
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_ip_get_200_response"
          description: Successful response
        "500":
          description: Unexpected server error
      security:
      - requiems-api-key: []
      summary: Get IP Info (Caller IP)
      tags:
      - ip-info
  /v1/networking/ip/{ip}:
    get:
      description: Get geolocation and network information for a specific IP address.
      parameters:
      - description: The IP address to look up (supports IPv4 and IPv6)
        explode: false
        in: path
        name: ip
        required: true
        schema:
          example: 8.8.8.8
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  ip: 8.8.8.8
                  country: United States
                  country_code: US
                  city: Mountain View
                  isp: Google Public DNS
                  is_vpn: false
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_ip__ip__get_200_response"
          description: Successful response
        "400":
          description: The IP address is invalid
        "500":
          description: Unexpected server error
      security:
      - requiems-api-key: []
      summary: Get IP Info for IP
      tags:
      - ip-info
  /v1/text/lorem:
    get:
      description: Generate Lorem Ipsum placeholder text with customizable length
        and format
      parameters:
      - description: Number of paragraphs to generate (1-20)
        explode: true
        in: query
        name: paragraphs
        required: false
        schema:
          example: 3
          type: integer
        style: form
      - description: Number of sentences per paragraph (1-20)
        explode: true
        in: query
        name: sentences
        required: false
        schema:
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.\
                    \ Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\
                    \ Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."
                  paragraphs: 1
                  wordCount: 45
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_text_lorem_get_200_response"
          description: Successful response
        "400":
          description: The paragraphs parameter is out of valid range; The sentences
            parameter is out of valid range
      security:
      - requiems-api-key: []
      summary: Generate Lorem Ipsum
      tags:
      - lorem-ipsum
  /v1/technology/markdown:
    post:
      description: Converts a Markdown string to HTML. Pass sanitize true to strip
        potentially unsafe tags like script and iframe from the output.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_technology_markdown_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  html: |
                    <h1>Hello</h1>
                    <p>This is <strong>bold</strong> and <em>italic</em> text.</p>
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_markdown_post_200_response"
          description: Successful response
        "422":
          description: unprocessable_entity
      security:
      - requiems-api-key: []
      summary: Convert Markdown to HTML
      tags:
      - markdown
  /v1/finance/mortgage:
    get:
      description: "Returns the monthly payment, total cost, and full amortization\
        \ schedule for a fixed-rate mortgage."
      parameters:
      - description: "Loan amount in your chosen currency (e.g. 300000 for $300,000)"
        explode: true
        in: query
        name: principal
        required: true
        schema:
          example: 300000
          type: number
        style: form
      - description: Annual interest rate as a percentage (e.g. 6.5 for 6.5%). Must
          be greater than 0.
        explode: true
        in: query
        name: rate
        required: true
        schema:
          example: 6.5
          type: number
        style: form
      - description: Loan term in years (1–50)
        explode: true
        in: query
        name: years
        required: true
        schema:
          example: 30
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  principal: 300000
                  rate: 6.5
                  years: 30
                  monthly_payment: 1896.2
                  total_payment: 682632
                  total_interest: 382632
                  schedule:
                  - month: 1
                    payment: 1896.2
                    principal: 271.2
                    interest: 1625
                    balance: 299728.8
                  - month: 2
                    payment: 1896.2
                    principal: 272.67
                    interest: 1623.53
                    balance: 299456.13
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_mortgage_get_200_response"
          description: Successful response
        "400":
          description: "A required parameter is missing, not a valid number, or out\
            \ of range (e.g. years > 50 or rate <= 0)."
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Calculate Mortgage
      tags:
      - mortgage
  /v1/networking/mx/{domain}:
    get:
      description: Retrieve all MX records for a domain. Results are sorted by priority
        ascending (lowest numeric value has highest mail delivery priority per RFC
        5321).
      parameters:
      - description: The domain name to look up MX records for (e.g. gmail.com)
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: gmail.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  domain: gmail.com
                  records:
                  - host: gmail-smtp-in.l.google.com.
                    priority: 5
                  - host: alt1.gmail-smtp-in.l.google.com.
                    priority: 10
                  - host: alt2.gmail-smtp-in.l.google.com.
                    priority: 20
                  - host: alt3.gmail-smtp-in.l.google.com.
                    priority: 30
                  - host: alt4.gmail-smtp-in.l.google.com.
                    priority: 40
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_networking_mx__domain__get_200_response"
          description: Successful response
        "400":
          description: The domain parameter is not a valid domain name.
        "404":
          description: No MX records were found for the domain (domain may not accept
            email).
        "500":
          description: DNS lookup failed due to an unexpected server error.
      security:
      - requiems-api-key: []
      summary: MX Lookup
      tags:
      - mx-lookup
  /v1/technology/base:
    get:
      description: Convert an integer from one number base to another.
      parameters:
      - description: "Source base (2, 8, 10, or 16)"
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 10
          type: integer
        style: form
      - description: "Target base (2, 8, 10, or 16)"
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 16
          type: integer
        style: form
      - description: "The number as a string. Accepts optional prefixes: 0x (hex),\
          \ 0b (binary), 0o (octal)."
        explode: true
        in: query
        name: value
        required: true
        schema:
          example: "255"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  input: "255"
                  from: 10
                  to: 16
                  result: ff
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_base_get_200_response"
          description: Successful response
        "400":
          description: "A required parameter is missing, the base is not one of 2/8/10/16,\
            \ or value is not valid for the given base."
      security:
      - requiems-api-key: []
      summary: Convert Base
      tags:
      - number-base-conversion
  /v1/technology/password:
    get:
      description: Generate a cryptographically secure random password with customizable
        character sets and length
      parameters:
      - description: Password length (8-128 characters)
        explode: true
        in: query
        name: length
        required: false
        schema:
          example: 16
          type: integer
        style: form
      - description: Include uppercase letters (A-Z)
        explode: true
        in: query
        name: uppercase
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Include numbers (0-9)
        explode: true
        in: query
        name: numbers
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: "Include special characters (!@#$%^&*()-_=+[]{}|;:,.<>?)"
        explode: true
        in: query
        name: symbols
        required: false
        schema:
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  password: aB3#cDeFgHiJkLmN
                  length: 16
                  strength: strong
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_password_get_200_response"
          description: Successful response
        "400":
          description: The length parameter is out of valid range (8-128)
        "500":
          description: Failed to generate password (rare cryptographic failure)
      security:
      - requiems-api-key: []
      summary: Generate Password
      tags:
      - password-generator
  /v1/validation/phone:
    get:
      description: "Validates a single phone number and returns its country, type,\
        \ formatted representation, carrier, and VOIP/virtual risk flags."
      parameters:
      - description: The phone number to validate. Must include the country calling
          code (e.g. +12015551234).
        explode: true
        in: query
        name: number
        required: true
        schema:
          example: "+447400123456"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  number: "+447400123456"
                  valid: true
                  country: GB
                  type: mobile
                  formatted: +44 7400 123456
                  carrier:
                    name: Three
                    source: metadata
                  risk:
                    is_voip: false
                    is_virtual: false
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_validation_phone_get_200_response"
          description: Successful response
        "400":
          description: The number query parameter is missing.
      security:
      - requiems-api-key: []
      summary: Validate Phone Number
      tags:
      - phone-validation
  /v1/validation/phone/batch:
    post:
      description: Validates up to 50 phone numbers in a single request. Results are
        returned in the same order as the input.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_validation_phone_batch_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  results:
                  - number: "+447400123456"
                    valid: true
                    country: GB
                    type: mobile
                    formatted: +44 7400 123456
                    carrier:
                      name: Three
                      source: metadata
                    risk:
                      is_voip: false
                      is_virtual: false
                  - number: "+12015551234"
                    valid: true
                    country: US
                    type: landline_or_mobile
                    formatted: +1 201-555-1234
                    risk:
                      is_voip: false
                      is_virtual: false
                  - number: "12345"
                    valid: false
                  total: 3
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_finance_iban_batch_post_200_response"
          description: Successful response
        "422":
          description: "The numbers array is missing, empty, or contains more than\
            \ 50 items."
      security:
      - requiems-api-key: []
      summary: Batch Validate Phone Numbers
      tags:
      - phone-validation
  /v1/places/postal/{code}:
    get:
      description: "Returns city, state, country, and coordinates for the given postal\
        \ code."
      parameters:
      - description: "The postal code to look up (e.g. 10001 for New York, SW1A 1AA\
          \ for London)"
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: "10001"
          type: string
        style: simple
      - description: "ISO 3166-1 alpha-2 country code (default: US)"
        explode: true
        in: query
        name: country
        required: false
        schema:
          example: US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  postal_code: "10001"
                  city: New York City
                  state: New York
                  country: US
                  lat: 40.7484
                  lon: -73.9967
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_places_postal__code__get_200_response"
          description: Successful response
        "404":
          description: The postal code was not found for the given country.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Lookup Postal Code
      tags:
      - postal-code
  /v1/text/profanity:
    post:
      description: "Checks text for profanity, returning a censored version and the\
        \ list of flagged words."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_v1_text_profanity_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  has_profanity: false
                  censored: Some text to check
                  flagged_words: []
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_text_profanity_post_200_response"
          description: Successful response
        "400":
          description: The request body is missing or malformed.
        "422":
          description: The text field is missing or empty.
        "500":
          description: Unexpected server error.
      security:
      - requiems-api-key: []
      summary: Check Profanity
      tags:
      - profanity
  /v1/technology/qr:
    get:
      description: Returns a raw PNG image of the QR code. Ideal for direct embedding
        or file download.
      parameters:
      - description: The text or URL to encode in the QR code
        explode: true
        in: query
        name: data
        required: true
        schema:
          example: https://example.com
          type: string
        style: form
      - description: "Image size in pixels (default: 256, min: 50, max: 1000)"
        explode: true
        in: query
        name: size
        required: false
        schema:
          example: 200
          type: integer
        style: form
      - description: "Error-correction level: low (7%), medium (15%), high (25%),\
          \ highest (30%). Higher levels are more robust to physical damage but produce\
          \ larger images. Default: medium"
        explode: true
        in: query
        name: recovery
        required: false
        schema:
          example: high
          type: string
        style: form
      responses:
        "200":
          description: Successful response
        "400":
          description: "Missing or invalid parameters (e.g. data not provided, size\
            \ out of range, unknown recovery level)"
        "500":
          description: Failed to generate QR code
      security:
      - requiems-api-key: []
      summary: Generate QR Code (PNG)
      tags:
      - qr-code
  /v1/technology/qr/base64:
    get:
      description: "Returns a JSON envelope containing the QR code as a base64-encoded\
        \ PNG string, along with its dimensions."
      parameters:
      - description: The text or URL to encode in the QR code
        explode: true
        in: query
        name: data
        required: true
        schema:
          example: https://example.com
          type: string
        style: form
      - description: "Image size in pixels (default: 256, min: 50, max: 1000)"
        explode: true
        in: query
        name: size
        required: false
        schema:
          example: 200
          type: integer
        style: form
      - description: "Error-correction level: low (7%), medium (15%), high (25%),\
          \ highest (30%). Default: medium"
        explode: true
        in: query
        name: recovery
        required: false
        schema:
          example: highest
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  image: <base64-encoded PNG data>
                  width: 256
                  height: 256
                metadata:
                  timestamp: 2026-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/_v1_technology_qr_base64_get_200_response"
          description: Successful response
        "400":
          description: "Missing or invalid parameters (e.g. data not provided, size\
            \ out of range, unknown recovery level)"
        "500":
[...]
